[2018-01-06 10:47] johnhigginsavila commented on #153
attached is the error message I receieved after running ng build --prod

Thanks.

On Sat, Jan 6, 2018 at 6:44 PM, John Higgins Avila <
johnhiggins.avila@gmail.com> wrote:

[2018-01-07 22:47] eyupodemis opened #171 "Can not run Creative tamplate on Angular"
Hi,
I am newbie in Angular.
I want to apply the product "material-dashboard-pro-angular2-html-v1.4.7" to Angular.
I set up angular latest version and copied materials into the project folders and overwrite existinf files and folders when I write ng serve command I am getting errors.
All details below.

Setting of Angular I set up, below;
Angular CLI: 1.6.3
Node: 9.3.0
OS: win32 x64
Angular: 5.1.3

[2018-01-08 08:28] lippomano commented on #107
@chelaruc any news?

[2018-01-08 09:33] chelaruc commented on #167
Hi @douglas168!

In `src/app/layouts/admin/admin-layout.component.html` you will see:
<img width="906" alt="screen shot 2018-01-08 at 11 30 32" src="https://user-images.githubusercontent.com/22840626/34665011-63f7f0fa-f467-11e7-92cb-51b2512e73aa.png">
All you have to do is to change the colors from `data-active-color` and `data-background-color`. For image you need to change the path from `style="

[2018-01-08 09:41] chelaruc commented on #170
Hi @AndreasHohnholt! Thank you for using our product! Try this component from material: [https://material.angular.io/components/autocomplete/overview](https://material.angular.io/components/autocomplete/overview).

Best,
Ciprian

[2018-01-08 09:43] chelaruc commented on #171
Hi, @eyupodemis! Thank you for using our product! Have you replace current `angular-cli.json` file with the one from our product?

Best,
Ciprian

[2018-01-08 09:52] eyupodemis commented on #171
Hi,
Yes I bought your product.
After set up angular, I replaced your files with existing files including angular-cli.json file.
Kind Regards.

[2018-01-08 10:06] chelaruc commented on #153
Hi @johnhigginsavila,

I didn't receive the attached error message. Can you send it again?

Best,
Ciprian

[2018-01-08 10:11] chelaruc commented on #171
@eyupodemis
Can you send me an archive for testing to ciprian@creative-tim.com?

[2018-01-08 11:18] eyupodemis commented on #171
Hi Chelaru,
Archive? If you mean all template folder.
I tried to send you but your mail server rejected it. it was 6mb.
How can I deliver it to you.
Many Thanks for your interest.
Kind Regards.

[2018-01-08 11:19] chelaruc commented on #171
Hi,

You can upload it on dropbox or google drive.

All the best,
Ciprian

[2018-01-08 15:46] drenda commented on #161
I've the same problem. Some news? Thanks

[2018-01-08 19:02] decisao opened #172 "Datatables Editor theming"
Hi,

I see you use datatables.net tables on this template. They have a editor plugin sold separated. If I add this plugin, It Will theme like the table?

Elieser

[2018-01-08 22:02] israelias94 opened #173 "outdated html download version"
I don't need an angular project. I only need the html template. but the html version to download is outdated.
Currently this template is on 1.4.7 version. but html template is on 1.2.1 version. I need the full version in HTML format to download.

![image](https://user-images.githubusercontent.com/16140960/34694617-1a940408-f49e-11e7-879c-394f39ad0a7b.png)

[2018-01-09 09:27] chelaruc commented on #173
Hey @israelias94!

Thank you for using our product! Material Dashboard Pro HTML and Material Dashboard Pro Angular are two different products. That's why are different versions.

All the best,
Ciprian

[2018-01-09 09:27] #173 closed

[2018-01-09 10:20] chelaruc commented on #161
Hi, @lippomano @drenda! Can you describe me what you want to do? I don't understand it very good.

Best,
Ciprian

[2018-01-09 14:09] lippomano commented on #161
@chelaruc  I need to change the color of the mat-select active option, but in your template 1.4.7 there is this code:
`.mat-option.mat-selected:not(.mat-option-multiple) { background-color: #9c27b0 !important; color: #FFFFFF !important;` so I can't override this css

[2018-01-09 14:13] niesteszeck commented on #147
Solved, pass it as attr:

`<td attr.data-search="{{client?.name}}">{{client.name | formatName}}</td>`

[2018-01-09 14:13] #147 closed

[2018-01-09 16:15] nitekon1 commented on #167
@chelaruc

I would also like to get the right sidebar settings plugin and instructions to integrate it into my project.  Also went ahead and sent you my email address.

FYI I think this would be a great article to add to the Material Dashboard Pro help documentation.

Thanks!

[2018-01-10 09:15] #167 closed

[2018-01-10 09:49] lippomano commented on #62
Sorry @chelaruc can you give me an example?
At the moment I have this 2 routings:

[code]
And of course I want a path like: 'ticketBlocks/movements' in th sidebar

[2018-01-10 10:15] lippomano commented on #62
But in my case ticketBlocks and ticketBlocksmovements are 2 different page:

**App.routing:**
[code]

[2018-01-10 10:25] chelaruc commented on #62
You are right, but you can make the second page to be child for the first one and it will be different pages.

[2018-01-10 10:29] lippomano commented on #132
Any news about it?

[2018-01-10 10:32] drenda commented on #132
Any update?

[2018-01-10 10:54] lippomano opened #174 "Material autocomplete panel issue"
I have some [autocomplete](https://material.angular.io/components/autocomplete/overview) in my application and I when I open the suggestion panel from the autocomplete and scroll the page this panel it is not fixed to the field like in the material example
![auto](https://user-images.githubusercontent.com/27501745/34768777-298af692-f5fc-11e7-99bf-6da648dfb292.PNG)

**In the theme**:

<img width="7

[2018-01-11 11:02] FabioMorcillo commented on #137
Hi @chelaruc ,

You have any news to finish this upgrade to Bootstrap 4 and Angular 5 ?

[2018-01-11 20:38] niesteszeck commented on #156
Hi, I made an import of the wizard that is angular2 designed, you can find it [here](https://github.com/niesteszeck/ng2-material-bootstrap-wizard)

[2018-01-12 09:09] chelaruc commented on #156
@niesteszeck can you make it like a plugin and add it to npmjs? It will be helpful for more people.

[2018-01-12 10:04] nysso commented on #132
any new updates about the ng 5 version ?

[2018-01-12 14:01] niesteszeck commented on #156
yes it'll. But I don't really know how yet, and for now, isn't one of my priorities. Any help from others will be welcome.

If you want to integrate it on material dashboard pro angular, just copy the wizardform folder (I have it inside `src/app/plugins/`, import it in AppComponent and it is ready (I developed it inside mdpa). If someone want my first form using this, I can share it via email, it

[2018-01-12 14:35] niesteszeck commented on #118
You need to add the 'is-empty' class to the 'form-group' when the formcomponent is not empty.

I have a method that manually adds some bootstrap classes to a formComponent:

### Functions.ts
[code]

### use it on my form component class
[code]

### and add this to a formcomponent:
[code]

[2018-01-12 14:41] drenda commented on #118
Thanks @niesteszeck for the workaround. Do you think the problem can be solved directly in the theme?

[2018-01-12 14:47] niesteszeck opened #175 "Mat Atocomplete dimension"
Hi,

How do I change the autocomplete size?

I have tried to wrap around a div whit col classes, put the col classes directly to the mat-autocomplete, but nothing

[code]
[code]

On issue #170 @chelaruc mentioned and example https://material.angular.io/components/autocomplete/overview.
in the example they use a example-full-width class, but I haven't found one that allows me to do this.

Please sh

[2018-01-12 14:54] niesteszeck commented on #118
@drenda I'm not sure. As I have found, this is something between bootstrap, and angular. When learning about reactive forms, there are tips about adding the class 'has-error' to the form-groups with ngStyle or ngClass, so then I realize that angular2+ and bootstrap aren't full compatible/integrated/automatic/etc and I came with this workaround. Actually I use this method for custom components, so

[2018-01-12 15:31] niesteszeck opened #176 "Mat Autocomplete theme int wizard form"
Hi,

The mat-autocomplete isn't themed with the correct color in wizard form. It just get the main theme color, not the one configured for the wizard

[2018-01-13 04:32] eleventhaus commented on #137
Any updates?

[2018-01-13 08:45] chelaruc commented on #137
Hi, @eleventhaus  @FabioMorcillo! We've finished the development for Material Kit Pro Bootstrap 4(HTML) and we will start to develop the Material Dashboard Pro Bootstrap 4(HTML), after that we will update the Angular product. I think it will be finished in first week of February. I'm working for the Angular 5 right now and will be updated in v1.5.0.

All the best,
Ciprian

[2018-01-13 08:47] chelaruc commented on #132
I'm working to integrate the Angular 5 right now and will be updated in v1.5.0, which will be next week.

All the best,
Ciprian

[2018-01-14 17:40] figueiredorj opened #177 "Adding a BreadCrumb"
Hi,
I am currently using material-dashboard-pro.

One thing that I have missed was a breadcrumb.
Implemented one from some code which works nicely for what I want if it wasn't for a minor issue:

when media query is between 992 and 1440 and sidebar exapnded container has size as if sidebar collapsed.
Could you tell me how can i FIx this behaviour?

codes
[breadcrumb_container.zip](https://github.c

[2018-01-14 19:15] figueiredorj opened #178 "Bug (?) on width when sidebar not collapsed"
Hi guys,

There is an issue related to media queries I think which on my previous request about breadcrumb somehow I already trasnposed here.

but now is kind more of a not acceptable behaviour...
I mean.. I have a gridcontrol (devextreme) on a row inside container-fluid;
when sidebar is collapsed all seems to be ok.. however if sidebar expanded I may have a scroolbar for data inside gridcontrol..

[2018-01-15 10:27] chelaruc commented on #177
Hi @figueiredorj!

Thank you for using our product! To fix that you need to include the div with class `breadcrumbs` into a div with class `col-md-12`.

All the best,
Ciprian

[2018-01-15 10:29] chelaruc commented on #178
I've responded to #177.

[2018-01-15 10:45] figueiredorj commented on #177
How I wished it to be so simple! :)
Not like that.. adding a div.col-md-12 doesn't change current behaviour....
I tried adding it before breadcrumb, before container, pairing with breadcrumb and with container... none results...

more ideas please.

[2018-01-15 10:48] chelaruc commented on #177
@figueiredorj I've added:
[code]
on dashboard page without doing scss changes and it is working good to me. Can you send me an archive for testing on ciprian@creative-tim.com?

[2018-01-15 11:07] figueiredorj commented on #177
Hi, sure!
for  a view:
`<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="container">
                <nav class="breadcrumbs">
                    <li><a [routerLink]="'/dashboard'">{{'routeprovider.sidebar.dashboard' | translate}}</a>
                    <li> {{'routeprovider.title.catalog.root' | translate}}
                </nav>

[2018-01-15 13:50] chelaruc commented on #177
@figueiredorj you have a div with class `container-fluid` and inside is one div with class `container`. Can you delete the second div?

[2018-01-15 14:32] figueiredorj commented on #177
It works as you say apparently...
purpose of container was to limit width that breadcrumb could be... but
apparently container has some side-effects...
do you have any idea why? and how to emulate container?

thanks

Figueiredo, Ricardo José Andrade
Email: figueiredorj@gmail.com

On Mon, Jan 15, 2018 at 1:50 PM, Chelaru Ciprian <notifications@github.com>
wrote:

[2018-01-15 15:14] niesteszeck commented on #157
@jariwbh I use mat autocomplete to achieve a searchable select, not the same (missing down arrow) but hopefully it'll fill your needs. On #170 there is a reference to an example.

[2018-01-15 16:08] chelaruc commented on #177
@figueiredorj I think there are some defaults rules on how to use the bootstrap classes and that's why we can not use a container inside a container.

Best,
Ciprian

[2018-01-15 16:08] #177 closed

[2018-01-15 23:33] niesteszeck commented on #146
Hi @chelaruc any update on this?

[2018-01-15 23:40] niesteszeck commented on #156
[Here](https://github.com/niesteszeck/ng2-material-bootstrap-wizard/issues/2) is the issue, so anyone that wants to contribute is welcome.

[2018-01-16 10:05] chelaruc commented on #137
@eleventhaus we are trying to work with [@angular/material ](https://github.com/angular/material2).

[2018-01-16 10:34] chelaruc commented on #146
@niesteszeck Sorry for the late response. We don't have any class that could make the icon bigger or smaller and you have to style the icon by yourself and your example with font-size is a good choice.

Best,
Ciprian

[2018-01-16 10:34] #146 closed

[2018-01-16 10:38] drenda commented on #132
Hi @chelaruc, so do you plan to release the v1.5.0 this week? Thanks

[2018-01-16 10:49] chelaruc commented on #131
@garramja @drenda Sorry for the late response. TO fix that you need to add this on `notifications.component.ts`:
[code]
and in `src/assets/sass/material-dashboard/_dialogs.scss`:
[code]
This will be fixed in v1.5.0.

Best,
Ciprian

[2018-01-16 13:57] #50 closed

[2018-01-16 13:58] #77 closed

[2018-01-16 13:58] #78 closed

[2018-01-16 13:59] #89 closed

[2018-01-16 13:59] #104 closed

[2018-01-16 14:06] chelaruc commented on #107
I still do not have a solution for this

[2018-01-16 14:08] niesteszeck commented on #146
thx

[2018-01-16 14:10] chelaruc commented on #112
Hi, @elvisgn! Sorry for the late response. You can see an example with a multilevel sidebar here: #121

[2018-01-16 14:11] #113 closed

[2018-01-16 14:13] #122 closed

[2018-01-16 14:14] chelaruc commented on #132
@drenda I'll make the update today.

[2018-01-16 14:14] #145 closed

[2018-01-16 14:15] #152 closed

[2018-01-16 14:15] #157 closed

[2018-01-16 14:15] #158 closed

[2018-01-16 14:16] #163 closed

[2018-01-16 14:16] #166 closed

[2018-01-16 14:18] #178 closed

[2018-01-16 14:35] alexandru-paduraru commented on #172
@decisao thank you for using our product. Sincerely, we don't know how is the code of the editor, but if it is following the same classes as the datatables.net that means they will look the same. Please use it and let us know your feedback.

Best,
Alex

[2018-01-16 14:35] #172 closed

[2018-01-16 15:51] niesteszeck opened #179 "Datatables.net "table-striped table-no-bordered table-hover" classes?"
Hi,

On dattable.component example (line 17+-), I can't find the definition for classes "table-striped table-no-bordered table-hover", what are they for? are they needed?

Best regards,
continue with the great work

[2018-01-16 16:38] #27 closed

[2018-01-16 16:38] #125 closed

[2018-01-16 16:39] #131 closed

[2018-01-16 16:40] #150 closed

[2018-01-16 17:12] eleventhaus commented on #137
Does @angular/material2 use bootstrap 4? I don't see it on their package.json or in the docs.

[2018-01-16 17:22] alexandru-paduraru commented on #179
@niesteszeck please check the classes descriptions here: https://getbootstrap.com/docs/3.3/css/#tables

Best,
Alex

[2018-01-16 17:22] #179 closed

[2018-01-16 18:02] niesteszeck commented on #179
thx

[2018-01-17 02:49] douglas168 commented on #167
Hi Chelaru,
I changed the data-background-color to 'purple' but the sidebar background becomes white.  What did I do wrong?

 Sincerely,Douglas Kuo
Email : douglas168@yahoo.com

      From: Chelaru Ciprian <notifications@github.com>
 To: creativetimofficial/material-dashboard-pro-angular <material-dashboard-pro-angular@noreply.github.com>
Cc: douglas168 <douglas168@yahoo.com>; Mention <mention@nor

[2018-01-17 08:31] chelaruc commented on #167
@douglas168 we have built only 3 colors for sidebar background(white, red and black).

[2018-01-17 09:57] decisao opened #180 "Form inside modal ou ligthbox"
Hello!
Can you provide an example of a form inside a modal window ou lightbox window?

Thanks,
Eliéser

[2018-01-17 12:20] douglas168 commented on #167
Hi Chelaru,
Is there anyway to change sidebar background color to other than those 3 colors? Sincerely,Douglas Kuo
Email : douglas168@yahoo.com

      From: Chelaru Ciprian <notifications@github.com>
 To: creativetimofficial/material-dashboard-pro-angular <material-dashboard-pro-angular@noreply.github.com>
Cc: douglas168 <douglas168@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday

[2018-01-17 13:56] chelaruc commented on #167
@douglas168 Here you have a tutorial for that: [https://github.com/creativetimofficial/material-dashboard-pro/issues/72](https://github.com/creativetimofficial/material-dashboard-pro/issues/72)

[2018-01-18 04:55] RamakrishnaPawar opened #181 "AngularJS 1.8"
Could please let me know whether this UI will work for AngularJS 1.8? if yes then please let me know the configurations.

advance thanks

[2018-01-18 09:37] chelaruc commented on #137
I'm thinking they are using their own CSS, without bootstrap, but I'm not sure.

[2018-01-18 09:43] chelaruc commented on #181
Hi, @RamakrishnaPawar! Thank you for your interest in our product. Unfortunately, we are not working with AngularJS.

All the best,
Ciprian

[2018-01-18 09:43] #181 closed

[2018-01-18 10:04] RamakrishnaPawar commented on #181
Thank you for your quick response..

[2018-01-18 10:40] BobaFett58 opened #182 "Select data-live-search="true""
Hello, Tim!
How can I use your 'select' with the data-live-search?

for ex.

[code]

[2018-01-18 15:11] eleventhaus commented on #137
Yes I believe [they conflict](https://www.google.com/url?sa=t&source=web&rct=j&url=https://stackoverflow.com/questions/45497542/can-bootstrap-4-be-integrated-along-with-angular-material-2&ved=2ahUKEwit9c-t5eHYAhVN-GMKHa-XAZ8QjjgwAnoECBMQAQ&usg=AOvVaw30RWzUG75PBacZYaHz_2Q9)

[2018-01-18 15:33] bommen commented on #137
With this information, would you consider going all the way with Material
Angular and removing Bootstrap as a dependency of the project? I could
imagine this would require some css to be moved from the bootstrap css to
individual components (like the sidebar and navbar) but in the end the
project would be much cleaner/leaner with just one UI framework as a
dependency.

What are your thoughts on th

[2018-01-18 18:37] niesteszeck opened #183 "typescript version"
Hi,

after updating to 1.5.0 i get this warning wen running the server:
[code]

[2018-01-18 18:38] niesteszeck opened #184 "npm install generates a lot of warning"
Hi

After updating to 1.5.0 i got a lot of errors when running `npn install`
[code]

[2018-01-19 08:41] chelaruc commented on #183
Hi @niesteszeck! This warning appears because out typescript version is 2.6.2. To fix that you need to update the angular-cli version to 1.6.5.

[2018-01-19 08:41] #183 closed

[2018-01-19 08:44] chelaruc commented on #184
Change the package.json devdependencies with:
[code]
and in dependencies:
[code]
delete node_modules folder and run `npm install` again.

Best,
Ciprian

[2018-01-19 08:44] #184 closed

[2018-01-19 12:15] figueiredorj opened #185 "Sidebar prefix possible to apply a icon?"
Hi,
I would like to know if in sidebar prefix is it possible to replace thsi prefix with an icon without using js...
kind of being possible to set HTML for field...

[2018-01-19 12:33] decisao commented on #180
Hi,

In fact, can I put the wizard inside a modal or lightbox?

[2018-01-19 13:44] niesteszeck commented on #180
I have the same question, and I open an [issue](https://github.com/creativetimofficial/material-bootstrap-wizard/issues/21) on the plugin.

[2018-01-19 14:26] niesteszeck commented on #183
thx, my mistake

[2018-01-19 14:49] niesteszeck commented on #184
Thx @chelaruc, there are lot less errors, but still some:

[code]

[2018-01-20 12:55] WaleedZ90 opened #186 "RTL Problems"
# There is a problem and there is a question that I want to ask.
## The problem:
### There is a problem with the sidebar.
#### Steps:
* include bootstrap rtl.
* apply "rtl-active" class (optional).
* Hover the mouse over the sidebar and Scroll.
Output: **The side bar content disappears, it drifts away.**

## The Question:
I don't know whether this question is out of your scope or not. But is there

[2018-01-21 09:53] waleed-itworx commented on #186
#### Updating the thread above.
Also when you include bootstrap rtl without applying "rtl-active" class, the text in the sidebar is always aligned to the right.

[2018-01-21 09:54] WaleedZ90 commented on #186
### Updating the thread above.
Also when you include bootstrap rtl without applying "rtl-active" class, the text in the sidebar is always aligned to the right.

[2018-01-22 08:15] lippomano commented on #161
probably in `_select-bootstrap.scss` I need to remove this line:

`.mat-option.mat-selected:not(.mat-option-multiple){
    background-color: #9c27b0 !important;
    color: $white-color !important;
}`
But I'll wait your feedback @chelaruc

[2018-01-22 09:08] PonayMort opened #187 "Sidebar second level label height issue when minimized"
# There is a problem with sidebar second level label since 1.5.0 template version.
You can see a height augmentation of label when sidebar is minimized.
### Steps:
- Click on a sidebar first level label with some second level label for expand it
- Click on minimize sidebar button in navbar

Browser: Google Chrome 63
OS : Windows 7

![image](https://user-images.githubusercontent.com/1438980/3521285

[2018-01-22 09:27] chelaruc commented on #185
Hi @figueiredorj

Thank you for using our product! Yes, you can change the span of the sidebar prefix with an icon, but you need to update `ROUTES` from `sidebar.component.ts` and the `ChildrenItems` interface to do that.
If you need help, tell me.

All the best,
Ciprian

[2018-01-22 09:28] chelaruc commented on #184
@niesteszeck I didn't find a solution for this errors, please tell me if you find something.

[2018-01-25 06:23] xuyixin0723 commented on #184
I am also jamed in @angular/core@~5.1.1, how to fix it?

[2018-01-25 14:40] niesteszeck opened #188 "Bootstrap modal without title text and with close button, cant click close button"
If I use this modal header is really difficult to close the modal with que X:
[code]

[2018-01-25 22:35] malte2408 opened #189 "Datetimepicker"
Hi,
thank you for the great Template :)
I'm wondering how I can use the datetimepicker / timepicker that is used in the HTML-version in the Angular2-Version. Extended forms are using mat-datepicker in the Angular2 version but I think the one from the html fits much better.

[2018-01-26 10:35] lippomano commented on #118
Resolved using `mat-form-field` like this:
[code]
So without labels, and with a placeholder, the text is correct

[2018-01-29 08:13] chelaruc commented on #188
Hi @niesteszeck! Why don't you use the modal-header from the product?
[code]

All the best,
Ciprian

[2018-01-29 08:14] chelaruc commented on #189
Hi, @malte2408! Thank you for using our product. We changed the datepicker from HTML because there was a lot of problems with it.

All the best,
Ciprian

[2018-01-30 04:27] darlanads commented on #137
@chelaruc When I bought this dasbhoard, I expected it to be already bootstrap4. I bought with the user euzeli.santos@gmail.com I will be waiting for the update. Still with forecast for the first week of February?

[2018-02-01 10:30] johnhigginsavila commented on #153
Hi Chelaru,

I would like to ask, how can I extend my license for the product I bought
to you? because I will be using the product for multiple clients.
thank you.

Sincerely,
John

On Mon, Jan 8, 2018 at 5:07 PM, Chelaru Ciprian <notifications@github.com>
wrote:

[2018-02-01 23:29] ezehurt opened #190 "Problems with components behavior"
Hi, I'm trying to integrate this template with jhipster @4.6.0. The styles are ok, but no component has behavior. For example, if I use a dropdown the click doesn't work. Any suggest?

[2018-02-02 09:32] chelaruc commented on #153
Hi @johnhigginsavila! Can you send me an email to ciprian@creative-tim.com with the order details?

All the best,
Ciprian

[2018-02-02 09:40] johnhigginsavila commented on #153
Hi Chelaru,

I already sent a mail.

Regards,
John

On Fri, Feb 2, 2018 at 4:32 PM, Chelaru Ciprian <notifications@github.com>
wrote:

[2018-02-04 02:59] niesteszeck commented on #188
Hi @chelaruc. Yes I use the product modal-header. Let me change the example

[code]

Have you tried your suggested code, it triggers my problem. See my problem in `notification.component.html`
change this:
[code]

to this:
[code]

and try to press the close button. (It only was removed de h4 with modal-title class line)

[2018-02-05 17:51] alexandru-paduraru commented on #137
@bommen @darlanads we are working for Bootstrap 4 release for the HTML version, the one without Angular. As soon as we finish that, probably in a couple of days, we will decide which is the best option for further development of the Angular. With or without Bootstrap? What's your opinion about that @darlanads? As I know the opinion of @bommen

Best,
Alex

[2018-02-06 18:56] alexandru-paduraru commented on #187
@PonayMort thank you for letting us know. This seems to be an issue related to the Design of the product not to the Angular, so we will fix it as soon as we fix it in the plain HTML version. Keep in touch!

[2018-02-06 22:02] eleventhaus commented on #137
This template should stick with Bootstrap 4 as that was what was advertised at the time of purchase.

Perhaps create another template with Angular Material CDK for those who would like to use it?

[2018-02-09 06:18] Kalki5 commented on #137
@chelaruc @alexandru-paduraru I would prefer to go with Bootstrap 4 since it would help a lot in consumer's perspective.

[2018-02-10 21:10] sparvov commented on #190
Hi, I have the similar behavior.
$.material is undefined in line $.material.init();.
I tried to figure out this problem and temporary solved it with the following hack:

I've added
`var $material = $.material `
in the end of .../node_modules/bootstrap-material-design/dist/js/material.js
and in my code changed
`$.material.init(); `
to
`$material.init();`

So, guys from Creative Tim can easily solve

[2018-02-13 13:37] drenda commented on #174
Some news about this bug?

[2018-02-13 23:06] pierrebenazzibr opened #191 "...requires a peer of @angular/...@~5.1.1 but none is installed."
Im trying to run the project and keep getting this errors, just after execute npm install.

![error_angular](https://user-images.githubusercontent.com/36460455/36178964-c5a8fd24-1101-11e8-9d40-bebacb5e1608.png)

[2018-02-14 00:44] pierrebenazzibr commented on #191
When i change the angular version from 5.2.0 to 5.1.1 i could run the project.
Was it the right thing to do?
Why the template was released with some configurations that didnt worked in the first time? Or i was missing sth...

![error_angular](https://user-images.githubusercontent.com/36460455/36182159-653797a8-110f-11e8-9cdb-d8469b11346c.png)

[2018-02-14 19:18] davewolfusa commented on #157
I'm attempting to create a number of selects that have all of the countries in the world. Most of the selects have multiple selections. It would be really nice to have categories (groupings by geographic area, EU Membership), filtering, and the ability to select all or all of a group.

Any suggestions?

[2018-02-16 16:36] niesteszeck commented on #175
Hi, any help with this?

[2018-02-16 17:51] alexandru-paduraru commented on #174
@lippomano and @drenda will come back with some news when we get back to office monday/tuesday.

[2018-02-16 18:48] acib708 commented on #191
I'm having the exact same problem. Besides, they are using deprecated libraries. This is a paid product, it should be properly maintained and tested. I bought it to save time, and this is clearly the opposite of saving time.

[2018-02-16 18:57] alexandru-paduraru commented on #191
@pierrebenazzibr @acib708 we are working on the Angular 6 release and it will come next week. Sorry for the issues, we tested a lot on our side and the dependencies were working fine. We are doing updates every 2-3 weeks, and if there are releases from other libraries in between it's possible to have errors.

[2018-02-16 18:58] acib708 commented on #191
Thanks for the prompt response.
The solution stated above is not working for me, though.

I still get
`npm WARN ng2-nouislider@1.6.1 requires a peer of @angular/common@^2.0.0 || ^4.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN ng2-nouislider@1.6.1 requires a peer of @angular/core@^2.0.0 || ^4.0.0 but none is installed. You must install peer dependencies yourself.

[2018-02-17 12:25] aleximmauell opened #192 "How to create a page without a side bar / disable sidebar ??????"

[2018-02-17 15:20] Kalki5 commented on #137
Any updates on this?

[2018-02-18 15:58] mcurrycl opened #193 "mat-select not highlighting selected item on keypress"
I am using the code from the "Forms Extended" demo for testing on a new form.

I have copied the following code only a blank component:

`            <mat-form-field>`
`                <mat-select placeholder="Single City" name="city">`
`                    <mat-option *ngFor="let item of ['One', 'Two', 'Three']" [value]="item">`
`                        {{ item }}`
`                    </mat-opti

[2018-02-19 23:32] mcurrycl opened #194 "Navigation Pills or Pagination on Wizard breaks Tabs"
Exactly as in this ticket:
https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/29#issuecomment-313389496

The same issue occurs if you put nav-pills or pagination on a wizard form. Unfortunately putting  a timer around the select method doesn't fix it this time.

[2018-02-20 01:16] mcurrycl opened #195 "Alignment of <mat-form-field>"
If I use a mat-select inline with other inputs, or with a preceding icon, the alignment of the text and bottom line is off between the <mat-select> and the other inputs. The <mat-select> is higher than the other controls.
The same thing happens with checkboxes.

[2018-02-20 09:23] chelaruc commented on #137
@Kalki5 we will launch the HTML version next week, then we will launch the Angular version. Sorry for this but things were more complicated than we expected with the BS3 to BS4 conversion.

All the best,
Ciprian

[2018-02-20 09:30] chelaruc commented on #174
Hi @lippomano @drenda! I have tested it and it works in our project. Can you give me more informations?

[2018-02-20 09:34] chelaruc commented on #175
Hi @niesteszeck! Have you tried to add the div with col-sm into a div with class row? Something like this:
[code]

[2018-02-20 09:52] #192 closed

[2018-02-20 09:56] chelaruc commented on #193
Hi, @mcurrycl! Can you give me some images?

[2018-02-20 09:59] chelaruc commented on #195
@mcurrycl can you give me an example for testing?

[2018-02-20 11:11] mcurrycl commented on #194
As an example, just add this somewhere in the WizardComponent in the demo app:

    <ul class="pagination pagination-primary">
          <li class="active">
                <a href="SetGender('M')">Male</a>
           </li>
           <li>
                  <a href="SetGender('F')">Female</a>
            </li>
            <li>
                   <a href="SetGender('U')">Unknown</a>
              <

[2018-02-20 11:29] mcurrycl commented on #195
Add this to a blank form:

    <div class="card-content">
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group label-floating">
                                <label class="control-label">Email address</label>
                                <input type="email" class="form-control">
                            </div>
                <

[2018-02-20 11:33] mcurrycl commented on #195
Same thing happens with CheckBoxes:
 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Email address</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class=

[2018-02-20 13:45] drenda commented on #174
@chelaruc Did you try the code @lippomano posted? Does it work for you doing what he described?

[2018-02-21 13:58] getmowize commented on #190
@sparvov Can you share the material.js file. I tried to put in my bootstrap-material-design.js but still not able to get results. My dropdown are still not working. And even can you share the component.ts file where you have added this $material.init(); piece of code.

[2018-02-21 14:00] rachnakhokhar commented on #190
@sparvov Can you share the material.js file. I tried to put in my bootstrap-material-design.js but still not able to get results. My dropdown are still not working. And even can you share the component.ts file where you have added this $material.init(); piece of code.

I am using "bootstrap-material-design": "^4.1.1"

[2018-02-21 14:44] niesteszeck commented on #175
@chelaruc yes, I'd tried it. Actually I had already it in a row div.

Is inside a tab-content -> tab-pane ->row -> col-sm-xx

[2018-02-21 16:17] rachnakhokhar opened #196 "Dropdown not opening integrating with jhipster"
When I tried integrating Bootstrap-Material-Design the dropdown component or floating label component all were working fine. And when I tried to integrate this theme which I have recently purchased assuming it will give nice look and feel to my dashboard the theme got integrated but the components like dropdown and all are not working.

I am even getting error $.material is undefined in line $.mat

[2018-02-22 13:11] sparvov commented on #190
Unfortunately, I played with free themes, which use  `"bootstrap-material-design": "0.5.10"`, so I cannot help you, sorry (

But if you want to run bootstrap-material-design from component.ts, you can do it like this:
[code]

[2018-02-23 08:32] chelaruc commented on #196
Hi, @rachnakhokhar! Thank you for using our product. Can you send me an email with an archive for testing at ciprian@creative-tim.com?

[2018-02-23 08:44] chelaruc commented on #175
@niesteszeck You need to add `width: 100%;` on the class `.mat-form-field`.
Tell me if this worked.

[2018-02-23 09:32] chelaruc commented on #174
@lippomano  @drenda It seems this error is a material issue and not from us. Check this issue and tell me if you have any ideas for fixing that: [https://github.com/angular/material2/issues/6341](https://github.com/angular/material2/issues/6341)

[2018-02-23 09:43] chelaruc commented on #195
@mcurrycl If you want to make the checkbox and radio text more darken, you need to go in `src/assets/sass/material-dashboard/_checkboxes.scss` file and remove line 5. And to align mat-from-field with other inputs, add to .mat-form-filed top: 12px.
Tell me if you need something else.

[2018-02-23 09:43] #195 closed

[2018-02-23 09:48] chelaruc commented on #193
@mcurrycl If you want to be like when you hover it, you need to add this line in scss:
[code]

[2018-02-23 09:48] #193 closed

[2018-02-23 09:51] chelaruc commented on #194
@mcurrycl I've done some tests and this is working for us. Can you give me more informations about this error?

[2018-02-24 09:54] Souffiane opened #197 "How to use MatProgressSpinner ?"
Hi,

I'm beginner in Angular and would like use Spinner.
I saw MatProgressSpinner in the app.module.ts but there is no example in the app.

Can someone provide one please?

Thanks.

[2018-02-25 08:42] pierrebenazzibr commented on #118
Hi there,

Does anyone here could be able to fill a form from a service and the labels did recognize that some value was put into the input field ?

My user.component.html:

`

    <div class="col-md-3">
        <div class="form-group label-floating">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username"
                   [(n

[2018-02-26 08:57] timcreative commented on #197
Hi, @Souffiane

Thank you for using our product! Here is the documentation for Material Spinner: [https://material.angular.io/components/progress-spinner/overview](https://material.angular.io/components/progress-spinner/overview)

All the best,
Ciprian

[2018-02-26 08:57] #197 closed

[2018-02-26 08:58] chelaruc commented on #197
Hi, @Souffiane

Thank you for using our product! Here is the documentation for Material Spinner: [https://material.angular.io/components/progress-spinner/overview](https://material.angular.io/components/progress-spinner/overview)

All the best,
Ciprian

[2018-02-26 09:04] chelaruc commented on #118
@pierrebenazzibr have you tried the solution from @lippomano using `mat-form-field`?

[2018-02-26 11:20] pierrebenazzibr commented on #118
Hi @chelaruc,

No, i didn't. `mat-form-field` is a tag from angular

[2018-02-26 11:22] pierrebenazzibr commented on #118
Hi @chelaruc , i didn't.
`mat-form-field` its a tag from Angular Material right?
In my case, im just using Angular with the Bootstrap that came with the material-dashboard-pro template.

If anyone has any tips, please send me a comment!

[2018-02-26 14:22] PavelValentov commented on #189
Hello!
Continue the question. How do I pick the time in 1.5 version?

[2018-02-28 11:33] MJules opened #198 "Install Css & Components"
Hello

I would like to know how to install the theme (css files and components)
There are not enough instructions for import, I don't want to clone the project.

I don't understand the following error / code :
ERROR ReferenceError: $ is not defined

component.ts
declare const $: any;
ngOnInit() {
        $.material.init();
}

![image](https://user-images.githubusercontent.com/16535677/36785414-fa8

[2018-02-28 15:02] chelaruc commented on #198
Hi, @MJules! Did you follow the steps from documentation? [http://md-pro-angular.creative-tim.com/documentation/tutorial](http://md-pro-angular.creative-tim.com/documentation/tutorial)

[2018-03-01 14:38] MJules commented on #198
Hi,
Yes but when i use component I've got this error :
ERROR ReferenceError: $ is not defined

[2018-03-02 11:00] chelaruc commented on #198
@MJules CAn you give me more informations? LIke the file where you get this error and the steps to reproduce?

[2018-03-02 12:16] aleximmauell opened #199 "Validation of Last Tab fields of wizard was not working when calling a function on submit button"
Validation of Last Tab fields of wizard was not working when calling a function on submit button .
i have three tabs in wizard on the last tab submit button appears , i need to call an API on submit but if i do so validation of the third tab is skipping ... need guidance....

[2018-03-02 14:39] MJules commented on #198
Hello
I tried again to install the theme and it worked ..

For information:
ng e2e fail: Upgrading ts-node to ~ 3.3.0
add "@ types / jasminewd2": "~ 2.0.2",

I don't undertsand how work in app.component.ts :
declare var $: any;
and
$.material.init();

You can tell me how it works please ?

Thx

[2018-03-03 09:27] drenda opened #200 "Scrollbar not working on Firefox/Chrome on Mac"
I'm experiencing troubles with scrollbars on Firefox/Chrome on Mac. On Windows everything works but on Mac works only the sidebard scroll but the content on the right is without scrollbar and I'm not able to scroll down.

I saw that in your application it works but not in mine. Do you know what could be wrong with that? And why it works on Windows and not on Mac? Sounds weird.

<img width="1279" a

[2018-03-04 15:53] aleximmauell opened #201 "How do I pick the time in 1.5 version"
How do I pick the time in 1.5 version

[2018-03-05 04:25] jac0117 commented on #145
Was this implemented? @chelaruc

[2018-03-05 10:35] chelaruc commented on #200
@drenda have you got errors in the console?

[2018-03-05 10:39] chelaruc commented on #145
@jac0117 this wasn't implemented yet :(

[2018-03-05 10:41] chelaruc commented on #201
@aleximmauell We don't have an timepicker component, but this will be implemented in the next update. You can add this: [https://www.npmjs.com/package/ng-pick-datetime](https://www.npmjs.com/package/ng-pick-datetime) to your project

[2018-03-05 10:43] chelaruc commented on #199
@aleximmauell Can you give me an archive to test it? Send it to ciprian@creative-tim.com

[2018-03-05 13:33] PavelValentov commented on #201
I already use ng-pick-datetime, but I have seen the time picker in the new release of Now UI Kit Pro, and think that you have included this one too.

[2018-03-05 19:53] drenda commented on #200
@chelaruc no errors

[2018-03-06 05:32] jpduckwo commented on #107
I've been looking into this and I think the core reason behind it not working is that the text area size is calculated before the tab has completed animating in. If someone wants to dig further I would suggest hooking into animationDone output on mat-tab-group and kicking off a change detection using ChangeDetectorRef.detectChanges() in the component that contains the mat-tab-group.

see: https://

[2018-03-06 08:09] chelaruc commented on #198
@MJules Can you send me an archive for testing to ciprian@creative-tim.com?

[2018-03-07 06:24] Kalki5 commented on #137
@chelaruc Thanks. Eagerly waiting for BS4 release of MD-pro-angular.

[2018-03-07 11:39] macjohnny commented on #157
FYI there exists a temporary implementation using `MatSelect`
See https://github.com/angular/material2/issues/5697#issuecomment-369358522

[2018-03-07 19:10] elvis-gbmme opened #202 "Select inside Table"
Hi, trying to put a select tag inside a table row.

mat-select is not working, gives a runtime error. Normal select tag looks very basic.

only using the form-control class makes it look elegant..but still not positioned well inside the column.

[2018-03-08 14:34] ahevia2014 opened #203 "ng serve does not work"
when i execute ng serve -o for "material-dashboard-pro-angular" I'm getting following errors:

$ ng serve -o
** NG Live Development Server is listening on localhost:4200, open your browser         on http://localhost:4200/ **
Cannot read property 'thisCompilation' of undefined
TypeError: Cannot read property 'thisCompilation' of undefined
    at NodeTemplatePlugin.apply (C:\Users\eandhev\Desktop\i

[2018-03-09 08:00] timcreative commented on #203
@ahevia2014 Thank you for using our product! I don't get this error when I'm running ng serve -o. CAn you tell me the steps to reproduce it?

Best,
Ciprian

[2018-03-09 08:05] chelaruc commented on #203
@ahevia2014 Thank you for using our product! I don't get this error when I'm running ng serve -o. Can you tell me the steps to reproduce it?

Best,
Ciprian

[2018-03-09 08:07] chelaruc commented on #202
@elvis-gbmme Can you give me an archive for testing to ciprian@creative-tim.com or the steps to reproduce the error?

Best,
Ciprian

[2018-03-09 08:10] chelaruc commented on #200
@drenda Can you send me an archive to ciprian@creative-tim.com for testing?

[2018-03-09 16:42] drenda commented on #200
@chelaruc Having a link to the application live could be enough?

[2018-03-09 17:28] drenda commented on #200
@chelaruc I think I found the problem. In admin-layout.component.ts you have this code:

` if (window.matchMedia(`(min-width: 960px)`).matches && !this.isMac()){
            let ps = new PerfectScrollbar(elemMainPanel);
            ps = new PerfectScrollbar(elemSidebar);
        }`

Removing the check on isMac() the scrollbar works. You didn't initialize that on Mac. Why? Thanks

[2018-03-09 18:32] NetajiBandi opened #204 "ng build --prod to a sub folder issue"
I am trying to do a prod build using "ng build -prod --base-href='/creativetim'/" command because,
I want my app to be running in a subfloder in the server i.e.,@"http://domain.com/creativetim"

But it doesn't work as the above command is expected to update a piece of index.html code
`<base href="/">  to  <base href="/creativetim/">`
but its not doing so.

Hence I updated it manually to `<base hre

[2018-03-09 20:09] elvis-gbmme commented on #202
Just paste the following <td> item into any table...
[code]

The alignment looks off, and if I remove form-control, they it looks like an ordinary html select box.

[2018-03-11 18:02] alkheyal commented on #116
how can i use this material-dashboard-pro-angular in my ionic app i created it before

[2018-03-12 05:29] rintuseqato opened #205 "Wizard Validation"
Hi,
I'm using the wizard for a 3-step registration process. I want to do validation on the second step of the wizard.
Also, I don't want the navigation through the tabs before the 'Next' button is clicked in the first 2 steps.

[2018-03-12 09:19] chelaruc commented on #204
@NetajiBandi have you tried to change the path of images from `assets/img...` to `../assets/img..` ?

[2018-03-12 09:24] NetajiBandi commented on #204
Yeah, it will work if I change the path manually to `../assets/img`. But I suppose I should not be doing it after every --prod build I do. What would be the automatic fix?

[2018-03-12 09:25] drenda commented on #200
@chelaruc You should fix this problem because without the initialization of the perfect scrollbar I've not scrollbar at all in the application. Please change your code in order to fix this problem

[2018-03-12 09:27] chelaruc commented on #202
@elvis-gbmme we are not using that select anymore. We are using the mate-select:
[code]

[2018-03-12 09:28] chelaruc commented on #200
@drenda I'll fix that in next update. I'll reopen this issue till then.

[2018-03-12 09:31] chelaruc commented on #204
@NetajiBandi see this issue: https://github.com/angular/angular-cli/issues/1080

[2018-03-12 09:32] chelaruc commented on #205
@rintuseqato can you give me more informations? What validation do you want to do on the second tab?

[2018-03-12 09:35] NetajiBandi commented on #204
@chelaruc  I tried all solutions mentioned at - https://github.com/angular/angular-cli/issues/1080
Neither of them worked for our "material-dashboard-pro-angular" application, these solutions are working for a different angular application though.

[2018-03-12 09:37] rintuseqato commented on #205
@chelaruc, I do not want the user to proceed with an empty field in the second step.

[2018-03-12 11:16] elvisgn commented on #202
It worked !! Thanks.

[2018-03-12 11:21] mdwe commented on #203
I have the same problem.

`Cannot read property 'thisCompilation' of undefined`

This means that problem is with webpack. Try reinstall webpack to version 3.11.0 by adding webpack to package.json.

After this try I have error:

` 10% building modules 3/3 modules 0 active(node:2037) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Exited with code 3
(node:2037

[2018-03-13 05:14] raskolnikov1041 commented on #191
Hi there.  I have just downloaded my copy of the pro package, ran npm install (with a lot of warnings) and ran 'ng serve'.

I got this message too

Cannot find module '@angular-devkit/core'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)

I have not modified

[2018-03-13 05:21] raskolnikov1041 commented on #191
For anyone facing a similar issue, there is another post which advises to change some things in the depedencies and dev dependencies.  You will still face some warnings in npm install but at least 'ng serve' will work. :-1:  lol

https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/184

[2018-03-13 12:01] elvisgn opened #206 "Progress Bar dynamic value change"
Hi,
I'm trying the following code
[code]
and find that I can't set 'aria-valuenow' dynamically. I tried both
[code]

[2018-03-13 12:58] niesteszeck commented on #206
I faces some similar problem on #147. Did you try with:
`attr.aria-valuenow={{value}}`

[2018-03-13 18:46] elvisgn commented on #206
Tried it now, didn't work. I found this [example](http://www.oaa-accessibility.org/examplep/progressbar1/) which seems to be similar, but changes the value using js.

[2018-03-13 18:52] PavelValentov commented on #109
So it does not still working.
Have you any news?

[2018-03-14 03:44] Se0ng11 commented on #109
is still not working, r the plugin being abandoned?

[2018-03-14 09:43] chelaruc commented on #205
@rintuseqato, can you tell me what code do you use in the second step?

[2018-03-15 10:16] #62 closed

[2018-03-15 10:19] chelaruc commented on #161
@lippomano have you fixed that?

[2018-03-15 10:20] #170 closed

[2018-03-15 10:20] #175 closed

[2018-03-15 10:24] chelaruc commented on #182
@BobaFett58 Have you find a solution?

[2018-03-15 10:24] #185 closed

[2018-03-15 10:31] chelaruc commented on #189
@PavelValentov You need to download it again.

[2018-03-15 10:31] #189 closed

[2018-03-15 10:33] #190 closed

[2018-03-15 10:33] #194 closed

[2018-03-15 10:33] #196 closed

[2018-03-15 10:34] #198 closed

[2018-03-15 10:35] #202 closed

[2018-03-15 10:36] chelaruc commented on #203
@mdwe we are not using webpack

[2018-03-15 10:54] chelaruc commented on #204
@NetajiBandi Can you give me your order details?

[2018-03-15 11:08] NetajiBandi commented on #204
ID: CT107012
Name: VIJAY DUPATI
Date: February 12, 2018 08:00

[2018-03-15 11:36] NetajiBandi commented on #204
@chelaruc are the details good enough? I can forward you the order receipt email if you wanted to double check! Kindly let me know.

[2018-03-15 12:09] chelaruc commented on #204
@NetajiBandi I've sent you an invitation to the repository as you commented on our website.

[2018-03-15 14:12] BobaFett58 commented on #182
@chelaruc Nope :C

[2018-03-16 08:29] chelaruc commented on #182
@BobaFett58 You can use that selectpicker: [https://www.npmjs.com/package/angular2-multiselect-dropdown](https://www.npmjs.com/package/angular2-multiselect-dropdown)

[2018-03-16 08:41] chelaruc commented on #186
@WaleedZ90 the errors you have got on the sidebar when you have rtl active is because perfectscrollbar doesn't support rtl for now. See this pull requests: https://github.com/utatti/perfect-scrollbar/pull/744 and https://github.com/utatti/perfect-scrollbar/pull/750.

[2018-03-16 11:17] BobaFett58 commented on #182
@cristijora Thank you! This is what I looked for.

[2018-03-16 12:38] #182 closed

[2018-03-19 08:16] #203 closed

[2018-03-19 20:45] niesteszeck commented on #175
yes, it work.

I have to add this to teh scass
[code]

[2018-03-20 10:26] lippomano opened #207 "Problem with active route"
In my angular project I need to have these 2 routings:
[code]
Both paths have to be directly in the sidebar (not submenu or similar) like this:
[code]

So at the moment when I select one of the routings, I see both selected in the sidebar,
Is it possible to apply the active state at only 1 of the routings without changing path?

![catt](https://user-images.githubusercontent.com/27501745/37649144-3

[2018-03-20 19:31] decision-ca commented on #191
Hello @alexandru-paduraru @chelaruc. We purchased the developer license of the product yesterday and we are experimenting issues when we use the 'npm install' (a lot of warnings). There is another version of the product working properly? Or what can we do?.

Any official solutions?

[2018-03-21 05:19] nhhockeyplayer commented on #204
this is a dragging issue

developers typically (at least I do for convenience and just to have a tomcat server running with ability to go there and launch any project of convenience from anywhere) develop a project off of tomcat root here is the path     C:\TOMCAT\WEBAPPS\ROOT\ngapp

angular-cli bundles and builds out to
C:\TOMCAT\WEBAPPS\ROOT\ngapp\dist
thats where index.html and all the bundles

[2018-03-21 10:46] drenda commented on #200
@chelaruc When do you plan to come out with the next relase? Thanks

[2018-03-21 22:35] alexandru-paduraru commented on #191
@decision-ca thank you for using our product and sorry for the issues that you have. Can you please give us more details? Isn't it working at all? Or it is installing and you just get the warnings? Also, the OS that you want to use would help.

Best,
Alex

[2018-03-22 08:33] DanishFayaz commented on #186
@chelaruc, thanks for the perfect-scrollbar patch link. I added that and got the menu fixed, but there's one thing that's causing an issue. When I add the bootstrap-rtl css after the bootstrap.css the menu dropdown icons (carret) get RTL applied on it while I've not added the rlt-active class on the body. Can you take a look at the issue?
![Uploading broken-menu-dropdown-icons.png…]()

[2018-03-22 09:14] DanishFayaz opened #208 "RTL breaking design"
Hi, i just purchased the theme, my purpose is to use it as LTR and RTL theme and switch between them real time like in many other templates. But when I add the bootstrap-rtl after the bootstrap.css and add the rtl-active class to the body it breaks the design. Most of the elements are not perfectly aligned as they should be in RTL, as you can see in screenshot. I want to keep both css in my angula

[2018-03-22 10:05] Jackeysharath commented on #69
thank you this fixed my issue.
Can someone tell me what is the cause for that?

[2018-03-22 13:19] decision-ca commented on #191
@alexandru-paduraru Thank you for your response. The main issue are the warnings, but with the temporal solution described in #184, I was able to solve the problem.

The OS that we are using is elementary OS 0.4

[2018-03-23 08:12] chelaruc commented on #200
@drenda Today or Monday.

[2018-03-23 08:17] chelaruc commented on #69
@Jackeysharath they made some changes to the plugin and changed the paths to .js files.

[2018-03-23 14:14] brampeirs opened #209 "Request - Tri-State Checkboxes (status Indeterminate)"
It would be nice if a checkbox could have a status 'indeterminate'.

See: https://material.angular.io/components/checkbox/examples

**Indeterminate**
![schermafbeelding 2018-03-23 om 15 12 06](https://user-images.githubusercontent.com/2495032/37833821-9bd52a0e-2eac-11e8-96c1-e22ce2093244.png)
**Unchecked**
![schermafbeelding 2018-03-23 om 15 12 11](https://user-images.githubusercontent.com/2495032

[2018-03-23 16:06] lippomano commented on #161
Yes, but like I said the only way is to remove this line from your CSS

[2018-03-23 16:07] drenda commented on #161
@chelaruc Are you able to solve it please? Thanks

[2018-03-24 20:24] alexandru-paduraru commented on #191
@decision-ca awesome man! We will add those in the release too.

Please let us know if we can help with anything else.

Best,
Alex

[2018-03-25 03:55] danellis commented on #191
It's been over a month now, so where do I get the Angular 6 version? The version I just bought has the same problems as described here. $60 for something that fails right out of the gate.

[2018-03-25 08:40] elvisgn opened #210 "Sidemenu: DynamicPath, Collapse Submenu"
Hi,
I'm trying to auto collapse a sub menu inside the sidemenu. I tried the solution in [#112](https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/112) and [#121](https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/121), but it doesn't work for me.

Also, the dynamic paths don't work in sidemenu.

[2018-03-26 05:17] rintuseqato commented on #205
Sorry, @chelaruc  I was a bit busy in the past days. I have mailed you the code of the component.ts and the HTML page.Please check that.

[2018-03-26 08:46] aleximmauell commented on #205
Actually the code was designed from your end was like ,on the last tab the button will show "Finish", will show "Next" on previous tabs.based on the hide and show,
 onTabShow :
 if ($current >= $total) {
                    $($wizard).find('.btn-next').hide();
                    $($wizard).find('.btn-finish').show();
}
my validations was on the jquery validate () funtion
const $validator = $('.wi

[2018-03-26 14:19] chelaruc commented on #109
Fixed in v2.0.0

[2018-03-26 14:19] #109 closed

[2018-03-26 14:19] chelaruc commented on #137
Fixed in v2.0.0

[2018-03-26 14:19] #137 closed

[2018-03-26 14:20] chelaruc commented on #161
Fixed in v2.0.0

[2018-03-26 14:20] #161 closed

[2018-03-26 14:20] chelaruc commented on #187
Fixed in v2.0.0

[2018-03-26 14:20] #187 closed

[2018-03-26 14:20] chelaruc commented on #188
Fixed in v2.0.0

[2018-03-26 14:20] #188 closed

[2018-03-26 14:20] chelaruc commented on #200
Fixed in v2.0.0

[2018-03-26 14:20] #200 closed

[2018-03-26 14:30] niesteszeck commented on #188
Hi @chelaruc, it will be in 1.5.1 or only on 2.0?

[2018-03-26 22:11] alexandru-paduraru commented on #191
@danellis the product was updated a couple of hours ago, please download it and let us know your status. Did you open any other request about your problem with the product not working?

Best,
Alex

[2018-03-26 22:50] alexandru-paduraru commented on #209
@brampeirs thank you for the feedback. Can you please give us more details about a real-life use case? Sincerely, this is the first time when somebody is requesting this on our products.

Best,
Alex

[2018-03-27 02:23] ivano33z opened #211 "Use Bootstrap 4 without mixing with Material?"
Hello guys, great theme, is it possible to use pure Bootstrap 4 classes without conflicts/mixes with Material, i tried to use Bootstrap 4 on free theme and often it was impossible because Material classes would take over, please help.

[2018-03-27 07:02] chelaruc commented on #191
Fixed in v2.0.0

[2018-03-27 07:02] #191 closed

[2018-03-27 07:13] chelaruc commented on #188
@niesteszeck We made v2.0.0 because it is a major update to the product.

[2018-03-27 07:19] chelaruc commented on #205
@rintuseqato Check what @aleximmauell said in the previous comment. It should work.

[2018-03-27 07:19] #205 closed

[2018-03-27 07:20] brampeirs commented on #209
Dear Alex,

I am using tree structures in a project.
When children are selected I would like to add an indeterminate to the parent.

Example
![schermafbeelding 2018-03-27 om 09 12 28](https://user-images.githubusercontent.com/2495032/37952173-3757da68-319f-11e8-8add-c91ed68becec.png)

![schermafbeelding 2018-03-27 om 09 15 35](https://user-images.githubusercontent.com/2495032/37952456-0ffdc332-31a

[2018-03-27 21:01] drenda opened #212 "Improvements for sidebar"
After a while I work with this theme I can safely say the sidebar needs to be improved. Expecially for big application where there are a lot of menu and submenu the user get often lost.

Take for example the screenshot of the sidebar of the theme in my application. You don't understand clearly which are the main sections. Only one is selected, the others are not and this make the user confused.

I

[2018-03-27 22:49] paninics opened #213 "Wizard - Checkbox and Radio Buttons not working in certain scenario"
Here's the code in the sample file - `wizard.component.html`

[code]
Now if we remove the code related to icon as I just want the traditional checkbox, the updated code won't display the check boxes at all. Similarly, the radio buttons doesn't show up either.

[2018-03-27 23:07] niesteszeck commented on #213
I think is because de div with choice class. But wait for an official
answer.

__________________________
Enviado desde mi celular

El mar., 27 de mar. de 2018 19:49, paninics <notifications@github.com>
escribió:

[2018-03-28 05:31] paninics commented on #213
You're right. The `choice` class is messing it up. Removing it results in the checkbox being shown but of course all the styling is lost.

[2018-03-28 08:11] chelaruc commented on #213
@paninics thank you for using our product. You need to replace the code from the wizard with [http://md-pro-angular.creative-tim.com/documentation/crs](http://md-pro-angular.creative-tim.com/documentation/crs)

[2018-03-28 13:01] chelaruc commented on #211
Hi, @ivano33z! Can you explain what you want to do? I'm a bit confused.

Thanks,
Ciprian

[2018-03-28 14:05] Kalki5 commented on #137
Thank You @chelaruc .
The documentation isn't updated yet.

[2018-03-28 16:48] paninics commented on #213
Thanks for the clarification. Can you please further explain the motivation for this code in `wizard.component.ts` in light of your comment,

[code]
In the absence of documentation around wizard, that also begs the question, which sections of the typescript code from the wizard should be included or excluded.

[2018-03-28 17:31] niesteszeck commented on #213
This plugin is javascript plugin, not angular, so some code is not in an angular way. If you don't make use of the wizard radio button and wizard checkboxes you can remove that code, it is related to them, to check or unckeck them when clicked (not official answer, please wait for the official answer).  I made a [port of the wizard](https://github.com/niesteszeck/ng2-material-bootstrap-wizard) tha

[2018-03-28 17:48] paninics opened #214 "Wizard navigation labels showing improperly"
Used chrome developer tools to simulate iPad to demonstrate the issue easily. Notice the "About" label - shows the nav pill as well the underlying grayed text, Please note switching the iPad orientation is not a workaround as one can resize the desktop browser window to see the same problem.

![wizard nav pills labels](https://user-images.githubusercontent.com/23061690/38046710-3a208d04-3275-11e8-

[2018-03-28 18:05] niesteszeck commented on #214
It has been reported before #156

[2018-03-28 18:07] paninics commented on #213
Thank you. I'll take a look at your angular version. It does appear that the wizard's javascript code has not been flushed out. Just posted another issue. Also majority of code in the `onInit, onTabShow and ngAfterViewInit` methods are repeated - that is 3x, which should have been refactored.

[2018-03-29 06:56] chelaruc commented on #137
@Kalki5 thx for point this to me. I'll update the documentation today

[2018-03-29 19:12] niesteszeck opened #215 "no circular loader on 2.0.0"
On 1.x.x there was a loader and a circular classes on sass _misc, but I can't find them on 2.0.0.
Acctually there still code that use them, on index.html:
[code]

[2018-03-29 19:48] niesteszeck commented on #215
as this loader can be fount [here](https://codepen.io/jczimm/pen/vEBpoL), i made my own _loader.scss with:

[code]

and wraped the loader in a div with showbox class
[code]

[2018-03-29 21:30] niesteszeck opened #216 "Update guide"
Is there an update guide (1.xx->2.xx)

[2018-03-30 04:45] paninics opened #217 "Incorrect form control styling when in pristine state"
Here's a sample code from a component:
[code]
And here's the result:

![temp](https://user-images.githubusercontent.com/23061690/38124824-b5e6e77e-3399-11e8-98a6-bd788abc0caa.png)

Notice that the email has no default value and no validators. When the form loads, i.e. it is in a [pristine state](https://angular.io/guide/form-validation#control-status-css-classes), the email shows up in success sty

[2018-03-30 13:36] lippomano opened #218 "Scrollbar doesn't work on mobile devices"
If I try to use my project on a mobile phone I can't see any scrollbar, probably because you don't initialize the scrollbar correctly.
Indeed If I comment this control in admin-layout.component.ts:
![scroll](https://user-images.githubusercontent.com/27501745/38139435-b0b653b6-342f-11e8-87cf-4ec109a505cd.PNG)

And

![scroll2](https://user-images.githubusercontent.com/27501745/38139458-ca004b10-342f

[2018-03-30 15:01] Kalki5 opened #219 "navbar toggle issues"
mat-raised-button should be removed for navbar toggle
![image](https://user-images.githubusercontent.com/20438413/38142170-01067e58-3459-11e8-93a3-e167d167163a.png)

button is not responsive at 320px
![image](https://user-images.githubusercontent.com/20438413/38142227-2ee68156-3459-11e8-98a2-631c72d58c5a.png)

[2018-03-30 19:24] paninics opened #220 "Form labels not aligned at certain breakpoints"
Screenshot shows it all.

![labels](https://user-images.githubusercontent.com/23061690/38150700-19740f1c-3415-11e8-8060-fb832986abe7.PNG)

[2018-03-31 01:25] alexandru-paduraru commented on #216
@niesteszeck thank you for letting us know. I'm talking with @chelaruc about a possible way for you guys to have a fast update from 1xx to 2xx and we are working on something that will help with the transition and release it soon. We've got many requests for this. We will come back with our decision in a couple of days as this weekend is the Easter.

Best,
Alex

[2018-03-31 01:30] alexandru-paduraru commented on #209
@brampeirs I understand, that makes sense. I will talk with the team and see how this can be implemented. Do the browsers support that statement from HTML? I've found only this: https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate.

[2018-03-31 01:40] alexandru-paduraru commented on #212
@drenda thank you for letting us know, from UX perspective it makes sense to have "more condense" elements as the children of each category. We will find a solution for all our products and add it in the next releases. Till an official release please add this:

[code]

That should make the children get less space.

Please let us know if that was fine.

Best,
Alex

[2018-03-31 08:50] drenda commented on #212
Thanks @alexandru-paduraru it makes children smaller as you said. It is better of course but still a workaround. I would suggest to close not active menù in order to make more clear to the user where is working. I'm looking forward your solution ;-)

Thanks

[2018-04-01 02:01] niesteszeck commented on #216
@alexandru-paduraru thks.

[2018-04-01 11:17] yasser-kfupm opened #221 "oauth"
I have Spring oauth2 server, how to implement authentication on the angular code.

I didn't find any code template to do any authentication !

Thanks

[2018-04-01 13:08] ivano33z commented on #211
Hi chelaruc , let me try to explain some more,  so what i want to use is Bootstrap 4 classes , elements and components in this theme.  But i have concerns because i used your free theme version and when i tried to implement bootstrap 3 or 4 classes they would not look good , it seemed like material css classes had the same names as bootstrap classes so bootstrap classes/elements were overridden ,

[2018-04-01 22:57] alexandru-paduraru commented on #212
@drenda you can also achieve that by setting the parent for all the collapse elements like this: http://getbootstrap.com/docs/4.0/components/collapse/#accordion-example and that is creating an accordion. Let us know your status.

[2018-04-02 21:52] paninics opened #222 "datatables.net - incomplete data view in responsive mode"
See the below image. The table has lot more data to the right but there is no scroll bar to permit viewing. This behavior is not exhibited in the other two tables i.e. regular and extended.

![datatables](https://user-images.githubusercontent.com/23061690/38218030-4e8a7eda-3685-11e8-8967-57e3e9ba0f17.PNG)

[2018-04-03 06:52] drenda commented on #212
@alexandru-paduraru Thanks for your suggestion. I don't want to hack to much the sidebar and have a different code from your. I hope you are going to improve the sidebar because it's quite evident it need to be done. Thanks for the hint though!

[2018-04-03 07:29] ehdwns980416 opened #223 "Another print error"
I have another print error..please check it..
I want to set print paper size with `@page` in my site.
This is what I did, but not working:
[code]
I tried using `!important` to each style, but it's not working too.
What should I do?

[2018-04-03 10:48] Ananya-96 commented on #131
@chelaruc  i tried your solution but it did not work. Instead tried
`
var mainPanel = document.getElementsByClassName('main-panel')[0];
     $('.modal').on('shown.bs.modal', function () {
        mainPanel.style.height = "auto";
      mainPanel.style.maxHeight ="none";
    })
    $('.modal').on('hidden.bs.modal', function () {
        mainPanel.style.height="100%"
      mainPanel.style.maxHeight =

[2018-04-03 22:51] alexandru-paduraru commented on #220
@paninics thank you for pointing out and sorry for the late response, we had Easter in our team. Can you please let us know which OS you are using and what is the browser version? Then we will test and my colleague Ciprian will give a quick fix.

Best,
Alex

[2018-04-03 23:14] paninics commented on #220
OS: Windows Server 2008 R2 (You probably can reproduce on Win 7 / Win 10)
Browser: Chrome Version 65.0.3325.181 (64-bit)

[2018-04-05 03:57] paninics opened #224 "Incorrect font size for 'Select'"
When you've a `<mat-select>` element, the font size used for the value appears to be different than what is used in a regular form input field. Below is the screenshot and the corresponding sample code to reproduce the problem.

![selects](https://user-images.githubusercontent.com/23061690/38346499-50b8d168-384a-11e8-996c-6bc095755b4a.PNG)

[code]

[2018-04-05 09:01] lippomano opened #225 "Error scroll admin layout"
I am migratin to v.2 and I see an error in your theme when you navigate from register to login page:

[code]

![err](https://user-images.githubusercontent.com/27501745/38356541-4c728ef2-38c0-11e8-9be5-1c7880dd59df.PNG)

[2018-04-05 12:59] Ramasagar opened #226 "ERROR When i moved to PRO version"

[2018-04-05 13:01] Ramasagar commented on #226
Iam getting following error when we moved from free to Pro version

An unhandled exception occurred while processing the request.
AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script 'start' exited without indicating that the Angular CLI was listening for requests. The error output was: module.js:559

[2018-04-06 11:05] Divya10101305 commented on #200
Am using angular template, scrollbar is not scrolling in windows ..is that i need to add css property to do scrolling up and down

[2018-04-06 12:06] bfheythem opened #227 "make a link to edit profile pict"
Hi ,
I want to make a link to the Edit profile page when I click on Edit Profile
![image](https://user-images.githubusercontent.com/22716581/38420071-85868dda-399a-11e8-97c6-6156984a4b8e.png)

=>
![image](https://user-images.githubusercontent.com/22716581/38420100-9bdc82a6-399a-11e8-8b0a-8d2c80a6ac01.png)

I know how to integrate an entry in the sidebar , but this one is kind of different
can you

[2018-04-06 18:59] AndreasHohnholt opened #228 "Adding [formControl] to input field changes the field font color to green"
Screenshot:
![image](https://user-images.githubusercontent.com/17142022/38439277-58867992-39dd-11e8-9362-e4a1563771cf.png)

`<form method="#" action="#">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Subject" [formControl]="fieldSubject"  type="text">
              </mat-form-field> </form>`

[2018-04-07 09:57] AndreasHohnholt opened #229 "pie chart is not displayed correctly when taking many series"
if you insert more than 4 series then each additional series is also shown in black.

Example:

[code]
![image](https://user-images.githubusercontent.com/17142022/38453707-61efbd40-3a5a-11e8-88c9-bc33cf4ef7ca.png)

And how it looks on the chartist-js site:

![image](https://user-images.githubusercontent.com/17142022/38453730-b7f19538-3a5a-11e8-990e-70f201852dcb.png)

[2018-04-09 19:02] paninics commented on #228
This is same as issue #217

[2018-04-10 07:55] aleximmauell opened #230 "Redirection problem."
I need to redirect to login page when page loads ,which was inside the pages module.
How to do that  ??
# CODE :
 ## App.routing.JS  PAGE:
export const AppRoutes: Routes = [
    {
      path: '',
      redirectTo: 'pages/login',
      pathMatch: 'full',
    }, {
        path: '',
        component: SpaLayoutComponent,
        children: [{
          path: '',
          loadChildren: './kyc/kyc.modu

[2018-04-10 10:35] drenda commented on #225
Any update about this issue?

[2018-04-10 14:15] chelaruc commented on #175
No, it isn't. I'll fix it in the next release.

[2018-04-10 15:05] chelaruc commented on #218
@lippomano you can delete these lines if you want scrollbar on mobile phones.

[2018-04-10 15:05] #218 closed

[2018-04-10 23:14] paninics opened #231 "Form control not displayed correctly if declared in a separate component"
Below are two components that are practically identical i.e. they display the phone number control for input. The key difference is they are defined in independent components and when one of them is included in the other, the included control is squeezed, as shown in the image.

**`demo.component.ts`**
[code]

**`phone-num.component.ts`**
[code]

![phone](https://user-images.githubusercontent.com/

[2018-04-11 07:26] lippomano commented on #207
Any news?

[2018-04-11 08:55] chelaruc commented on #219
Hi, @Kalki5

You need to change the  `mat-raised-button ` with ` mat-button `

All the best,
Ciprian

[2018-04-11 08:55] #219 closed

[2018-04-11 09:01] chelaruc commented on #221
Hi, @yasser-kfupm! We have a small tutorial for Authentication Guard here: [http://md-pro-angular.creative-tim.com/documentation/authentication](http://md-pro-angular.creative-tim.com/documentation/authentication)

Best,
Ciprian

[2018-04-11 09:01] #221 closed

[2018-04-11 11:47] YZahringer opened #232 "Official Bootstrap Core usage"
Hello,

I would like to use your Theme with the official Bootstrap Core. If I understand correctly, your Theme contains a modified version of Bootstrap. I can not importe the officiel Bootstrap version and apply your Theme?

Following the good practices by Bootstrap [https://getbootstrap.com/docs/4.0/getting-started/theming/](https://getbootstrap.com/docs/4.0/getting-started/theming/) I should use

[2018-04-11 13:57] chelaruc commented on #227
Hi, @bfheythem

Replace the code for edit profile with:
[code]

All the best,
Ciprian

[2018-04-11 13:57] #227 closed

[2018-04-11 14:27] YZahringer opened #233 "Provide npm package"
It would be useful to provide the theme and updates through npm.

A good example is Font Awesome Pro [https://fontawesome.com/how-to-use/use-with-node-js#pro](https://fontawesome.com/how-to-use/use-with-node-js#pro): To access to the npm packages, it is necessary to have a token provided with the paid Pro version.

[2018-04-11 14:55] YZahringer commented on #232
I found the import of official Bootstrap in `material-dashboard.scss`. But the JS is not official, it's provided by `bootstrap-material-design` package, I have to import this customized version `../node_modules/bootstrap-material-design/dist/js/bootstrap-material-design.min.js`? I can't use the official version and add subset?

[2018-04-12 07:25] YZahringer opened #234 "Update to Bootstrap 4.1"

[2018-04-12 09:01] chelaruc commented on #229
Hi, @AndreasHohnholt

Thank you for using our product. All you have to do is to go in `src/assets/scss/material-dashboard.scss` and replace the line 78 ` @import "plugins/chartist";` with ` @import "~chartist/dist/scss/chartist.scss";`
Tell me if it works.

All the best,
Ciprian

[2018-04-12 09:01] #229 closed

[2018-04-12 09:09] chelaruc commented on #230
Hi, @aleximmauell
You need to change your code with:
[code]
Tell me if it works.

All the best,
Ciprian

[2018-04-12 09:11] chelaruc commented on #225
@lippomano @drenda thank you for point this to me. This error appears only on live preview, I'll take a look these days and I'll fix it.

Best,
Ciprian

[2018-04-12 09:33] chelaruc commented on #232
Hi, @YZahringer
If you will add the official bootstrap.js file, all the components for material will stop working as expected and that's why we are using bootstrap material design which is an extension of bootstrap.js. So you basically use the official bootstrap.js.

All the best,
Ciprian

[2018-04-12 09:33] #232 closed

[2018-04-12 12:43] timcreative commented on #226
Hi, @Ramasagar

Thank you for using our product. Can you tell me the steps to reproduce this error?

All the best,
Ciprian

[2018-04-12 12:44] chelaruc commented on #226
Hi, @Ramasagar

Thank you for using our product. Can you tell me the steps to reproduce the error?

All the best,
Ciprian

[2018-04-13 02:32] jac0117 opened #235 "Fix overlay and clicking outside sidebar to close in mobile menu"
One notable different I see from the demo is that when you open the sidebar in mobile menu, an overlay is placed over the page, and you are able to click anywhere on the page to close to sidebar.

In the download version that I downloaded this is not possible. Do you mind updating the downloadable version with these changes?

This works, make sure your window is small enough to trigger mobile view

[2018-04-13 08:50] chelaruc commented on #222
Hi, @paninics

You need to click on the rows because datatables is responsive.

All the best,
Ciprian

[2018-04-13 08:50] #222 closed

[2018-04-13 08:51] chelaruc commented on #224
@paninics thank you for point this to me. I'll fix it in the next update.

Best,
Ciprian

[2018-04-13 09:10] chelaruc commented on #231
@paninics
You need to move the div with the `col-sm-3` class in the parent component. Like in this example:
`demo.component.ts`
[code]
`phone-num.component.ts`
[code]

All the best,
Ciprian

[2018-04-13 09:10] #231 closed

[2018-04-13 18:00] paninics commented on #222
I see what you're saying. But the regular and extended tables show a different behavior in responsive mode i.e. they show scroll bars and not the '+' icons. Definitely there needs to be consistent behavior across all tables. So it appears to me a bug on one or the other based on different behaviors. Please let us know your thinking and the plan of action.

[2018-04-13 19:12] niesteszeck commented on #224
Can you provide a patch for this, so we can apply it.

__________________________
Enviado desde mi celular

El vie., 13 de abr. de 2018 03:51, Chelaru Ciprian <notifications@github.com>
escribió:

[2018-04-13 19:48] AndreasHohnholt commented on #229
yes now everything is displayed correctly :) (except the demo diagram (colors no longer match the legend))

[2018-04-16 11:57] #235 closed

[2018-04-16 13:05] chelaruc commented on #224
@niesteszeck add this:
[code]
in `src/assets/scss/plugins/_select-bootstrap.scss` file.

All the best,
Ciprian

[2018-04-16 13:08] chelaruc commented on #229
@AndreasHohnholt you can make your own style in `src/assets/scss/core/_type.scss` at the end of the file and match with the colors from pie chart.

[2018-04-16 15:06] javierfjc opened #236 "Change font size"
Hi,
Changing colors work well.
It is posible to change font size by setting font-size-base in _variables.scss or others like $font-size-h1, etc.

Thanks,

[2018-04-17 14:51] bfheythem opened #237 "App showing previously visited Components"
I suddenly started facing this problem ; where I keep getting the previously visited pages in the main display page
for example when I visit the Dashboard then go to another page I still see it there
preview :
![pbm](https://user-images.githubusercontent.com/22716581/38877858-81882bec-4257-11e8-9acb-5d96f34baac5.gif)

I don't what happened thing were doin just fine before

[2018-04-19 02:25] jperezrt commented on #84
Hi @gassuncaocosta , I have the same solution that you mentioned:

`this._loginService.loginWithEmail(email, pass)`
`   .then(() => this.router.navigate(['']))`
`            .catch(_error => {`
`                this.error = _error`
`                console.log( 'error:', this.error );`
`            });`

But I'm getting a loop error:

error: RangeError: Maximum call stack size exceeded
    at Logi

[2018-04-23 12:01] drenda commented on #225
Hi, did you solve the problem? We need a fix for this. Thanks

[2018-04-23 12:44] bfheythem commented on #68
@ao1000 how did u solve it ?
can you please share with me the ngOnDestroy implementaion
I ve been stuck for like 3 pbm having the same problem after consuming a REST api , using subscribe

[2018-04-23 21:36] drenda opened #238 "Login page broken on Firefox 59.x"
On Firefox 59 on Mac this is how the login page looks like:

<img width="1280" alt="schermata 2018-04-23 alle 23 33 41" src="https://user-images.githubusercontent.com/3420646/39154595-1c602a56-474f-11e8-84cc-43bfae25465c.png">

Please fix the problem

[2018-04-24 09:33] chelaruc commented on #238
@drenda thank you for point this. It will be fixed in v2.0.1

[2018-04-24 09:34] chelaruc commented on #225
@drenda this error appears on the local project?

[2018-04-24 09:36] chelaruc commented on #237
@bfheythem sorry for the late response. Can you update me on the progress?

[2018-04-24 09:58] drenda commented on #225
@chelaruc Yes both in local and in production. We used a temporary workaround using  window.scrollTo(0, 0);

[2018-04-24 10:29] bfheythem commented on #237
@chelaruc still nthg I still dont know if it's because of the service I implemented or relating to the routing logic used in the app
anyway this is my service code (the one with the subscribe call ) :
[code]
and this is the code of the new Module I created :
[code]
and this is routing of that module :

[code]

PS: I made some changes here passing the component directly without "childeren [ ]"

and

[2018-04-24 13:56] chelaruc commented on #175
fixed in v2.0.1

[2018-04-24 13:57] chelaruc commented on #217
fixed in v2.0.1

[2018-04-24 13:57] chelaruc commented on #220
fixed in v2.0.1

[2018-04-24 13:57] #220 closed

[2018-04-25 04:52] paninics commented on #217
With v2.0.1, I still see the issue. Can you please point out, what was the exact fix so that I can double check on my end.

[2018-04-25 20:40] drenda commented on #238
Do you have an ETA? We are going to release our application and this problem is very annoying. Thanks

[2018-04-26 08:02] chelaruc commented on #238
@drenda v2.0.1 was released

[2018-04-26 08:02] #238 closed

[2018-04-26 08:05] chelaruc commented on #225
@drenda I don't get the error in my local project, but your workaround is a good one

[2018-04-26 08:05] #225 closed

[2018-04-26 08:09] chelaruc commented on #237
@bfheythem have you got errors on console? Why you change this?
[code]

[2018-04-26 08:10] chelaruc commented on #217
@paninics I used your above code and it is working for me. Can you give me another example?

[2018-04-26 08:59] bfheythem commented on #237
@chelaruc
I posted a question on stackoverflow and some one suggested it , but yet nthg has been solved :
I recently identified the cause of the pbm :
1/ when I try to display the incoming data from the web service using "*ngfor +<p> tag"  the problem does not appear
however when I pass that data directly to tthe "tabledata.datarow" inside the "subscribe " , the problem starts occurring and I get

[2018-04-26 09:27] bfheythem commented on #237
![image](https://user-images.githubusercontent.com/22716581/39297710-2100052e-493c-11e8-96b9-380dee69537c.png)

2/ Second thing I noticed is that when I navigate from component to another every thing works prefectly but when I go to and external link and the go back to the page where the data should be displayed the problem starts occuring again

[2018-04-26 13:38] Shakell commented on #217
I met the same problem, could you please point out how to fix it so I can resolve it in my project.

[2018-04-26 13:51] Shakell commented on #217
I downloaded the version 2.0.1, there is the same problem. If you use a formControl without required, it shows always the green line. It's not reasonable. Please fix it.

[2018-04-27 12:46] lippomano opened #239 "Dropdown issue when opening menù"
I have an issue when I try to open a dropdown, first time  I need to click twice if I want to open the dropdown, like you see:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/27501745/39363045-1f95b9a2-4a29-11e8-97d5-8e4c1dbda6e1.gif)

After that, the functionality seems good.
Can you help me to understand where is the problem?
Just updated to 2.0.1, the same problem in 2.0.0

[2018-04-27 13:27] lippomano commented on #238
If I remove `body.classList.add('login-page')` from the login.component.ts
the css : `.login-page .page-header, .lock-page .page-header {
    height: 100vh;
}` is NOT set and I see the login page like the picture in the question.
So can you explain me why this keep happening in v2.0.1.

[2018-04-28 17:10] n1lptr opened #240 "Datatables.net style issue on 2.0.1 BS4"
I have issue with datatables.net paging bar style

[](url)
![capture](https://user-images.githubusercontent.com/34329392/39399064-757c74e6-4b41-11e8-92c7-aa965d35b1c3.PNG)

[2018-04-29 11:28] ytijtgat opened #241 "Incorrect positioning of navbar and footer on mobile view"
The navbar and footer seem to have an absolute position on top and bottom of the screen on mobile view. This behavior is different from the Bootstrap 4 version of Material Dashboard Pro. This overlaps with content on the screen and is very annoying on mobile use.

Easily observable on a mobile device when going to e.g. login page and entering some data in an input field. The onscreen keyboard will

[2018-04-30 11:01] drenda commented on #239
Do you have some advice on that? Thanks

[2018-05-01 23:50] igoratf commented on #195
@chelaruc adding .mat-form-filed top: 12px. did not work for me. It still looks the same as @mcurrycl showed. Any other idea?

[2018-05-02 13:43] chelaruc commented on #217
@paninics @Shakell please change the files from the attached archive with the current files. This will be fixed in the next version.
[changes.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1967475/changes.zip)

[2018-05-02 13:50] chelaruc commented on #239
@lippomano @drenda this is not happening to my local project. Have you changed something to the archive?

[2018-05-02 13:52] lippomano commented on #239
Importing packages in the `angular.cli.json` file in this order solve the problem:

[code]
Now I don't see any kind of opening issue.

[2018-05-02 14:06] chelaruc commented on #241
Hi, @ytijtgat! Thank you for using our product. All you have to do is to replace the file from this archive with your current file:
[_pagination.scss.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1967569/_pagination.scss.zip)

This will be fixed in next version.

All the best,
Ciprian

[2018-05-02 14:07] chelaruc commented on #240
Hi, @n1lptr ! Thank you for using our product. All you have to do is to replace the file from this archive with your current file:
[_pagination.scss.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1967569/_pagination.scss.zip)

This will be fixed in next version.

All the best,
Ciprian

[2018-05-02 14:17] #239 closed

[2018-05-02 14:37] chelaruc commented on #241
Hi, @ytijtgat!
Thank you for using our product. Change the file from this archive with the current file from your project and tell me if this worked.
[_pages.scss.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1967662/_pages.scss.zip)

All the best,
Ciprian

[2018-05-02 16:06] ytijtgat commented on #241
That fixed it!

Many thanks,
Youran

[2018-05-03 07:41] #241 closed

[2018-05-03 11:37] lippomano opened #242 "Login template broken in mobile phones"
It seems that your login page have problems in mobile phones:

![screenshot_20180503-132743](https://user-images.githubusercontent.com/27501745/39574127-48ca002e-4ed6-11e8-8d6c-1afe0ec635dc.png)

Also in register page, if you try to edit some field you can't be able to see footer and navbar too, so it's a problem if you want to navigate.

we need an urgent fix please!

[2018-05-03 11:47] lippomano opened #243 "Login broken in IE11"
Login page is completely wrong in Internet explorer 11:

![login](https://user-images.githubusercontent.com/27501745/39574715-76b2339c-4ed8-11e8-9cb1-5fcc45bca72d.PNG)

Can you fix?

[2018-05-03 14:15] chelaruc commented on #242
@lippomano Can you try it again?

[2018-05-03 15:20] lippomano commented on #242
Better than before but probably you forgot the icon to close sidebar

![screenshot_20180503-171338](https://user-images.githubusercontent.com/27501745/39585848-03c26406-4ef6-11e8-8085-5add5835f81a.png)

and maybe some padding from navbar to logincard

![screenshot_20180503-171412](https://user-images.githubusercontent.com/27501745/39585898-1b679e8c-4ef6-11e8-88d3-474db1bc5421.png)

[2018-05-05 17:13] raskolnikov1041 commented on #243
I am also very interested in getting this fix.  I think it's not just the login page.  It happens to all pages under the Auth layout.

[2018-05-06 03:11] raskolnikov1041 commented on #238
what was the fix?  i originally used v2.0 and now i downloaded v2.0.2 and i can't see a difference in pages/login.

[2018-05-06 07:23] basiltap opened #244 "Error: Cannot find module 'node-sass'"
Hi, When I first installed the pro version, I got an error: Error: Cannot find module 'node-sass'
I previously installed the free version and worked without any problem.
ERROR in ./node_modules/css-loader?{"sourceMap":false,"import":false}!./node_modules/postcss-loader/lib?{"ident":"postcss","sourceMap":false}!./node_modules/sass-loader/lib/loader.js?{"sourceMap":false,"precision":8,"includePaths"

[2018-05-06 12:18] niesteszeck commented on #244
I had a similar problem after an update (of my Linux distribution). I think
npn rebuild did the trick

__________________________
Enviado desde mi celular

El dom., 6 de may. de 2018 04:23, basiltap <notifications@github.com>
escribió:

[2018-05-06 15:46] #240 closed

[2018-05-07 07:43] chelaruc commented on #238
@raskolnikov1041 Did you find any errors in the product?

[2018-05-07 07:44] chelaruc commented on #242
@lippomano thanks for the feedback. I'll fix it in next version.

[2018-05-07 07:53] chelaruc commented on #243
@raskolnikov1041 @lippomano I'll take a look at it and come back with a fix.

[2018-05-07 12:34] somada141 opened #245 "Quickstart version of Pro?"
Hi there,

I just bought the Pro version (order ID CT141194) and I've been having trouble cutting it down to a basic skeleton (navbar, sidebar with 1-2 menu items, and footer). I made a copy of `md-pro-angular-BS4` so I can start chopping things away till I reach a lean enough codebase to work off but the project implodes when I serve it.

Specifically, doing an `npm install` followed by `ng serve

[2018-05-07 12:51] niesteszeck commented on #216
is there some progress?

[2018-05-07 12:54] niesteszeck commented on #215
@chelaruc, did you decide to eliminate de sass code? are you going to integrate it again?

[2018-05-08 04:16] niesteszeck opened #246 "Broken link on documentation"
On  http://md-pro-angular.creative-tim.com/documentation/sweet-alert, the  *out this page* link is broken

[2018-05-08 06:39] somada141 opened #247 "'Pinning' top navbar"
Is it possible to fix the top navbar in place so that its constantly visible as you scroll through the main page content?

I'm trying to replicate the behavior shown under http://md-pro-angular.creative-tim.com/documentation/navigation. I moved `<app-navbar></app-navbar>` outside of the `main-panel` in `admin-layout.component.html` and used several combinations of classes to achieve the desired be

[2018-05-08 08:27] timcreative commented on #215
@niesteszeck the loader is integrated again in v2.0.2

[2018-05-08 08:27] #215 closed

[2018-05-08 08:28] chelaruc commented on #215
@niesteszeck It is integrated in v2.0.2

[2018-05-08 08:35] chelaruc commented on #246
@niesteszeck I'll fix it in the next update. Thanks for pointing this to me. This is the correct link: [https://sweetalert2.github.io/](https://sweetalert2.github.io/)

[2018-05-08 13:10] niesteszeck commented on #176
Hi, any update?

[2018-05-08 13:17] niesteszeck opened #248 "Card icon action"
Hi.
I want to suggest a new type of card icon header, usefull to put actions. An example
![image](https://user-images.githubusercontent.com/3708962/39759238-8a12da76-52a8-11e8-9426-71b7f7f42de7.png)

html code for the header part:
[code]

changes in _cards.scss
from:
[code]

to:
[code]

Open to suggestions.

[2018-05-08 15:01] niesteszeck commented on #175
@chelaruc I'm upgrading from 2.0.0->2.0.2, specifically, where is this solved ? (just to know)

[2018-05-08 15:58] Shakell opened #249 "Wrong checked style when I add a formControlName to a checkbox"
When I add a formControlName to a checkbox input, the style will be "checked" automatically,  but the property is still false. Any suggestions for fix it ?
[code]

[2018-05-08 22:28] niesteszeck opened #250 "How to start with mini sidebar"
How can I start the dashboard layout with a mini sidebar instead of a full one?

[2018-05-08 22:31] niesteszeck commented on #250
why the sidebar-mini class is added to body?

[2018-05-09 13:03] niesteszeck opened #251 "Sidebar responsive not right"
When changing the size of the navigator windows in some point the sidebar brakes:

Expected behaviour:
![image](https://user-images.githubusercontent.com/3708962/39815893-db564162-536f-11e8-96ab-d217dd0c2e83.png)

Wrong behaviour:
![image](https://user-images.githubusercontent.com/3708962/39815910-ec243710-536f-11e8-8b07-d82a57765edd.png)

How to reproduce:

- In Chrome, inspect the page
- Put ins

[2018-05-09 13:08] niesteszeck commented on #251
On live demo happens the same:
![image](https://user-images.githubusercontent.com/3708962/39816186-e2f953d6-5370-11e8-9440-1be1dae169ac.png)

[2018-05-09 16:40] niesteszeck commented on #142
@dragosct10 @chelaruc
Hi, how do I use this on 2.0.x?

[2018-05-09 17:44] enovaski opened #252 "Angular 6"
Is there any forecast to use the layout with angular 6?

[2018-05-10 08:01] ShashidharSs commented on #238
based on the page footer is not adjusting,

[2018-05-10 08:33] ChrisPanthera commented on #252
It's fairly easy to update to Angular 6. Just use this site https://update.angular.io/

[2018-05-11 07:43] chelaruc commented on #176
Hi, @niesteszeck. Sorry for the late response. Can you give me an example to test?

[2018-05-11 07:45] chelaruc commented on #175
@niesteszeck it is in `/scss/core/_forms.scss`

[2018-05-11 07:46] #217 closed

[2018-05-11 07:48] chelaruc commented on #250
@niesteszeck you can add the class `sidebar-mini` on a parent of the sidebar and it will work.

[2018-05-11 07:48] #250 closed

[2018-05-11 08:03] chelaruc commented on #142
@niesteszeck you can change the `i` tag from card-icon with `img` and add this scss code:
[code]

[2018-05-11 08:07] chelaruc commented on #248
Hi, @niesteszeck! Thank you for your feedback and we'll try to add them, but we need to do some design tests, we can put it without background, just the icons in the top corner. Like here:
<img width="451" alt="screen shot 2018-05-11 at 10 57 41" src="https://user-images.githubusercontent.com/22840626/39913670-63e32aee-550b-11e8-9b88-bad2c52c6e28.png">

All the best,
Ciprian

[2018-05-11 08:07] #248 closed

[2018-05-11 16:25] niesteszeck commented on #248
that looks better, how can I use it?

[2018-05-11 20:00] niesteszeck commented on #176
![image](https://user-images.githubusercontent.com/3708962/39944334-b053a1ca-553c-11e8-9959-c41a01c91586.png)

added
[code]
as a second row on content of second page of wizard in /forms/wizard page

[2018-05-11 20:06] niesteszeck opened #253 "imput field get main color, not wizard color"
on the wizard some controls are with brand-color, and some others with wizard color
radio buttons use wizard color:
![image](https://user-images.githubusercontent.com/3708962/39944481-38100068-553d-11e8-8288-842fad81cb40.png)
imput field use brand color (grey-800 in my case)
![image](https://user-images.githubusercontent.com/3708962/39944510-4d66bfc4-553d-11e8-8bfc-9b046e1dddd0.png)

[2018-05-13 08:35] PavelValentov commented on #242
All the free pages in the tamplate are broken on mobile platforms.
Because navbar and footer wrong configured in scss.
I've fully rewrited all the pages in my project.

[2018-05-13 17:54] smunukuntla commented on #233
Yes this is something Creative Tim is lagging. I have purchased Creative Tim Angular Pro for one of my project and for other project which I'm currently working on, I'm using mdboostrap angular pro version using their npm module (which is super easy to integrate in plain angular project).

Dear Creative Tim, pls look into this.

[2018-05-14 08:52] chelaruc commented on #248
@niesteszeck this is implemented in this dashboard: [https://github.com/creativetimofficial/now-ui-dashboard-angular](https://github.com/creativetimofficial/now-ui-dashboard-angular)

[2018-05-14 08:53] chelaruc commented on #142
@niesteszeck why don't you take the second card and change the image?

[2018-05-14 09:16] alexandru-paduraru commented on #233
@YZahringer @raskolnikov1041 @smunukuntla thank you for the feedback. We will have a look into npm package private repositories and see how we can create auth tokes for each of our customers.

In the past, we used to deliver only plain HTML products based on Bootstrap. The updates there meant the replacement of 2 files. Now we expanded our frameworks so new things need to be implemented on our pro

[2018-05-14 13:51] niesteszeck commented on #142
Because I want to be left aligned.

Using
[code]
I got:
![image](https://user-images.githubusercontent.com/3708962/40001522-5bd8718a-575c-11e8-8492-a9a0ef002f94.png)

How can I put it left aligned to the card?

[2018-05-14 14:12] niesteszeck commented on #142
Finally i did this.

Add a ne scss file _card-profile-form.scss, import it on _cards.scss and add this src to it:
.card-profile-form {
  @extend %common-card-testimonial;
}

[code]

I got this:
![image](https://user-images.githubusercontent.com/3708962/40002623-447163be-575f-11e8-9433-9cb7f3b80aef.png)

Use it:
[code]

[2018-05-15 23:15] niesteszeck opened #254 "Modal don't close on route change"
If you have open a modal and then navigate back (or other type of route change), the body doesn't loose the modal-open class. So you cant do anything more with the page.

How to reproduce

- open http://md-pro-angular.creative-tim.com
- navigate using the menú to Components-Notifications
- open any modal
- navigate back using your back button on your browser
- try to click anything (menu, link, et

[2018-05-15 23:41] pjr0001 commented on #245
+1 Downloaded the zip of the pro version, followed the readme, same result as above.

[2018-05-16 08:29] chelaruc commented on #254
@niesteszeck in `src/app/layouts/admin/admin-layout.component.ts` you have:
[code]
All you have to do is to replace with this:
[code]

[2018-05-16 08:29] #254 closed

[2018-05-16 08:34] chelaruc commented on #245
@somada141 Can you tell me what errors do you got in the console?

[2018-05-16 09:10] lippomano commented on #207
@chelaruc yes `tickets` and `tickets/new` are 2 different components.
At the moment I used 2 completely different path `tickets` and `buy`...but if there is a way to solve this without changing my routes is better

[2018-05-16 09:17] lippomano commented on #243
@chelaruc It will be fixed in 2.0.3?

[2018-05-16 09:54] lippomano commented on #212
@alexandru-paduraru any knews?

[2018-05-16 14:16] niesteszeck commented on #254
thx.

one question, why in the admin-layout and not on app.component. This way any page will remove modals on routes changes, even new layouts.

Also, will this fix be included in next release?

[2018-05-17 01:40] somada141 commented on #245
@chelaruc Its the errors I pasted above. My only solution was to start off the free version and start copying over styles and other bits and pieces. I'm still stumped as to why it didn't work.

[2018-05-17 01:58] somada141 opened #255 "NoUiSlider not showing"
Hi there,

I've been trying to get NoUiSlider to work but the result is always something like this:

![image](https://user-images.githubusercontent.com/272419/40152626-3be1bf52-59b0-11e8-868e-85a169f8f9e6.png)

Code:

[code]

[code]

I've imported `"../node_modules/nouislider/distribute/nouislider.min.js"` in `angular-cli.json`, `NouisliderModule` in `AngularLayoutModule` and `@import "plugins/plu

[2018-05-17 02:47] niesteszeck opened #256 "header-icon-primary does't work properly"
I made this change
![image](https://user-images.githubusercontent.com/3708962/40153561-630c5ffe-5958-11e8-849c-762fbe87a09c.png)
I'm getting this
![image](https://user-images.githubusercontent.com/3708962/40153605-845c3fee-5958-11e8-908a-3605b5a11cf4.png)
whit this code
![image](https://user-images.githubusercontent.com/3708962/40154172-15c354f2-595b-11e8-9b9c-cea6120c974a.png)

[2018-05-18 04:15] Ramasagar opened #257 "Access Denied Issue"
Hi,
Iam getting the below error while calling my api service from this theme

Error: Access is denied.

   at Anonymous function (eval code:2191:9)
   at open (Function code:1:24)
   at Anonymous function (eval code:1591:13)
   at Observable.prototype._trySubscribe (eval code:177:13)
   at Observable.prototype.subscribe (eval code:165:13)
   at WizardComponent (eval code:45:9)
   at createClass (e

[2018-05-18 10:01] aleximmauell opened #258 "How to disable default loader on page load ??"
how to disable default loader on page load  ?? need help

![loader](https://user-images.githubusercontent.com/17826757/40228922-3fd56bda-5ab0-11e8-8c55-8485c9b1b6df.JPG)

[2018-05-18 15:52] niesteszeck commented on #258
just remove it from index.html

[2018-05-21 09:22] PeterDjukic opened #259 "touch problem"
Hi I have a problem with your template. Something in it is blocking the touch-scroll events if the div is inside your admin layout. Do you know what is the problem and how to solve it?
thnks

[2018-05-22 09:11] chelaruc commented on #207
@lippomano the component `tickets/new` is a child of `tickets`?

[2018-05-22 09:11] chelaruc commented on #243
@lippomano yes, it will be fixed in 2.0.3

[2018-05-22 09:15] chelaruc commented on #254
@niesteszeck yes, it will be fixed in next release. And I'll try to add it in `app.component.ts` to close the modal in all the layouts.

[2018-05-22 09:15] drenda commented on #243
when the 2.0.3 release is planned? Thanks

[2018-05-22 09:26] chelaruc commented on #245
@somada141 Can you give me your `package.json`?

[2018-05-22 09:48] chelaruc commented on #255
@somada141 have you imported NouisliderModule in your module?

[2018-05-22 09:50] chelaruc commented on #256
@niesteszeck you need to change the color from `card-header-primary`.

[2018-05-22 09:53] chelaruc commented on #257
@Ramasagar Can you give me an example?

[2018-05-22 09:53] chelaruc commented on #258
@aleximmauell as @niesteszeck said all you have to do is to remove the code from the index.

[2018-05-22 09:53] #258 closed

[2018-05-22 09:54] chelaruc commented on #259
Hi, @PeterDjukic! Can you give me an example for testing?

[2018-05-22 09:55] chelaruc commented on #243
@drenda, probably next week.

[2018-05-22 13:52] niesteszeck commented on #254
@chelaruc I can confirm that works great on app.components.ts

have a great week

[2018-05-22 14:03] niesteszeck commented on #256
@chelaruc I reilase that a few days ago and It's working great. The downside is that I discover that it isn't the only color not working, so If I want to change colors I have to edit _cards.scss for every option (warning, info, etc) and I suspect isn't the only class with this inconvenient.

Also the [documentation](http://md-pro-angular.creative-tim.com/documentation/colors) to change colors is w

[2018-05-23 02:01] somada141 commented on #255
@chelaruc I'm importing it as such in the `AdminLayoutModule`:

[code]

[2018-05-23 02:02] somada141 commented on #255
Should I be importing in the `AppModule` instead?

[2018-05-23 02:40] somada141 commented on #245
@chelaruc It was the same package.json that comes with `md-pro-angular-BS4`.

[2018-05-23 06:00] noe23 opened #260 "perfectScrollbar does not work correctly with datatable ajax"
I found a problem implementing datatable with ajax, the scrollbar does not fit when the page is changed in the datatable, try with boostraptable plugin configured by ajax and the same thing happens, the problem only happens with ajax configuration
the example of the template works correctly but it is not configuration by ajax, any suggestion I would thank you, thank you

this is the version I use,

[2018-05-23 08:05] drenda commented on #243
@chelaruc I saw the 2.0.3 is released but I don't understand if this issued is solved in that release. Could you provide me more information please? Thanks

[2018-05-23 10:50] lippomano opened #261 "Scrollbar problem on tablet"
There is a problem on scrollbar if you try to use it with a tablet 10" ( nexus 10), I can scroll sidebar but there isn't any scrollbar in the main page:

![img_20180523_123023_hdr](https://user-images.githubusercontent.com/27501745/40420178-c2a68190-5e87-11e8-99d7-c6f1f6b45002.jpg)

[2018-05-24 08:49] lippomano commented on #207
probably you can solve this using:
`[routerLinkActiveOptions]="{exact: true}"`

[2018-05-25 05:34] noe23 commented on #260
i remove this line $('html').addClass('perfect-scrollbar-on'); on material-dashboard.js file and works :)

[2018-05-25 05:53] #260 closed

[2018-05-25 20:40] cdorde opened #262 "SIde menu does not work allways as expected on mobile phones"
Steps to produce error:

1. Open demo site on android or iphone (https://demos.creative-tim.com/material-dashboard-pro-angular2/dashboard?_ga=2.115971142.1353545506.1527279521-1965686447.1526913373)
2. Click on "hamburger" icon
3. Choose Forms -> Regular Forms
4. Menu is closed and form is opened
5. Click on "hamburger" icon again to open menu

Hamburger icon is changed to X icon but sidebar menu

[2018-05-28 13:07] lippomano commented on #243
any news about next release?

[2018-05-29 09:59] lippomano opened #263 "Wrong download link"
Your download link is for 2.0.2 and not for 2.0.3 (2.0.3 is the live version I suppose).
PLEASE update it fast, we need the new version for angular 6, because your CSS for old material version has some problem with datepicker and dropdown

[2018-05-29 10:26] chinmayembedded opened #264 "Tab switch issue"
Switching the tab doesn't work sometimes on a hosted environment. It takes some time to load.

[2018-06-05 01:14] totalpanic opened #265 "No mixin named ...."
Hi,
I am trying to add Material Dashboard PRO Angular - v2.0.2 to an existing Angular+Core2+Identity project.
I have copied assets/scss folder to the exiting project. Made sure package.json has all required packages listed. Referenced material-dashboard.scss in angular-cli.json.

When I build the project i get following error

` fail: Microsoft.AspNetCore.SpaServices[0]
      ERROR in ./src/assets

[2018-06-05 07:14] chelaruc commented on #121
This is the archive with the modifications for latest versions:
[multilevel-sidebar.zip](https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/files/2071187/multilevel-sidebar.zip)

[2018-06-05 07:28] chelaruc commented on #236
Hi @javierfjc,

Thank you for using our product and sorry for the late response. Yes, it is possible.

All the best,
Ciprian

[2018-06-05 07:28] #236 closed

[2018-06-05 07:31] chelaruc commented on #237
@bfheythem have you tried with a setTimeOut function?

[2018-06-05 09:12] #244 closed

[2018-06-05 09:13] #246 closed

[2018-06-05 09:44] chelaruc commented on #251
@niesteszeck, Sorry for the late response. I couldn't reproduce this error on chrome. Can you tell me if this still appear?

[2018-06-05 10:04] chelaruc commented on #255
@somada141 we have imported it in FormsModule, so you need to import you where you are using it.

[2018-06-05 10:04] #255 closed

[2018-06-05 10:05] #257 closed

[2018-06-05 10:05] #259 closed

[2018-06-05 10:10] chelaruc commented on #256
@niesteszeck I'll speak with my colleagues about this.

[2018-06-05 11:37] chelaruc commented on #264
@chinmayembedded Can you give me more details?

[2018-06-05 13:39] chelaruc commented on #249
@Shakell sorry for the late response. Have you found a solution for this?

[2018-06-05 13:43] Shakell commented on #249
Yes, your teammates gave me the suggestions and I resolved it. Thanks.

[2018-06-05 13:43] #249 closed

[2018-06-05 17:00] niesteszeck commented on #251
I still see it, maybe I'm not updated, when 2.0.3 comes out I will check again. I will let you know. But at least on demo app still happens:
![image](https://user-images.githubusercontent.com/3708962/40991001-708589ea-68c0-11e8-9df6-a028b558aad4.png)

[2018-06-06 05:30] niesteszeck opened #266 "Suggestion. Change wizard data-color names"
My suggestion comes because as I change colours in _colours.scss, the color that I chose on wizard data-color variable get less significant and reliable.
![image](https://user-images.githubusercontent.com/3708962/41018657-df3beb3c-6928-11e8-95b8-7becf29155a9.png)
for example:
[code]

[code]

[2018-06-06 13:35] niesteszeck commented on #176
@chelaruc any update? I still have a purple select

[2018-06-06 13:41] niesteszeck commented on #204
@chelaruc any update on this? I have the same problem, trying to run the app on site.com/app without success. Also I don't want to edit all assests references and manually modify base href when I want to make a production compilation.

[2018-06-06 14:58] niesteszeck opened #267 "$brand-inverse used?"
Is $brand-inverse color used anywhere or for anything ?

[2018-06-07 02:01] niesteszeck opened #268 "brand-secondary color"
Is there any plan to add a brand-secondary color to _brand.scss?

[2018-06-07 06:18] chelaruc commented on #234
fixed in v4.1

[2018-06-07 06:18] #234 closed

[2018-06-07 07:21] drenda opened #269 "Login page problem with Chrome"
Hi, I just installed the 2.1.0 version. There is a problem in the login page on Chrome (v 66.0) as you can see in the image.

The problem is also visible in your online demo.
![error](https://user-images.githubusercontent.com/3420646/41084334-2e2b7210-6a34-11e8-8a4b-1d39f8d120c2.png)

[2018-06-07 07:32] lippomano opened #270 "Overlay problem in mat-datepicker and mat-select with material v6"
Both datepicker and select have an overlay problem with your CSS.
when you try to select an option from mat-select or a date in mat-datepicker there is an overlay in front of the page and I can't do anything.
The problem probably is here in your CSS:
`
.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1031;
    pointer-events: auto;

[2018-06-07 07:41] chelaruc commented on #269
Hi, @drenda.

You need to go in `src/assets/scss/dashboard/_pages.scss` on line 126 and delete `height: auto;`.
Tell me if this worked.

[2018-06-07 07:42] chelaruc commented on #270
@lippomano Can you tell me the steps to reproduce that?

[2018-06-07 07:43] chelaruc commented on #267
No, it's not

[2018-06-07 07:43] #267 closed

[2018-06-07 07:44] chelaruc commented on #268
@niesteszeck why you need brand-secondary?

[2018-06-07 07:44] #261 closed

[2018-06-07 08:53] drenda commented on #269
Much better, but not perfect. There are still few pixels at the bottom of the page.

[2018-06-07 10:57] lippomano commented on #270
Just try to use [mat-datepicker](https://material.angular.io/components/datepicker/overview) or [select](https://material.angular.io/components/select/overview)

[2018-06-07 11:07] lippomano opened #271 "Double scrollbar in some page after upgrading to v2.1"
After this last upgrade, I have 2 scrollbars in the long pages, one is perfect scrollbar and the other is the standard windows scrollbar.
I don't know why, any idea how to fix it?

[2018-06-07 13:31] niesteszeck commented on #268
I want to theme my app with 2 main colors, but also use info, warning, and danger

[2018-06-08 00:07] somada141 commented on #245
Ah cool thanks @sasija

[2018-06-08 07:52] drenda commented on #271
I've the same problem. Could you give me some advice about that? thanks

[2018-06-08 14:28] lippomano commented on #271
I don't have this problem in firefox, temporary I fixed it adding `overflow: hidden` to the body

[2018-06-11 08:28] chelaruc commented on #204
@niesteszeck I don't have a solution yet

[2018-06-11 08:51] chelaruc commented on #271
@lippomano Can you tell me what browser do you use?

[2018-06-11 08:53] lippomano commented on #271
@chelaruc Chrome Version 66.0.3359.181

[2018-06-11 09:10] chelaruc commented on #176
@niesteszeck we don't have customizable select colors implemented for the wizard. If you want to implement it, you need to add a class on body like `wizard-page` and add some scss for select.

[2018-06-11 09:33] chelaruc commented on #268
@niesteszeck you can create your own brand if you want.

[2018-06-11 09:33] #268 closed

[2018-06-11 09:33] chelaruc commented on #266
@niesteszeck yes, it is a good idea. I'll change it in the next update.

[2018-06-11 13:45] niesteszeck commented on #266
thx.

Also, there are others colors that can get upgraded by this suggestion, like sidebar data-color. Think about them too.

Have a great weekend

[2018-06-14 15:27] niesteszeck commented on #176
@chelaruc Sorry, but I didn't like the answer. I bought an angular *material* bootstrap theme, that includes several themed plugins, so I expect that I can use material inputs inside this plugins and they get themed as all other things.

[2018-06-18 08:56] chelaruc commented on #271
@lippomano in the latest version this is not happening. I think it's because of the overflow

[2018-06-20 13:38] niesteszeck opened #272 "Compilation warning when update to angular 6"
I'm in progress of updating my project to use 2.1.0 theme version and a warning appears because of bootstrap scss import:
[code]

Have you seen this warning?

[2018-06-20 18:38] enovaski opened #273 "component MatDialog"
Hello, I'm trying to work with the MatDialog component in the md-pro-angular-BS4 project with version 2.1.0 but when clicking to open the modal it appears covering every left corner. The code applied to use MatDialog and the one made available in the example of the site https://material.angular.io/components/dialog/exemples

![print](https://user-images.githubusercontent.com/9543316/41677847-e6988

[2018-06-21 10:09] bfheythem opened #274 "Add a function to Action Buttons in simple Table"
Hi ,
I want to add a function on click to an action button in the table below
![screenshot from 2018-06-21 11-04-56](https://user-images.githubusercontent.com/22716581/41712691-149e26c0-7543-11e8-947a-7f929269779f.png)

I added console.log and it works but when I try to pass the value of the clicked row it display an error saying that it's undefined :
![image](https://user-images.githubusercontent

[2018-06-21 15:18] niesteszeck opened #275 "Theme mat-expansion-panel"
Hi, I would like to use `mat-expansion-panel`, but isn't themed. As is square and with a dark border it looks strange on the theme. I want to use something like a `box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);` to it, using the above patch.

[code]
The problem is that gets overriden by:
[code]
Any suggestion?

How it looks with the patch overriden
![image](https://user-images.githubusercontent.com/3708

[2018-06-21 21:42] niesteszeck opened #276 "Update to angular 6 - rxjs 6"
I'm updating the theme and following angular migration process

When I update to rxjs 6 running
[code]
It got some files updated that are from theme

[code]
_\*this patch hasn't been created over a clean copy of the theme_

Are they already updated on a fresh copy of the theme?

[2018-06-22 09:04] chelaruc commented on #272
@niesteszeck yes, I saw this warning and this is from bootstrap side. Check this pull request: [https://github.com/twbs/bootstrap/pull/26242](https://github.com/twbs/bootstrap/pull/26242)

[2018-06-22 09:22] chelaruc commented on #273
Hi, @enovaski! You need to add:
[code]
to
![screen shot 2018-06-22 at 12 21 53](https://user-images.githubusercontent.com/22840626/41769100-dfba96b2-7616-11e8-94c8-8cfdea71e1a2.png)
Tell me if this is working.

All the best,
Ciprian

[2018-06-22 09:30] chelaruc commented on #275
@niesteszeck I think with `box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);` is looking more better and you can override it with !important.

[2018-06-22 13:40] niesteszeck commented on #272
Thks, I'll watch it

[2018-06-22 13:40] #272 closed

[2018-06-22 13:41] niesteszeck commented on #275
Thks, it works like a charm. New Patch:
[code]

[2018-06-22 13:44] #275 closed

[2018-06-22 20:21] enovaski commented on #273
Add where does this div? could you detail it better?

[2018-06-24 09:05] khoramshahy commented on #186
hi, your doc is not update! I'v just bought the BS4 version. there is not angular-cli.json in proj. instead it has angular.json. and in that file there is no "../node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.css" direction in style section!
do you really have RTL support or not?!!

[2018-06-26 14:06] brampeirs opened #277 "Font family Roboto slant"
In the _type.scss file you use **Roboto Slab**:
`$font-family-serif:      'Roboto Slab', 'Times New Roman', serif !default;`

This is however not imported in the index.html
`<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
`

Am I missing something?

[2018-06-27 09:50] ehdwns980416 opened #278 "Menubar background not moving"
When I move page with `router.navigate()`, menubar disappear.

Like this:
![video_2018-06-27_182227](https://user-images.githubusercontent.com/26425092/41966372-e883ea92-7a39-11e8-9883-b47ed6aef658.gif)

Below is the code for clicking on the logo.

`<a class="simple-text" [routerLink]="['/dashboard']" [style.cursor]="'pointer'">title logo</a>`

[2018-06-28 08:07] chelaruc commented on #273
@enovaski sorry for the late response. You need to add this in scss on class `cdk-global-overlay-wrapper` because this div is created when you open the MatDialog.

[2018-06-28 08:09] chelaruc commented on #278
@ehdwns980416 Thank you for using our product. What version do you use?

[2018-06-28 08:35] chelaruc commented on #186
@khoramshahy see this comment with what changes you need to do for RTL.

[2018-06-28 09:20] ehdwns980416 commented on #278
As I know, it is a v1.2.0.

[2018-06-29 00:58] fennellgb23 opened #279 "use moment for mat-datepicker"
mat-datepicker has two options for it's date management.  The current implementation (unless I missed something) is using the native Date function.  Would like to see documentation to update the code to use the Moment Date function provided by Material instead.

[2018-06-29 15:19] aleximmauell opened #280 "can't able to install " md-pro-angular-BS4 " v2.1.0"
Getting error when i run " npm install "
[2018-06-29T15_05_31_582Z-debug.log](https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/files/2149920/2018-06-29T15_05_31_582Z-debug.log)

npm ERR! Unexpected token k in JSON at position 26734 while parsing near '...reporter":"^1.1.1","ka'

[2018-07-02 17:37] chanakafit opened #281 "Disable perfect scrollbar."
I need to disable perfect scrollbar since it doesn't work with ngx-infinity-scroll. How to do that?

[2018-07-03 08:06] chelaruc commented on #278
@ehdwns980416 what errors appear in the console?

[2018-07-03 08:07] chelaruc commented on #280
@aleximmauell did you changed the angular.json file?

[2018-07-03 08:12] chelaruc commented on #281
@chanakafit you need to go in `src/app/layouts/admin/admin-layout.component.ts` and remove the lines 54-61:
[code]
and 116:
[code]

[2018-07-03 08:12] #281 closed

[2018-07-03 08:52] ehdwns980416 commented on #278
nothing..

[2018-07-03 12:40] oneal1801 opened #282 "ng build --prod --base-href "./" is not loading the scss and js correctly"
Hello @timcreative , @chelaruc

i am having issues anytime i run the ng build --prod --base-href "./", When i open the dist/index.html file that is generate it wont load the page, it will show just a white screen, the only thing that is display is the favicon and the title of the page, nothing else.

    "@agm/core": "1.0.0-beta.2",
    "@angular/animations": "6.0.2",
    "@angular/cdk": "6.1.0",

[2018-07-08 02:15] zbalda opened #283 "Register page background image not covering full page in Firefox"
In Firefox on my local host and on the Creative Tim live preview the background image of the register page does not cover the entire page. On the login page the background image covers it just fine. Not sure why the background image is working on the login page but not on the register page.

![screenshot_2018-07-07](https://user-images.githubusercontent.com/22688955/42416024-ae881f66-8231-11e8-8e3

[2018-07-08 02:22] zbalda commented on #283
Also I'm using v2.1.0 with BS4

[2018-07-16 13:08] 7carlosz commented on #282
solution?

[2018-07-17 10:51] sefasaid opened #284 "How to change position of mobile sidebar"
Hi.

How can i change mobile menu position? Currently it is in right but i want to make open from left

[2018-07-23 07:14] OmkarJadhav21 opened #285 "Can this product will work on Angular SSR ?"
I am trying to convert this project for the ssr but it will gives me the lots of error due to the used JQuery in project.May I know is their any other solution for this or Can I get same product in Angular SSR ( Server Side Rendering ) ?

[2018-07-24 12:06] OmkarJadhav21 opened #286 "Fill data using *ngFor in Angular 4 problem"
I am using angular 4 for for developement but when data is inserted into the rows ,pagination and total no.of entries will not be shown please refer the below code to solve the issue.I am attaching thne screenshot of issue please suggest the best solutions in angular 2/4/6 only

**********JSON********
[code]

***HTML***
[code]
**TYPESCRIPT**
[code]

![issue](https://user-images.githubusercontent.c

[2018-07-31 19:42] USTSweb opened #287 "Calendar integration"
Hello,
I'm a dev from USTS and i work on your template. I have some question about some component which i don't implemente successfully or tips for some features.
My first question will be on the calendar. Can i implement it in a card juste with the tag <app-calendar-cmp> or need i to adapte it with some sccs and ts on my component. When i put it on my page, it take all the place and it's on the f

[2018-08-03 09:40] Shyam4131 opened #288 "Need To Integrate With Visual Studio Code"
Hi,
  I like to integrate Material Dashboard PRO Angular 2.1.0 Admin LTE with VS Code.

[2018-08-04 16:53] ezebc182 opened #289 "Freaky shakiness hovering country boundaries"
![crash-material-admin-pro](https://user-images.githubusercontent.com/5577862/43678661-c46ec632-97ed-11e8-9a93-f9daa0611df0.gif)

If you hover countries, you will notice the shakiness. Even the gif couldn't show the real behavior because is much faster than the gif captured.

[2018-08-06 11:39] buildYourNet commented on #270
What solved the problem for me was that in the scss _plugin-datetime-picker.scss I reduced the z-index to 1000 of  .cdk-global-overlay-wrapper.

[2018-08-06 14:41] F0rt1s commented on #289
Same here.

[2018-08-06 16:37] F0rt1s opened #290 "Every click on a link with # causes site reload"
I am trying to integrate the dashboards into my own app. I have the problem that every click to a link with a hashtag reload the page. For example if I click on the component drop down menu (which links to "http://localhost:4200/#components") the app simply reloads.
![reloadissue](https://user-images.githubusercontent.com/5212636/43729185-b99f3fdc-99a7-11e8-8719-a32f1a50f21b.gif)

Any ideas?

[2018-08-07 07:26] F0rt1s commented on #290
Shame on me: I forgot to add popper.js

[2018-08-07 07:26] #290 closed

[2018-08-08 09:09] Avadhesh-Patel commented on #270
I am also facing same issue for mat-select. Please check attached image for more information.

![image](https://user-images.githubusercontent.com/16130486/43827876-96f09f54-9b18-11e8-8d6b-7fbfa60a1e5a.png)

[2018-08-08 09:42] lippomano opened #291 "Wrong animation in dropdown"
I have a strange animation with the dropdown
![ezgif com-crop](https://user-images.githubusercontent.com/27501745/43829193-a59b5a68-9afe-11e8-8b4c-acd56112e73c.gif)
Like you see in the GIF the panel seems to come down and it is not the correct animation.
I am using it in a test project to see what is the cause of it, and this is the current angular.json:
![cattura](https://user-images.githubuserco

[2018-08-09 07:44] buildYourNet commented on #270
@Avadhesh-Patel try to change .cdk-global-overlay-wrapper. and .cdk-overlay-wrapper to 1000 in the  _plugin-datetime-picker.scss file. You can find it in the \src\assets\scss\plugins folder

[2018-08-09 12:08] Avadhesh-Patel commented on #270
@buildYourNet Thanks man.. It's working now ...

[2018-08-09 12:08] joeldhenry opened #292 "Nav Menu Hamburger Broken (tablet/mobile)"
Steps to reproduce

1. Go to: https://demos.creative-tim.com/material-dashboard-pro-angular2/
2. Click on "widgets"
3. Click on Hambuger
![image](https://image.ibb.co/hyhXo9/Screen_Shot_2018_08_09_at_10_04_54_pm.png)

Produced on Google Chrome for Mac

[2018-08-09 13:39] lippomano commented on #291
This is the example:
https://drive.google.com/open?id=1-nnp_Rj3q4M989N-1WsarxJ2VMOTrsCL

[2018-08-14 22:49] cdorde opened #293 "Login page button "Lets go" not clickable on different zoom"
Steps to produce error:
1. Open demo site on desktop chrome (https://demos.creative-tim.com/material-dashboard-pro-angular2/dashboard?_ga=2.115971142.1353545506.1527279521-1965686447.1526913373)
2. Click "Pages"
3. Click "Login"
4. Change zoom to 125%
5. Try to click on button "LETS GO"

Expected behaviour: Button is clickable.

Temporaty solution: change zoom to lower value.

Please, can you fix

[2018-08-15 10:40] baonbt opened #294 "Is there any better ways to fill data rather than setTimeout?"
Hi, I got a problem with datatable, I think setTimeout is not a good idea. When you refresh the table so quick (shorter than Timeout interval), you will got an err (datatable cannot reinitialise datatable). If Timeout too short, your table will not be loaded completely(low network connection).
I tried to load data by ajax, `$('#datatables').DataTable({ajax:"jsondata"})`  but ngFor or repeat cannot

[2018-08-22 23:09] joeldhenry commented on #292
@timcreative Can you add me to your private git? I bought this theme.

[2018-08-24 09:34] chelaruc commented on #283
@zbalda thank you for using our product and sorry for the late response. Change the `min-height to 100vh` in `.page-header`.

Best, Ciprian

[2018-08-24 09:34] #283 closed

[2018-08-24 09:37] chelaruc commented on #282
@oneal1801 have you tried the solution from @7carlosz? Best, Ciprian

[2018-08-24 09:37] #282 closed

[2018-08-24 09:40] chelaruc commented on #284
@sefasaid all you have to do is to add the class `menu-on-left` on `body` tag.

All the best, Ciprian

[2018-08-24 09:40] #284 closed

[2018-08-24 09:56] chelaruc commented on #286
@OmkarJadhav21 thank you for using our product and sorry for the late response. Check #33 and tell me if you'll find the solution here. Best, Ciprian

[2018-08-24 09:59] chelaruc commented on #287
@USTSweb, I have responded to you on email. Best, Ciprian

[2018-08-24 09:59] #287 closed

[2018-08-25 05:50] OmkarJadhav21 commented on #286
I already tried with #33 but it can't solve this problem

[2018-08-27 08:47] chelaruc commented on #289
@F0rt1s @ezebc182 what browser do you use? Best, Ciprian

[2018-08-27 08:49] #270 closed

[2018-08-27 08:52] chelaruc commented on #291
@lippomano sorry for the late response. What version do you have?

[2018-08-27 08:54] lippomano commented on #291
@chelaruc version 2.1.0

[2018-08-27 09:08] chelaruc commented on #293
@cdorde all you have to do is to go in `src/assets/scss/core/_headers.scss` and change the line 59 `z-index: 2;` with`z-index: 3;` and after line 61 add:
[code]

All the best,
Ciprian

[2018-08-27 09:08] #293 closed

[2018-08-27 09:15] chelaruc commented on #292
@joeldhenry with what email do you bought this product? All the best, Ciprian

[2018-08-27 09:17] chelaruc commented on #291
@lippomano can you give me an example with this behavior in our product?

[2018-08-27 09:46] chelaruc commented on #292
@joeldhenry I've sent you an invitation.

[2018-08-27 16:04] lippomano commented on #291
It was an import problem, you can close.

[2018-08-27 16:10] lippomano opened #295 "Problem when mat-error text is too long"
As you can see in the image below I have a problem when the error text is too long.
The mat-error text appears above the next row,
is it an expected behavior?
I want to see the entire error message under the field, is it possible?

![cattura](https://user-images.githubusercontent.com/27501745/44670702-b27e5080-aa23-11e8-930a-bbcb43cfe4f7.PNG)

[2018-08-28 08:10] somada141 opened #296 "mat-select element not interacting with mouse after porting to Angular 6 (v2.1.0)"
Hi there,

I just ported my project from the v2.0.2 version to v2.1.0 mostly by upgrading the various dependencies as defined in `package.json`.

Following the port, however, my `mat-select` elements no longer allow for an option to be selected with the mouse (no highlighting on mouse-over while clicking on an option hides the option dropdown). That being said the element still works well when int

[2018-08-28 08:54] chelaruc commented on #285
Hi, @OmkarJadhav21! Thank you for using our product and sorry for the late response. Have you found a solution for this? Best, Ciprian

[2018-08-31 10:30] joeldhenry commented on #292
Any update on this menu issue? I cant release a site with the menu broken

[2018-09-01 09:14] dupiesdupreez opened #297 "Notification Timer not working"
The timer on your notification boxes aren't working. changing from 1 second(1000) to 10 seconds(10000) does not change the time of the notification message being displayed.

Please can you have a look at that.

[code]

[2018-09-01 09:15] dupiesdupreez commented on #294
I have Exactly the same problem.

My timeout is at 0 seconds. But like you said, might have problems when the network is slow.

[2018-09-01 09:29] OmkarJadhav21 commented on #285
No,I am still working on that but I think we can solve this by identifing the platforms i.e. Server or browser but it makes some complications.

[2018-09-01 15:31] niesteszeck commented on #294
maybe on #33 you can found some other approach. I use services to load data asyncroniusly from server side and put it into a datatable with ngFor, see [this](https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/issues/33#issuecomment-347873630)

[2018-09-04 11:38] #291 closed

[2018-09-04 12:44] chelaruc commented on #297
Hi, @dupiesdupreez! Thank you for using our product. We've tested and all it's working on our side. Can you tell me what version do you have?

All the best,
Ciprian

[2018-09-04 12:46] chelaruc commented on #278
@ehdwns980416 what code you have for TITLE LOGO?

[2018-09-04 12:50] chelaruc commented on #276
@niesteszeck it gives me an error. Can you help me?
<img width="1419" alt="screen shot 2018-09-04 at 15 49 45" src="https://user-images.githubusercontent.com/22840626/45032303-2f2fb100-b05a-11e8-827d-a25fc2dfcbdf.png">

[2018-09-04 12:52] chelaruc commented on #265
Hi, @totalpanic! Thank you for using our product and sorry for the late response. Have you managed to fix it? Are you sure you have the right scss files? Best, Ciprian

[2018-09-04 12:53] #264 closed

[2018-09-04 12:53] #251 closed

[2018-09-04 19:03] niesteszeck commented on #276
I'm not sure about your issue, actually I have updated my copy already, but was long time ago, I should check the git repo to see which changes where made.

can you run `ng lint`?

[2018-09-05 07:59] totalpanic commented on #265
Yes got it working. Turned out to be outdated packages, even though the
correct versions were specified.

Thanks,
GK

On Tue, Sep 4, 2018 at 10:52 PM Chelaru Ciprian <notifications@github.com>
wrote:

[2018-09-18 02:27] joeldhenry commented on #292
@chelaruc this issue can be closed with the release of 2.1.1

[2018-09-26 05:23] Avadhesh-Patel opened #298 "mat-selection-list is not displaying un-selected checkbox"
Hi,
For this input
<mat-selection-list>
                <mat-list-option>
                    1
                </mat-list-option>
                <mat-list-option>
                    2
                </mat-list-option>
                <mat-list-option>
                    3
                </mat-list-option>
</mat-selection-list>

we are getting following output.

![image](https://user-images.g

[2018-09-28 06:28] somada141 commented on #296
Turns out the issue was caused by my using the CSS and SCSS of the free version and updating the packages to Angular 6 based on the paid version. Copying over the new SCSS/CSS files into my project from v2.1.0 of the paid version did the trick.

[2018-09-28 06:28] #296 closed

[2018-10-01 08:36] Suhaibsultan opened #299 "Add Change background options for navbar in fixedplugin"
Please i need some help for add change navbar backgroundcolor in fixedpulgin component

[2018-10-05 03:39] Leviiathan opened #300 "non-existent function"
in la version v2.1.1 of material-dashboard-pro-angular,
there is no function which causes it to deform when doing responsive

onResize(event) {
   return $(window).width() > 991;
}

<div (window:resize)="!onResize($event)">

[2018-10-08 08:27] #265 closed

[2018-10-08 08:29] chelaruc commented on #298
@Avadhesh-Patel how can I help you?

[2018-10-08 08:30] chelaruc commented on #299
@Suhaibsultan How can I help you?

[2018-10-08 08:31] chelaruc commented on #300
@Leviiathan are we using this function in the product?

[2018-10-08 18:13] greemlin commented on #213
Also : how do I trigger an event in angular (click)='' if class is choice?

[2018-10-14 15:49] ezebc182 commented on #289
@chelaruc I apologize for my delayed response. The version was Chrome Versión 69.0.3497.100 (Build oficial) (64 bits)

[2018-10-15 08:34] chelaruc commented on #289
@ezebc182 what version do you have? The last one is 2.1.1.

[2018-10-17 02:16] ezebc182 commented on #289
@chelaruc I faced this in your [live demo](https://demos.creative-tim.com/material-dashboard-pro-angular2/dashboard?_ga=2.165700222.1103681989.1539742477-333155407.1507170282)

[2018-10-18 07:05] chelaruc commented on #289
@ezebc182 and what OS?

[2018-10-18 11:51] ezebc182 commented on #289
@chelaruc both Windows 10 64-bit and Ubuntu 18.04.1 LTS

[2018-10-23 12:09] Avadhesh-Patel commented on #298
Empty check box is not showing on html ... mat-selection-list.. only selected one displayed ...

[2018-10-23 15:50] Sachin124 opened #301 "I have issues in NGX datatable when i use in our theme."
I already posted this issue

https://github.com/creativetimofficial/ct-material-dashboard-pro/issues/184#issue-353985529

there is no free to use CSS in Material theme.

[2018-10-24 08:11] chelaruc commented on #301
Hi, @Sachin124! You need to change the scss for datatable to match the classes from ngx datatable.

[2018-10-24 08:12] chelaruc commented on #298
@Avadhesh-Patel can you give me some example code for testing?

[2018-10-24 10:02] Avadhesh-Patel commented on #298
Empty check box is not showing on html ... mat-selection-list.. only selected one displayed ...

Try following code in **material-dashboard-pro-angular**  code base.

<mat-selection-list>
  <mat-list-option>    a  </mat-list-option>
  <mat-list-option>    b  </mat-list-option>
  <mat-list-option>    c  </mat-list-option>
</mat-selection-list>

[2018-10-24 10:06] Avadhesh-Patel commented on #298
Empty check box is not showing on html ... mat-selection-list.. only selected one displayed ...

Try following code in material-dashboard-pro-angular code base.

[code.txt](https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/files/2510000/code.txt)

[2018-10-25 12:26] #298 closed, assigned to nobody

[2018-10-26 07:01] Avadhesh-Patel commented on #298
It's working now as per your guidance.
Thanks .. Ciprian @chelaruc

[2018-11-11 11:36] elvisgn opened #302 "Notifications - UI issue after update"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Expecting the UI to look some

[2018-11-12 13:35] chelaruc commented on #302
Hi, @elvisgn. You need to use the template because of our classes. If you try on your own, please let us know if you can make it work.

[2018-11-12 13:38] itadminus opened #303 "Angular Material Tabs - Responsive mode isn't working - Missing navigation arrows"
# Expected Behavior

In responsive mode Angular Material Tabs will present with arrows(left, right) for navigating through the other tab items.

# Current Behavior

In responsive mode Angular Material Tabs are not showing up arrow options to navigate through the other tab items. Although navigation works fine in Desktop mode.

# Failure Information (for bugs)

This is working with earlier versions

[2018-11-12 16:31] elvisgn commented on #302
It was working in the older versions, now the template has become mandatory. The documentation sample is also without template, perhaps that should be changed to min template code required to achieve the above.

[2018-11-21 13:18] itadminus commented on #303
Wrapping under col-md-12 fixed this actually, my bad! :)

[2018-11-21 13:18] #303 closed

[2018-11-23 12:55] gputrick opened #304 "Provide example for card-collapse"
It's just a request to create an example of the correct use of the "card-collapse" component in documentation.

[2018-11-25 15:18] lubo08 commented on #247
Even I follow documentation I was not able correctly did fixed navbar. Navbar is fixed but is under sidebar.

[2018-12-01 17:36] Kris-I opened #305 "Sidebar remove background image"
Hello,

I will remove the 'fixedplugin'. Where can I set the sidebar without background image ?

Thanks,

[2018-12-05 06:55] yasser-kfupm commented on #234
How can I upgrade from 1.5 to 2.1

[2018-12-05 11:28] WarienX opened #306 "Progress Bar not working"
So, I have been using your material dashboard for some time now for my Angular project, and I am facing this issue that the progress bar is not displaying in the registration form page and I am also unable to dynamically change the value of aria-valuenow. How can I do it. Any suggestion would be greatly appreciated.

[2018-12-11 13:30] chelaruc commented on #305
@Kris-I thank you for using our product. All you have to do is to go in `src/app/layouts/admin/admin-layout.component.html` and delete the line 5.

[2018-12-11 13:30] #305 closed

[2018-12-31 08:37] elvisgn opened #307 "Change color of filter-page"
Hi,
What does this statement on the pricing, login etc pages mean and how to use it ?
``

[2018-12-31 12:52] elvisgn opened #308 "Horizontal timeline"
Hi,
Is there a way to convert the vertical timeline to horizontal ?

Regards.

[2019-01-01 07:22] Sachin124 opened #309 "Routing Name Title not changing on uploading on server"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Angular 6 ] I am running the latest version
- [Y ] I checked the documentation and found no answer
- [Y ] I checked to make sure that this issue has not already been filed
- [Y ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior
On localhost is wo

[2019-01-01 11:22] hamuz opened #310 "RTL support outdated (with partial fix)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-01-02 09:00] tracksimple opened #311 "How to add new row in datatable.net and allow it also for data fliter and pagination as it seems it does not work,"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am running the latest version - Yes
- [ ] I checked the documentation and found no answer - Yes
- [ ] I checked to make sure that this issue has not already been filed - Yes
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior
When any new

[2019-01-02 10:19] tracksimple commented on #13
is there any update on this, how can refresh can be implemented using this as it behave same as above.
Any working example ?

[2019-01-02 10:50] serweck commented on #13
Use other suits components, it was with jquery and not npm packages components.

Use MaterialDesing, primeNg ...

[2019-01-02 11:36] serweck commented on #13
For me was imposible becouse you need modify the component datatable.net.

I choosen change suits components. with other i have virtual scroll that i think is better than pagination.

[2019-01-02 11:42] tracksimple commented on #13
thanks serweck, can you suggest primeNg full fledged example, if it is possible. . virtual scroll seems to be viable solution.

[2019-01-02 13:03] serweck commented on #13
no sry, i'm using primeNg in a private solution, but if i need to decide a suit now, i think that i use material desing with Angular 7:
https://material.angular.io/components/table/overview
and
https://material.angular.io/cdk/scrolling/overview

[2019-01-10 12:26] Cynicszm opened #312 "Update dependencies for bootstrap-tagsinput"
# Current Behavior

One of the dependencies in package.json is listed as bootstrap-tagsinput@0.7.1. This version is old and not actively maintained and will cause npm audit to fail with a high severity cross-site scripting error https://www.npmjs.com/advisories/124

Please can this be updated to use an actively maintained version

[2019-01-22 04:37] Shyam4131 opened #313 "While Showing Notification the entire login page is get refreshed"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-01-30 09:29] Shyam4131 opened #314 "Need Mail Box For This Respective Theme."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

-  I am running the latest version
-  I checked the documentation and found no answer
-  I checked to make sure that this issue has not already been filed
-  I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

     We exepecting new mail box for this

[2019-02-05 01:23] luizbsilva opened #315 "How to use Calender"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Dynamic data loads in the

[2019-02-11 09:04] chelaruc commented on #309
@Sachin124 Sorry for the late response. If you go in `src/app/shared/navbar/navbar.component.ts` file and check the `getTitle` function. On our local repository, this is working. I think it didn't work on the live demo because of the path and you need to change the function to match your requirements. If you can send me your archive at ciprian@creative-tim.com, I can help you more.

[2019-02-11 09:47] chelaruc commented on #308
@elvisgn unfortunately, we don't have an example with a horizontal timeline.

[2019-02-11 09:50] chelaruc commented on #312
@Cynicszm you can remove it from package.json file and from angular.json file. We are not using it. We will clean our product too.

[2019-02-11 09:50] #312 closed

[2019-02-11 09:52] chelaruc commented on #311
@tracksimple @tasneem-ipraheem check this issue #33.

[2019-02-11 10:04] chelaruc commented on #313
@Shyam4131 please give me the steps to reproduce the error.

[2019-02-11 10:04] #313 closed

[2019-02-11 13:53] chelaruc commented on #315
@luizbsilva check this link: [https://stackoverflow.com/questions/27920314/fullcalendar-add-events-dynamically](https://stackoverflow.com/questions/27920314/fullcalendar-add-events-dynamically)

[2019-02-11 13:59] luizbsilva commented on #315
thank you

Em seg, 11 de fev de 2019 às 11:53, Chelaru Ciprian <
notifications@github.com> escreveu:

[2019-02-11 18:11] hamuz commented on #310
@chelaruc how much time is considered ok to address premium user issue?

[2019-02-12 08:06] chelaruc commented on #310
@hamuz sorry for the late response. You did the suggested fix and it didn't work?

[2019-02-12 19:19] aymanpsu opened #316 "ERROR in material-dashboard.scss & Module build failed mini-css-extract-plugin and sass-loader"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes] I am running the latest version
- [yes] I checked the documentation and found no answer
- [yes] I checked to make sure that this issue has not already been filed
- [yes] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior
build --prod for proje

[2019-02-13 05:25] hamuz commented on #310
@chelaruc I did the suggested fix (which I researched) and it worked partly.
Mainly because the RTL fix only works for standard components
from bootstrap v4 and not the calendar, nor wizard, etc.

You promised theme-wide RTL support, and it's lacking.

[2019-02-13 23:36] wael1233 commented on #310
the rtl not working for me too , any solution? the sidebar need to be to the right too..

[2019-02-15 09:53] sylvaingirardbe commented on #316
Same issue here. Also on a MacBook.

npm: 6.7.0
node: 10.15.1

package.json:
[code]

[2019-02-15 20:58] RahulShaw221994 opened #317 "How do I hide time slots that has no events in them"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-02-16 09:48] sylvaingirardbe commented on #316
@aymanpsu , I fixed it by doing `@include form-validation-state("valid", $label-color, $form-feedback-icon-valid);` instead of `@include form-validation-state("valid", $label-color);` in `_forms.scsss`. This is caused by a recent change in `bootstrap`. Alternatively you could fix your bootstrap version at ~4.1.x.

[2019-02-25 04:01] hamuz commented on #310
@chelaruc it's been almost 3 months now. Are you waiting for our premium subscription to expire?

[2019-02-25 10:15] #316 closed

[2019-03-03 03:15] stayingcool commented on #13
I have the same issue. The table gets loaded with data and shows _`"No data available in table"`_ Is there a solution for this?

[2019-03-03 08:20] pmargomclear commented on #13
Hi @serweck , you can do it in this way (sorry for the spanish):

In **html** file, you only need to uses this:

![image](https://user-images.githubusercontent.com/39117018/53692606-ecd9f900-3d8a-11e9-8f32-9af28c21b470.png)

And in **typescript**:

![image](https://user-images.githubusercontent.com/39117018/53692662-dda77b00-3d8b-11e9-9c7e-8b55c498e67e.png)

If your data comes from an api...

![im

[2019-03-04 20:35] francotc opened #318 "poor performance with electron"
When I use inputs or charts with electron, it works very laggy. I also have problems with jquery, which I think affect performance. Only happens in electron, when it is tested in the browser does not happen

[2019-03-05 10:54] wael1233 opened #319 "datatable.net issue"
typeError: Cannot read property 'dataRows' of undefined
this error message shows before the table is filled with the data , i tried to do [hidden] = true untill the data is filled but it did not work.
    **html file :**
`<div class="main-content" [hidden]="!visible" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div clas

[2019-03-05 11:08] wael1233 commented on #208
did u fix it and can help me with it?

[2019-03-05 11:13] wael1233 commented on #169
_rtl.scss.zip  not found

[2019-03-05 20:29] #318 closed

[2019-03-06 14:01] #317 closed

[2019-03-13 08:54] #315 closed

[2019-03-14 13:42] Spomky commented on #316
Hi,

I am facing the same issue. Thank you @sylvaingirardbe for providing a way to fix that.
The proposed alternative (set bootstrap version to ~4.1) should not be followed as there is a [security issue with all releases between 4.0 and <4.3.1](https://nvd.nist.gov/vuln/detail/CVE-2019-8331).

Looking forward to see this definitely fixed here.

[2019-03-15 08:00] chelaruc commented on #319
@wael1233 thank you for using our product. Can you check if the dataRows is populated after ngOnInit?

[2019-04-08 13:54] lucasselliach commented on #319
Hi, maybe it can help you..

[stackoverflow](https://stackoverflow.com/questions/50323789/angular-5-ngfor-not-working-on-datatables-net/52505559#52505559)

[2019-04-18 13:08] Leonardo-demeloweb commented on #121
@chelaruc  Hello how the thing is going? I just tried to use the last solution provided for multilevel menu in sidebar (in the v.7.0.2) and unfortunately does not work.

Do you think to be possible to implement a 'n' number of childrens inside submenus dynamically? E.g. I am receiving an Array of Objects childrens inside of childrens 'n' times. In typescript logic is OK to us. How do you suggest t

[2019-05-09 19:12] Saedlawi opened #320 "i cant use your component in my project and style not reflected as well"
Prerequisites
Please answer the following questions for yourself before submitting an issue.

[Yes ] I am running the latest version
[Yes ] I checked the documentation and found no answer
[ Yse] I checked to make sure that this issue has not already been filed
[Yes ] I'm reporting the issue to the correct repository (for multi-repository projects)
==================
Dear
i was bought license for m

[2019-05-09 19:47] elvisgn commented on #320
As a user of this project, I can say that using the files from this project into yours will not work. Rather move your components into the creative-tim project, that's the faster way.

[2019-05-09 20:18] Saedlawi commented on #320
Thanks for your advice , but i need to build my own project and import your component in to it , so please do you have full documentation explain step by step how i can import your component and reflect your dashboard style in to my app .

 or at least give one example and steps to add one component with style files to my app (like panel component under components folder )
Thank You

[2019-05-09 20:39] Saedlawi commented on #320
now i have the below issue when iam trying to add Material-dashboard.scss to my angular.json file.

ERROR in ./src/assets/scss/material-dashboard.scss (./node_modules/@angular-devkit/build-angular/src/angular-cli-files/plugins/raw-css-loader.js!./node_modules/postcss-loader/src??embedded!./node_modules/sass-loader/lib/loader.js??ref--14-3!./src/assets/scss/material-dashboard.scss)
Module build fai

[2019-05-09 20:59] Saedlawi commented on #320
Thanks i found the solution for the last error i reinstall sass module through (  npm install node-sass)
and its working with me fine
Thank You , if i face any other issue i will raise it again.

[2019-05-09 20:59] #320 closed

[2019-05-15 18:53] ShabnamPaidarfard opened #321 "Problem with Build"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-05-15 18:54] ShabnamPaidarfard commented on #321
I get this failure when trying to build and deploy.

[0m[1m[31mERROR in ./node_modules/angular-calendar/scss/angular-calendar.scss (./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--14-3!./node_modules/angular-calendar/scss/angular-calendar.scss)[39m[22m[0m
[0m[1m[31mModule build failed: Error: Cannot find module 'node-sass

[2019-05-15 19:07] ShabnamPaidarfard commented on #203
I have the same problem:

ERROR in ./src/assets/scss/material-dashboard.scss (./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--14-3!./src/assets/scss/material-dashboard.scss)
Module build failed: Error: Cannot find module 'node-sass'
Require stack:
- /Users/shabnam.paidarfard/repo/styleguide-argon-dashboard/node_modules/sass-loade

[2019-05-15 19:08] ShabnamPaidarfard opened #322 "ng serve"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-05-15 19:08] ShabnamPaidarfard opened #323 "ng serve"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Please describe the behavior

[2019-05-15 19:09] ShabnamPaidarfard commented on #323
when I run ng serve this the error I get

ERROR in ./src/assets/scss/material-dashboard.scss (./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--14-3!./src/assets/scss/material-dashboard.scss)
Module build failed: Error: Cannot find module 'node-sass'
Require stack:
- /Users/shabnam.paidarfard/repo/styleguide-argon-dashboard/node_mo

[2019-05-16 20:52] fmatuszewski opened #324 "Stylesheet compilation failure _forms.scss"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [+ ] I am running the latest version
- [+ ] I checked the documentation and found no answer
- [- ] I checked to make sure that this issue has not already been filed
- [- ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior
scss should compile

# Cur

[2019-05-16 20:52] fmatuszewski commented on #324
/* after changing this file run 'npm run webpack:build' */

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
// Import Bootstrap source files from node_modules

@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import '~sweetalert2/dist/sweetalert2';

@import "../../../../../node_modules/@angular/materia

[2019-05-16 21:02] fmatuszewski commented on #324
sorry invalid bootstrap version

[2019-05-16 21:02] #324 closed

[2019-05-20 07:06] danieleisenhardt commented on #204
I had the same problem and solved it another way. There's an `index.html` file in the `src` folder of your Angular project. This has a base tag in the head, changing that will solved it for me.

`myangularproject/src/index.html`
[code]
Which i changed to:
[code]

[2019-05-20 22:11] Salahudeen opened #325 "Jasny Bootstrap file picker events are not getting fired"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

The change.bs.fileinput & cle

[2019-05-22 02:19] zhq3k opened #326 "How to resove access issue for fonts.googleapi.com in China"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ yes] I am running the latest version
- [ yes] I checked the documentation and found no answer
- [ yes] I checked to make sure that this issue has not already been filed
- [ yes] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Have another solu

[2019-05-27 11:19] mbebronn opened #327 "npm"
Hello. I'm getting some npm dependency issues with material-dashboard-pro-angular-v2.2.0. I already solved some issues but I still have three. NPM audit gives:

  Moderate        Prototype Pollution
  Package         jquery
  Patched in      >=3.4.0
  Dependency of   jqvmap
  Path            jqvmap > jquery
  More info       https://nodesecurity.io/advisories/796

  High            Cross-Site Scri

[2019-05-29 21:00] gkbergami opened #328 "loading incorrect"
I created a new project in Angular 7 and did a CTRL + C and CTRL + V of the files, but when loading the page, it looks like the image below.

Where i can be wrong?

![image](https://user-images.githubusercontent.com/15309030/58590126-c583b280-8239-11e9-93fa-0a53e67650c7.png)

[2019-05-30 16:30] gkbergami commented on #328
Resolvido. insira em index.html: <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

[2019-05-30 16:30] #328 closed

[2019-06-06 13:53] ghten opened #329 "Retun login class nav-open in body"
In phone, when I do a logout, I return to page login and body has the class nav-open. If I reload, the body is normal, at the start, it's normal too.

thanks

[2019-06-07 07:37] #204 closed

[2019-06-07 07:38] #207 closed

[2019-06-07 08:07] chelaruc commented on #325
@Salahudeen can you give me the steps to reproduce this behavior?

[2019-06-07 08:19] chelaruc commented on #326
Hi, @zhq3k. Thank you for using our product. We didn't know that. I found a solution here: https://www.hongkiat.com/blog/google-fonts-china/

[2019-06-07 08:19] #326 closed

[2019-06-07 08:21] chelaruc commented on #321
@ShabnamPaidarfard  try this command: npm rebuild node-sass --force

[2019-06-07 08:22] #322 closed

[2019-06-07 08:22] chelaruc commented on #323
#321

[2019-06-07 08:22] #323 closed

[2019-06-07 08:30] #309 closed

[2019-06-07 08:40] chelaruc commented on #307
@elvisgn Thank you for using our product. You need to add this code at the end of file `src/assets/scss/dashboard/_pages.scss`
[code]

[2019-06-07 08:40] #307 closed

[2019-06-07 08:41] #306 closed

[2019-06-07 08:42] #301 closed

[2019-06-07 08:43] #300 closed

[2019-06-07 08:43] #299 closed

[2019-06-07 08:43] #297 closed

[2019-06-07 08:43] #294 closed

[2019-06-07 08:44] #289 closed

[2019-06-07 08:55] chelaruc commented on #329
@ghten Thank you for using our product.
Have you deleted this code from auth.component.ts?
[code]
And also, why you didn't used our ISSUE_TEMPLATE?

[2019-06-07 08:55] #329 closed

[2019-06-07 09:36] chelaruc commented on #121
In our case, for every child, you need to modify the array of routes and add a parameter for it. I don't know how to implement an 'n' number of children.

[2019-06-07 13:59] elvisgn commented on #121
I had the similar challenge in issue [#210](https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/issues/210).

The solution is to use named router-outlets' whenever you need to add/remove a sidemenu (you'll also need to use router-outlets for the page views, else the paths won't match). By adding/removing the sidemenu at runtime, you will be able to change the titles etc dynami

[2019-06-10 11:00] #321 closed

[2019-06-10 11:28] #237 closed

[2019-06-10 11:29] #76 closed

[2019-06-10 11:31] #210 closed

[2019-06-19 00:38] brumiser1550 opened #330 "Sidebar submenus do not collapse"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

The sidebar submenu should co

[2019-06-19 05:47] chelaruc commented on #330
Hi @brumiser1550. Thank you for using our product. I have tested on windows and it's working good on our end. Can you send me a video with the error?

[2019-06-19 17:51] brumiser1550 commented on #330
Same thing happens on FF and Chrome
https://drive.google.com/file/d/12UAO-yVM5xakTDKHV3pYNCkyVistP6_9/view

Google Chrome is up to date
Version 75.0.3770.100 (Official Build) (64-bit)

FireFox 68.0b11 (64-bit)

[image: image.png]

Thanks,
Brandon Rumiser
brumiser1550@gmail.com
770-616-1982

On Tue, Jun 18, 2019 at 10:47 PM Chelaru Ciprian <notifications@github.com>
wrote:

[2019-06-20 05:20] chelaruc commented on #330
@brumiser1550 can you test the product on Chrome + incognito and tell me if it works.

[2019-06-20 17:49] brumiser1550 commented on #330
Same thing in Chrome and FF incognito mode.

I have tested on my phone and another laptop so I think it may just be my laptop but not sure why.

[2019-06-24 15:27] lubo08 commented on #247
Same issue here. documentation is wrong. please fix it.
Navbar Fixed: please go app/layouts/admin/admin-layout.component.html and move the <navbar-cmp></navbar-cmp> outside of div with class .main-panel. Then go to app/shared/navbar/navbar.component.html and add the class .navbar-dashboard-fixed.

[2019-06-24 15:34] lubo08 opened #331 "Fixed navbar still not working follow documentation"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [ x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Navbar Fixed: please go a

[2019-06-24 16:14] aarronte86 commented on #330
Hi I'm having this same issue, and as @brumiser1550 it happens just in some clients but I couldn't find the pattern for the problem. Two clients with identical Chrome version and OS, in one the error happens but in the other one don't.

[2019-06-24 22:36] chwernerstech commented on #330
Same Here, we have the issue in some PC with Chrome!

[2019-06-26 07:32] chelaruc commented on #331
@lubo08 thank you for using our product. We'll update the documentation in the next update. For now, all you have to do is to add the class `fixed-top` to the navbar and in the `src/assets/scss/dashboard/_navbar.scss` file change the `.fixed-top` class with:
[code]

[2019-06-26 07:32] #331 closed

[2019-06-26 07:33] chelaruc commented on #330
Do you get errors in the browser console?

[2019-06-26 07:37] brumiser1550 commented on #330
Nope, no console errors or anything running both in production and development mode.

[2019-06-26 17:14] brumiser1550 commented on #330
I was curious and opened some other demos and the first one with submenus works for me but the pro version still does not work. Working Demo -> https://demos.creative-tim.com/light-bootstrap-dashboard-pro-angular2/#/dashboard

[2019-06-27 05:58] arenazl opened #332 "node_modules folder is missing in the zip"
node_modules folder is missing in the zip.

[2019-07-08 20:53] chwernerstech commented on #330
@chelaruc Please we need your help solving this, have you find something?

[2019-07-09 07:06] chelaruc commented on #330
@chwernerstech Unfortunately, I can't reproduce the error.

[2019-07-09 13:44] chwernerstech commented on #330
@chelaruc I can give you access to a pc that have the problem, let me know or write me to chwerner@gmail.com, many thanks!

[2019-07-11 12:46] chelaruc commented on #330
@chwernerstech what version of Chrome do you have?

[2019-07-11 22:24] chwernerstech commented on #330
Versión 75.0.3770.100 (Build oficial) (64 bits)
Could be the java or something?

[2019-07-11 22:24] chwernerstech commented on #330
@chelaruc
Versión 75.0.3770.100 (Build oficial) (64 bits)

[2019-07-15 13:19] chelaruc commented on #330
Hi, @chwernerstech. Can you test if this happens on https://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html? Also, can you test here: https://getbootstrap.com/docs/4.3/components/collapse/?

[2019-07-15 13:29] chwernerstech commented on #330
Hi @chelaruc , thanks for the reply.

The Link that you sent us is working, please could you tell us what to do?

Many Thanks!

WORKING
https://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html

NOT WORKING
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboard

[2019-07-15 19:23] brumiser1550 commented on #330
I tested https://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html and it works for me.

[2019-07-16 20:53] viniciusdcoutinho opened #333 "[Bug] AutoComplete with problem in IOs"
### Version
Version 2.2.0
### Reproduction link
https://codepen.io/cadevinicius/pen/JQgxdG&via=CodePen
### Operating System
Ios
### Device
Iphone 7
### Browser & Version
Chrome 74.0.3729.121
### Steps to reproduce
-Look for the word "telha"
-Scroll down
### What is expected?
Show all options
### What is actually happening?
Options are blank

---
### Solution

### Additional comments

[2019-07-18 07:05] chelaruc commented on #333
Hi, @viniciusdcoutinho. Thank you for using our product! Unfortunately, I can't see the pen
![Screenshot 2019-07-18 at 10 03 36](https://user-images.githubusercontent.com/22840626/61436448-81608480-a943-11e9-92c7-0f541ca91a67.png)

[2019-07-19 07:49] bashman1 commented on #316
I had the same issue and that method fixed it

[2019-07-19 17:29] eestein opened #334 "[Question] How to create a progress bar for undetermined?"
### Version
2.3.0
### Reproduction link
http://not-required.com
### Operating System
macOS
### Device
Doesn't matter
### Browser & Version
Any
### Steps to reproduce
Not necessary
### What is expected?
Progress bar running continuosly
### What is actually happening?
Nothing

---
### Solution

### Additional comments

[2019-07-20 22:08] roip890 opened #335 "[Bug] Social Icons on Chrome"
### Version
Angular Material Dashboard Pro
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/components/buttons
### Operating System
Windows
### Device
PC
### Browser & Version
Chrome
### Steps to reproduce
Hi, Not all the classes of the social buttons working.
Only 4 of them works.
Facebook and Instagram for example are not working.

Thanks, Roi.

### What is

[2019-07-22 05:19] hamuz commented on #310
@chelaruc any update?

[2019-07-22 08:03] chelaruc commented on #335
Hi, @roip890. Thank you for using our product. I have checked on windows and on our side, it works. Can you give me more details?

[2019-07-22 09:00] roip890 commented on #335
Hi,
When I open your Material Dashboard Pro Angular demo, whether it is on live preview or local on my computer, I can see only the Google+, Github, Be and Dribble icons.
All the rest of the icons are not visible.

[2019-07-23 13:19] MutisoKelv opened #336 "[Feature Request] Json data"
### What is your enhancement?
How do I call json data and display it here on the chartist charts?

[2019-07-29 08:05] iballi2017 commented on #204
Check where the built files are located. Sometimes, the dist folder contains the built files inside another folder which bears the same name as the  application. Move the files directly into the dist folder

[2019-07-29 08:20] ryoma76 opened #337 "Wizard"
good morning,
inside the form wizard when I insert a input select the validation does not work, and inside the form the select field is not visible

[2019-07-29 08:28] chelaruc commented on #336
@MutisoKelv thank you for using our product. You need to convert you json data to match the chartist options.

[2019-07-29 08:34] chelaruc commented on #337
@ryoma76 thank you for using our product. Please use the Issue Template.

[2019-07-29 08:34] #337 closed

[2019-07-29 08:55] MutisoKelv commented on #336
Please show me how... My client is almost swallowing me alive 😂

[2019-07-29 08:55] MutisoKelv commented on #336
@chelaruc

[2019-07-29 09:05] ryoma76 commented on #337
sorry
Material Dashboard Pro Angular

[2019-07-29 09:21] ryoma76 opened #338 "[Bug] Validation Wizard Page"
### Version
2.3.0
### Reproduction link
https://jsfiddle.net/ryoma76/m3Lfe5rj/1/
### Operating System
Win 10
### Device
PC
### Browser & Version
Chrome
### Steps to reproduce
Create a wizard page
Add a select required true
Click Next
### What is expected?
wizard don't go next
### What is actually happening?
validation required dont't work

---
### Solution

### Additional comments

[2019-07-29 11:04] chelaruc commented on #336
@MutisoKelv check this pen: https://codepen.io/k3no/pen/NRVgbo?editors=0010

[2019-07-29 11:06] chelaruc commented on #336
Here you have another tutorial: https://egghead.io/lessons/angular-fetch-data-from-an-api-using-the-httpclient-in-angular

[2019-07-29 11:06] #336 closed

[2019-07-29 11:17] chelaruc commented on #338
@ryoma76 can you check this example: https://material.angular.io/components/select/overview#changing-when-error-messages-are-shown? You can add the code for the select validation.

[2019-07-29 12:15] MutisoKelv commented on #336
Thank you.

[2019-07-29 12:37] ryoma76 commented on #338
Tnk for reply,
but even adding the code still does not work.
I noticed that seeing the variable "$ ('. card-wizard form'). valid ()" the select are not there.
I can't understand where I'm wrong.

[2019-07-31 11:19] eestein commented on #334
Any news on this?

[2019-07-31 13:40] patrykstepien opened #339 "[Bug] Jquery doesn't work Edge"
### Version
2.3.0
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboard
### Operating System
Windows 10
## Browser & Version
Edge 18
### Steps to reproduce
When I test demo I can't use notifications and other components which use jQuery.

### What is actually happening?
Jquery doesn't work

---
### Solution
Probably, problem is with bootstrap-material-des

[2019-08-01 22:41] chwernerstech commented on #330
@chelaruc How are you? Please could you tell us what to do ?

Please share with us the solution.

https://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html

Many Thanks!!!

[2019-08-04 20:13] sylvaingirardbe commented on #334
Yeah, don't expect too much support from them... Anyway, you can just use `<mat-progress-bar mode="indeterminate"></mat-progress-bar>`.

[2019-08-05 08:57] eestein commented on #334
That's said, the product *wasn't free*!
Anyway, I'm not using material, so it won't work for me, I was looking for a OOT solution.

Thanks for your comment

[2019-08-05 09:04] sylvaingirardbe commented on #334
Well, since the template is a material design template, I'd say the material solution is pretty much OOTB :). Sorry I can't be of any more help.

[2019-08-05 09:07] chelaruc commented on #334
@eestein you can use the nb-bootstrap progress bar: https://ng-bootstrap.github.io/#/components/progressbar/examples

[2019-08-05 09:16] eestein commented on #334
@chelaruc is there no CSS way of doing so? I'd like to just add a class to a div and have it display the "always loading" behavior.

[2019-08-05 09:30] chelaruc commented on #334
@eestein this is a feature request and usually, we implement it when we have more than 5-10 requests. For now, I'll let this issue open.

[2019-08-05 13:01] eestein commented on #334
Ok, your process is reasonable, but IMO that should've been a day 0 feature.

[2019-08-07 21:09] decision-ca commented on #107
I found a temporary solution.
I commented the property `height: auto` of the file **/assets/scss/core/_forms.scss**

[code]
And the html:
[code]

I hope it helps you solve your mistakes

[2019-08-09 06:39] chelaruc commented on #334
@eestein check the bootstrap progress bar: https://getbootstrap.com/docs/4.3/components/progress/#animated-stripes

[2019-08-16 02:48] michaelvivar commented on #330
@chelaruc I have the same problem using Edge or Internet Explorer. Could tell me how to fix it? Thanks!

[2019-08-20 10:59] chelaruc commented on #330
@michaelvivar what errors do you get?

[2019-08-20 13:07] michaelvivar commented on #330
No any errors in console, it just don't collapse the sidenav.
I've also tried to load the demo site (https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboard) in Edge and IE, also not working.

[2019-08-20 19:36] chwernerstech commented on #330
@chelaruc Please could you share the solution?

WORKING
https://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html

NOT WORKING
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboard

[2019-08-20 20:25] aarronte86 commented on #330
@chelaruc We are still having the same problem, we are looking forward to a solution.

[2019-08-21 05:51] chelaruc commented on #330
@aarronte86 @chwernerstech @michaelvivar can you, guys, make a screen recording with the live demo and the browser console?

[2019-08-28 18:50] therentalguys opened #340 "How can i change sidebar color?"
Version 2.3.0

[2019-08-29 05:42] chelaruc commented on #340
Hi @therentalguys. Thank you for using our product. You need to change the data-background-color attribute from the `src/app/layouts/admin/admin-layout.component.html` file.

[2019-08-29 05:42] #340 closed

[2019-08-29 15:54] therentalguys commented on #340
Thankyou for your reply, i did try that, but i only can choose 3 colors over there, what if i wanted to add purple to it?

[2019-08-29 17:53] therentalguys opened #341 "How can i change sidebar color? other then Red, white and black"
Version 2.3.0

[2019-08-30 04:48] chelaruc commented on #341
@therentalguys why you haven't used our Issue Template? To change the color, go in `src/assets/scss/dashboard/_sidebar-and-main-panel.scss` and search for data-background-color. There you need to create your own color.

[2019-08-30 04:48] #341 closed

[2019-08-30 14:59] chwernerstech commented on #330
@chelaruc Please look, we cant open the menu

http://www.izytech.com/video.mp4

[2019-09-03 20:08] chwernerstech commented on #330
@chelaruc  anything that we can do? have a lot of troubles with the users!

[2019-09-04 13:18] UXruben opened #342 "Modal components doesn't work"
I tried using modals components, but it doesn't work.

https://demos.creative-tim.com/material-dashboard-pro-angular2/#/components/notifications

[2019-09-11 17:34] chrisjcalderon commented on #339
The app does not work at all in Internet Explorer (Edge or 11) - it throws a JQuery Error:

 ERROR ReferenceError: '$' is not defined

[2019-09-12 07:39] chelaruc commented on #339
@patrykstepien @chrisjcalderon
As we said in README.md, we don't support Internet Explorer, but I think the error is because of jQuery initialization. You need to replace all the declare const $: any; with declare var $: any; and in angular.json file replace "node_modules/bootstrap-material-design/dist/js/bootstrap-material-design.min.js", with "node_modules/bootstrap/dist/js/bootstrap.js",

[2019-09-16 06:21] chelaruc commented on #339
@chrisjcalderon it works with the modifications I've told to you?

[2019-09-16 06:24] chelaruc commented on #342
Hello there, @UXruben

Thank you for your interest in working with our products.
It seems that you haven't respected our ISSUE_TEMPLATE, so we are going to close it.
Please add a new comment here, or open a new issue, by filling the mentioned ISSUE_TEMPLATE and please be sure that your issue title is a very small description of your issue as well.

All the best,
Ciprian
Developer @ [Creative-Tim](

[2019-09-16 06:24] #342 closed

[2019-09-16 06:26] chelaruc commented on #330
@chwernerstech sorry for the late response. Can you change the bootstrap-material-design import like in this issue: https://github.com/creativetimofficial/ct-material-dashboard-pro-angular/issues/339?

[2019-09-16 09:57] michaelvivar commented on #330
Finally. Thanks!

[2019-09-16 12:06] chrisjcalderon commented on #339
It did work, thanks much for the help

[2019-09-16 18:51] brumiser1550 commented on #330
That did not work for me, still cannot collapse sidebar menus. I have also had jQuery available in the console regardless. You got me thinking though so I started taking different scripts out of the angular.json that had to do with jquery and when I removed this line, with no other changes, everything worked.

[code]

[2019-09-16 19:55] aarronte86 commented on #330
@chelaruc your solution didn't work for me either, nor the @brumiser1550 change suggestion.  I had to make my own collapsible menu implementation using angular-material accordion component as an alternative while a solution was found.

[2019-09-17 05:57] #339 closed

[2019-09-23 07:00] sushmita073 opened #343 "In Datatable.net, showing 'No data available in table' in case of data exist in table"
While using datatable.net , data is there in table. Still the "No data available in table" is displaying in the table and showing records as 0 of 0.

[2019-09-29 22:34] chrisjcalderon commented on #332
just run npm install

[2019-10-20 16:15] fVargasg opened #344 "[Bug] Not working correctly with Microsoft Edge"
### Version
2.3.0
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboard
### Operating System
Windows 10
### Device
pc
### Browser & Version
Microsoft Edge
### Steps to reproduce
na
### What is expected?
na
### What is actually happening?
A lot of errors on the console, sidebar is not working

---
### Solution

### Additional comments

[2019-10-21 17:50] wafi543 opened #345 "Page styling is not working"
<img width="1280" alt="problem1" src="https://user-images.githubusercontent.com/41089137/67228715-894c2b00-f442-11e9-974a-6ef359726391.png">

When I run "ng serve --open" on template it's working fine, but when I moving all the necessary files to my project; the page looks like in picture above.

I have moved all the files in the folder "app" to my project, also moved "assets" to my project,
and t

[2019-10-21 18:11] wafi543 commented on #345
I want Login Page to be in the "app-root" to test it, so I just typed the tag "app-login-cmp" in my "app.component.html"

[2019-10-22 06:12] chelaruc commented on #345
Hi, @wafi543. Thank you for using our product. Have you imported our styles from the angular.json file?

[2019-10-22 06:13] chelaruc commented on #344
Hi, @fVargasg. Thank you for using our product.
This is a duplicate of #339

[2019-10-22 06:13] #344 closed

[2019-10-22 09:19] wafi543 commented on #345
I have typed all styles and scripts in angular.json as in the picture below, also imported "dependencies" and "devDependencies" to package.json and do the "npm install"

<img width="1680" alt="image1" src="https://user-images.githubusercontent.com/41089137/67272567-7890c900-f4c5-11e9-9930-2e173d2672fd.png">

Then when I refresh the page I get error in console as the picture below:

"Uncaught Error

[2019-10-23 07:35] chelaruc commented on #345
Hi @wafi543,

Unfortunately, we can't help you with the customization of our product. If you have issue with our products, you can contact us.
If you want the login page to load first, you need to go in the app.routing.ts file and change the redirect to match: pages/login

All the best,
Ciprian

[2019-10-23 07:35] #345 closed

[2019-10-30 19:02] vengaglobal commented on #233
Any updates on this?

[2019-11-04 07:38] taketomatsunaga commented on #152
Hi,

Hi is there any way to use nguniversal at this moment?
I need to optimize my app for SEO.

Sincerely,

[2019-11-20 08:28] chelaruc commented on #152
Hi, @taketomatsunaga. Unfortunately, we haven't used Angular Universal yet.

[2019-11-20 08:30] taketomatsunaga commented on #152
@chelaruc Are you planning to update for universal or not? if yes, please tell me your timeline

[2019-11-20 08:32] chelaruc commented on #152
Currently, we are working on other projects and we don't have an ETA for this feature.

[2019-11-23 16:06] khwerhahn commented on #152
The template is unusable with Angular Universal due to window, document & navigator not being available server side. https://github.com/angular/universal/blob/master/docs/gotchas.md

[2019-11-24 09:00] khwerhahn opened #346 "[Feature Request] Angular SSR in Angular Universal not supported"
### What is your enhancement?
The template is unusable with Angular Universal due to window, document & navigator not being available server side. https://github.com/angular/universal/blob/master/docs/gotchas.md

Supporting SSR should be possible as it is a pretty basic functionality in Angular and massively increases load times and therefore UX.

[2019-12-15 20:11] adipple opened #347 "Can we have an example to add multi-select drop list to right-side FixedPlugin control please?"
I used the Creative Tim issue page to create an issue, but it was closed by Chelaruc who sent me a link to here to recreate it.  If this is incorrect, good customer service would be to help create my issue in the correct location in the correct way.

I'm wanting to create coloured regions on the JVectorMap but when I add the region series per all examples found on the web, the map just will not re

[2019-12-20 23:50] adipple opened #348 "[Bug] Render regions on JVectorMap not working"
### Version
 2.3.0
### Reproduction link
https://stackoverflow.com/questions/59080576/how-to-have-creative-tim-angular-material-pro-render-regions-on-jvectormap
### Operating System
WIndows Server 2016
### Device
pc
### Browser & Version
chrome (latest)
### Steps to reproduce
1. Look at my stack overflow example
2. Add the regions data as described on the dashboard page.
3. Open the dashboard page

[2019-12-30 16:13] nanafocus opened #349 "Sidebar doesn't all menu items when user log in"
When the application is load I have only one menu the home page and the others menu will appear after the user log in the application, and there is not the scrollbar and the menu items in the bottom of the sidebar  cannnot be view.
What can I do to have the scrollbar in the sidebar when the user log in?

[2019-12-31 00:41] ionutafloarei opened #350 "[Bug] Material Dashboard Pro Angular - not working on Internet Explorer nor Microsoft Edge"
### Version
2.3.0
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/forms/regular
### Operating System
Windows 10
### Device
Laptop Lenovo
### Browser & Version
IE 11.914 Edge 44.17763
### Steps to reproduce
1. open the link in Internet Explorer and Edge https://demos.creative-tim.com/material-dashboard-pro-angular2/#/forms/regular
2. open the menu in the left

[2020-01-06 18:58] ahmoba commented on #350
+1
I am having the same issue

[2020-01-07 07:16] chelaruc commented on #348
Hi @adipple. Thank you for using our product.
Here is an example:
[code]
Add it on your Component.

[2020-01-07 07:16] #348 closed

[2020-01-07 07:18] chelaruc commented on #349
Hi, @nanafocus. Can you make a video with the error?

[2020-01-07 07:20] chelaruc commented on #350
@ionutafloarei @ahmoba this is a duplicate of #339. We will update the product soon with the correct code.

[2020-01-08 19:20] adipple commented on #348
Hi Chelaruc,

Thank you for the solution and it works.  It seems the real issue is that the country names MUST be provided in lower case.  My upper case country codes were not matching.  Could you be so kind to answer how to also show markers please?

I try the following (replacing "values" property) but no markers are shown:

        markerStyle: {
          initial: {
            fill: '#F8E23B'

[2020-01-09 10:38] nanafocus commented on #349
Hi @chelaruc  these are the video with the problem
 https://photos.app.goo.gl/ti5Qv9wjBbjX6oMJ7
https://photos.app.goo.gl/MbHPdTHjoVhTj3GF7

[2020-01-09 13:41] ionutafloarei commented on #350
Hello @chelaruc  , we have a "Extend Premium Support" and we should have "Bug fixes in 24h during business days".  Can you please inform me when you will update the product with the correct core?

In bug #339 it is specified to "replace all the declare const $: any; with declare var $: any;". Since this is a an Angular Project, the files for replacement are in the node_modules and cannot be update

[2020-01-11 07:45] ajaymarathe commented on #204
Updating ` <base href="">` done my work, but when refresh the again, it gives again 404. so any suggestion.

[2020-01-13 06:28] chelaruc commented on #350
Hi, @ionutafloarei.  Please search in the `src` folder for the wrong declaration and replace it with the correct one. Currently, we are working on another project and this one will be updated in February.

[2020-01-13 06:30] chelaruc commented on #348
Hi, @adipple. Check this link for VectorMap examples: [http://jvectormap.com/examples/markers-world/](http://jvectormap.com/examples/markers-world/)

[2020-01-13 19:38] adipple commented on #348
Hi Chelaruc,

Yes, I saw this page but it does not work in Creative Time Angular template.

1) I can get the world-mill displaying with my region coloured map just by changing the **map** property.

The example you shared uses the **'world-mill'** map (not **'world-en'**).  I download this file from the maps on JVectorMap site and add this in the assets.  I also add it into the /node_modules/ fold

[2020-01-13 19:39] adipple commented on #348
[](https://stackoverflow.com/questions/45356654/cannot-read-property-of-undefined-jvectormap)

[2020-01-20 22:06] sebas0205 opened #351 "options in mat-select appear behind modal"

[2020-01-21 19:12] rodrigochapeta commented on #351
same issue , also tried with
.mat-select-panel
  z-index: 9999 !important

and nothing

[2020-01-21 19:59] sebas0205 commented on #330
Hi @chelaruc  , I´m still have this problem.  I did all the solutions here  but nothing .
I proved #339  and dont work for me
I proved too adn nothing :

[2020-01-22 21:52] adipple commented on #348
No further help?

[2020-01-29 07:55] chelaruc commented on #330
Hi, @sebas0205! What errors do you get?

[2020-02-07 15:37] khalidIRISI2 commented on #206
that works with [ngStyle] :
`<div class="progress">
 <div class="progress-bar" role="progressbar" [ngStyle]="{width:  item.value + '%'}"  aria-valuemin="0" aria-valuemax="100"> {{item.value}} %</div>
  </div>`

[2020-02-07 15:40] khalidIRISI2 commented on #206
That works with: [ngStyle]="{width:  item.avancement + '%'}"

"<div class="progress">
         <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{width:  item.avancement + '%'}"  aria-valuemin="0" aria-valuemax="100"> {{item.avancement}} %</div>
 </div>"

[2020-02-07 15:42] khalidIRISI2 commented on #206
That works with: [ngStyle]="{width: item.value+ '%'}"

[2020-02-09 21:39] dilipt007 commented on #210
Hi there, I understand this issue is closed but is there a way to get the solution as how to implement this ?

[2020-02-09 21:43] dilipt007 commented on #210
What I am looking for is - I am trying to implement the expand/collapse submenu in the sidebar and the menu items are being rendered dynamically as seen in the creative-tim angular templates. Could you please guide me  in the right direction to get this done ?

[2020-02-12 10:47] aleks12121212 commented on #319
Do you find solution for this?

[2020-02-14 01:08] cloudevcom commented on #351
Same issue!!!

[2020-02-27 07:24] prithesh990 opened #352 "Login page issue"
There is problem via navigating from any other pages to login page , it won't appear in the page(blank) and only appears when we refresh please fix this bug you can go through following url
to see the problem

https://demos.creative-tim.com/material-dashboard-pro-angular2/#/pages/login

[2020-02-28 16:45] abdulhoni opened #353 "Login & Lock Page Not Display"
https://ibb.co/k4L2kbw

[2020-02-28 17:03] abdulhoni opened #354 "Dropdown Menu Not Work"
https://ibb.co/m5ty54N

[2020-02-29 19:59] cogni-prasant opened #355 "problm in installing"
C:\ang\dashboard>npm install
npm WARN deprecated tslint@6.0.0: TSLint has been deprecated in favor of ESLint. Please see https://github.com/palantir/tslint/issues/4534 for more information.
npm WARN deprecated @angular/http@7.2.16: Package no longer supported. Use @angular/common instead, see https://angular.io/guide/deprecations#angularhttp
npm WARN deprecated popper.js@1.16.1: You can find the n

[2020-03-03 15:41] sushil-suthar commented on #330
I am also facing the same problem in pro version.
Please resolve it ASAP

[2020-03-04 05:08] prithesh990 commented on #353
ya i got the same problem login page is not loading after we visit few links

[2020-03-04 05:22] prithesh990 commented on #353
For quick fix fix

Find this line in your login.html

 <div class="card card-login **card-hidden**">
              <div class="card-header card-header text-center">

remove card-hidden from the login html it vl display but down animation will not be there at starting

[2020-03-05 10:12] cogni-prasant opened #356 "google map is not working.."

[2020-03-19 11:03] prithesh990 opened #357 "To add Submenu inside an another Submenu in sidebar"
Can you guide me a way to create side menu inside a side menu like?
dashboard -> A->B.
like dashboard(submenu) ->A(submenu)->B(componenet to display)
Please give response asap

[2020-03-21 08:59] bugger16 commented on #351
please fix this issue!!

[2020-03-29 00:46] toukaba commented on #351
go to :
"~@angular/material/prebuilt-themes/indigo-pink.css"
search
.cdk-overlay-connected-position-bounding-box
and change z-index from 1000 to 9999

[2020-04-03 03:34] Ludagon opened #358 "[Bug] Social icons on navbar"
### Version
2.4.1
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/buttons
### Operating System
Windows 10
### Device
asus laptop
### Browser & Version
google chrome last version
### Steps to reproduce
social buttons do not have the proper color on navbar
### What is expected?
proper color on social buttons
### What is actually happening?
color i

[2020-04-03 19:04] AndriyDyatelAstute opened #359 "[Feature Request] Sidebar"
### What is your enhancement?
Hello! We have a PRO license with active premium support. Not requesting a feature per se, but would love to have some kind of walk-though or instructions on how to install and use the sidebar in our app, not just your source codes, but some step-by-steps like for other components would be useful.
Thank you!

[2020-04-04 14:07] admiralato opened #360 "Multi-Level Sidebar Menus - Material Dashboard PRO"
Is there an existing solution for a multi-level sidebar menus for the Material Dashboard PRO theme?

[2020-04-07 21:52] Salahudeen opened #361 "[Bug] navbar fixed-top does not readjust horizontally on sidebar collapse"
![Capture](https://user-images.githubusercontent.com/12079910/78722934-bf1a9880-792a-11ea-8aa3-0832eae094f3.PNG)
### Version
material-dashboard-pro-angular-v2.4.1
### Reproduction link
http://na
### Operating System
Win10
### Device
iMac using bootcamp
### Browser & Version
Chrome Version 81.0.4044.92 (Official Build) (64-bit)
### Steps to reproduce
Navigate to navbar.component.html add fixed-top

[2020-04-14 18:41] Roman991 commented on #250
a little update: u have to add `sidebar-mini` class to <body>

[2020-04-22 05:24] renatoredes commented on #341
How can i change sidebar color? other then Red, white and black ????

[2020-04-22 05:25] renatoredes opened #362 "How can i change sidebar color? other then Red, white and black"

[2020-04-22 05:26] renatoredes commented on #362
src/app/layouts/admin/admin-layout.component.html file.

[2020-04-28 08:55] GCPBigData commented on #361
bug

[2020-04-29 08:20] rarestoma commented on #361
Hi @Salahudeen,

Thank you for working with our products and sorry for the late response.

Please add this CSS style for the fixed-top navbar:

.sidebar-mini .navbar.fixed-top {
    width: calc(100% - 80px);
}

Please let me know if it works.

Thank you,
Rares

[2020-04-30 12:56] rarestoma commented on #362
Hi @renatoredes,

Thank you for working with our products and sorry for the late response.

For more colors, you have to add new style in scss/dashboard/_sidebar-and-main-panel.scss.

Exemple for` background-color="red"` on line 383:

&[data-background-color="red"]{
        @include sidebar-background-color($gray-base, $white-color);

        .nav li .dropdown-menu .dropdown-item{
          color:

[2020-04-30 13:02] rarestoma commented on #360
Hi @admiralato,

Thank you for working with our products.

Unfortunately, we do not provide multi-level sidebar menus in the Material Dashboard PRO Angular theme.

Thank you,
Rares

[2020-04-30 13:12] rarestoma commented on #359
Hi @AndriyDyatelAstute,

Thank you for working with our products and for the suggestion. I added it on the list to discuss for the next update.

Thank you,
Rares

[2020-04-30 13:37] rarestoma commented on #358
Hi @Ludagon,

Thank you for working with our products and sorry for the late response.

Please add 'mat-raised-button' class on buttons when using on navbar like in the example below:

   <button mat-raised-button class="btn mat-raised-button btn-twitter">
      <i class="fa fa-twitter"></i> Connect with Twitter
    </button>

Please let me know if it works.

Thank you,
Rares

[2020-04-30 14:10] rarestoma commented on #356
Hi @cogni-prasant,

Thank you for working with our products and sorry for the late response.

You have to add your Google API in order for the maps to work.

Thank you,
Rares

[2020-04-30 14:11] rarestoma commented on #355
Hi @cogni-prasant,

Thank you for working with our products.

Did you modify something?
Did you follow the steps provided here (https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/tutorial) ?

Thank you,
Rares

[2020-04-30 14:13] rarestoma commented on #354
Hi @abdulhoni,

Thank you for working with our products and sorry for the late response.

Can you please give me more details about your issue? What did you try? We provide some examples of dropdowns here (https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/dropdown).

Thank you,
Rares

[2020-04-30 14:26] rarestoma commented on #352
Hi @prithesh990,

Thank you for working with our products and sorry for the late response.

Please remove from the login page the '.card-hidden' from the card-login.

Please let me know if it works now.

Thank you,
Rares

[2020-04-30 15:14] marciliocarvalho opened #363 "System broken after 'npm audit fix'"
After running the 'npm audit fix' command to troubleshoot package installation problems, the system crashed.

What can I do to fix this?

[2020-04-30 17:23] chikkanti opened #364 "Application is breaking if we add FormsModule,MaterialModule to NavbarModule"
Uncaught TypeError: Cannot read property 'ngModule' of undefined

I have purchased your Material Dashboard pro angular.
If we add FormsModule,MaterialModule to NavbarModule the total application is breaking and not at all loading.

Please don't close this issue, I am logging it here as your support site is not working for me.

[2020-05-02 10:16] jaimeb2006 opened #365 "dropdown-menu"
how I can change the color of activate in dropdown-menu?

[2020-05-06 13:39] maroy1986 commented on #353
This issue can be easily fixed by changing 2 lines, one in `login.component.ts`  and another one in `lock.component.ts` to the following :

In `login.component.ts` change line `27` from :
`var card = document.getElementsByClassName('card')[0];`
To
`const card = document.getElementsByClassName('card-login')[0];`

In `lock.component.ts`, change line `14` from :
`const card = document.getElementsByCl

[2020-05-08 08:13] Dacili commented on #351
sameee

[2020-05-08 11:14] Dacili commented on #351
So there are 2 solution that worked for me:
1.   Add the below style in your **global** CSS file(**styles.css** or .scss file)
.cdk-global-overlay-wrapper, .cdk-overlay-container {
z-index: 10000 !important;
 }
2. Add in .ts file of your component
@Component({
  selector: 'app-add-edit',
  templateUrl: './add-edit.component.html',
  styleUrls: ['./add-edit.component.scss'],
  encapsulation: ViewEn

[2020-05-15 19:53] jeasomoza commented on #362
sorry but where do you define the variables $brand-primary

[2020-05-17 20:18] ahawkley opened #366 "[Feature Request] Card heights auto stretch"
### What is your enhancement?
I'm wondering what class I need to add to cards to automatically have them fill the available vertical space? I'm not super good with flexboxes, but I imagine I can probably just add a bootstrap class to my cards I just can't seem to figure out which one.

For example - if you go to your demo at https://demos.creative-tim.com/material-dashboard-pro-angular2/#/dashboar

[2020-05-18 07:53] rarestoma commented on #362
Hi @jeasomoza,

You can find the brand Colors in src/assets/scss/core/variables/_brand.scss.

Thank you,
Rares

[2020-05-18 10:27] rarestoma commented on #366
Hi @ahawkley,

Thank you for working with our products.

A solution would be to add a 'min-height' height to .card-stats class.

Another good solution, considering that the height will differ according to text/numbers length, would be to change the 'col-lg-3' class of the 4 cards to 'col-xl-6' so the height will be the same also on 1200px.

Please let me know if it works.

Thank you,
Rares

[2020-05-20 16:03] AndriyDyatelAstute opened #367 "[Bug] Navigation Bars Mobile View Not Working"
### Version
2.4.1
### Reproduction link
https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/navigation
### Operating System
Any
### Device
Mobile
### Browser & Version
Any
### Steps to reproduce
Use any of the navbars defined in the documentation. View on a mobile device mobile simulation. Menu is collapsed into a single icon, but it is not working. Tapping on it should

[2020-05-21 08:15] rarestoma commented on #367
Hi @AndriyDyatelAstute,

Thank you for working with our products.

The Bootstrap navbar functionality was suppressed so in our responsive mode the sidebar will come from the right side with also the navbar information in it.

An example of a working collapse menu can be found in `src/app/layouts/auth/`:

- Here at `auth-layout.component.html` we defined the `navbar-toggler`' with 3 orizontal lines

[2020-05-21 17:01] AndriyDyatelAstute commented on #367
Thank you for the response. I did try using auth layout's example but couldn't get it to work - I got the content shifting to the left, but it was exposing just empty space, no navbar.
Any CSS specifc classes I need to be aware of? I followed the install instructions on Angular Materials Pro to setup the app, didn't anything on top.
Thanks!

[2020-05-21 20:17] ionutafloarei commented on #350
it is working in Edge, but not in IE. thanks for help. I am closing this issue.

[2020-05-21 20:17] #350 closed

[2020-05-21 21:39] ahawkley commented on #366
Thanks for the response @rarestoma
Unfortunately that does not really solve the problem - the dashboard is all dynamic content so I can't know in advance what min-height would be capable of holding all the data that could end up in one of these cards - I also want to keep the rows as short as possible while still holding the data that they will have - so setting a larger min-height would just be w

[2020-05-22 07:58] rarestoma commented on #367
Hi @AndriyDyatelAstute,

I tried the code from https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/navigation and this code should be like this:

[code]

Can you please try this way?

Thank you,
Rares