[2017-03-26 04:29] TouaXiong opened #1 "Navigation links aren't working"
When running the "npm start", I get the following warning messages:
C:\AppDev\OnlineOrder>npm start

[1] Did not detect a `bs-config.json` or `bs-config.js` override file. Using lite-server defaults...
[1] ** browser-sync config **
[1] { injectChanges: false,
[1]   files: [ './**/*.{html,htm,css,js}' ],
[1]   watchOptions: { ignored: 'node_modules' },
[1]   server: { baseDir: './', middleware: [ [

[2017-03-27 14:03] alexandru-paduraru commented on #1
@TouaXiong thank you for using our product. This is a little bit weird, the, terminal should start automatically your browser on localhost:3000. Can you please share an image with what you have when you go to localhost:3000 and include also the developer console on javascript? Please also send us the output log that you have in the same folder.

Here is a question with the same issue, maybe it is

[2017-04-07 00:01] aVolpe opened #2 "Koala can't compile the material-dashboard.scss"
Following the tutorial in ./documentation/tutorial-components, the part:

# Changing Colors (SASS)

You can change the default colors via variables from SASS:

1. You can find the colors in assets/sass/material-dashboard/_variables.scss starting with line 28 where is the primary color set: $brand-primary: $purple !default;. All the possible colors are in assets/sass/material-dashboard/_colors.scss

[2017-04-07 07:53] prodia4 opened #3 "routerLink on initMenu.js cloned elements refreshes the page when clicked"
I have a main page that has a navbar whose '.navbar-collapse' elements get cloned and put to '.nav-mobile-menu' by 'initMenu.js'.

But the problem is that the routerLinks attached to those elements don't act as expected when they're cloned and moved to '.nav-mobile-menu'. When they are not collapsed they route to the expected pages like a single page app, but when they are moved to the side and cl

[2017-04-07 18:37] alexandru-paduraru commented on #3
@prodia4 thank you for using our product and for showing the issue. As we said in the email, we will try to replicate the issue using the routerLink and then find a solution for you. We will come with something on Monday when we will be in the office and have all the necessary tools to test this.

Best,
Alex

[2017-04-08 15:43] karthinuk107 opened #4 "md-checkbox"
Uncaught ReferenceError: noUiSlider is not defined
    at material-dashboard-angular.js:122
jquery-3.1.1.min.js:2 jQuery.Deferred exception: md is not defined ReferenceError: md is not defined
    at HTMLDocument.<anonymous> (http://localhost:3000/assets/js/material-dashboard-angular.js:40:5)
    at j (http://localhost:3000/assets/js/core/jquery-3.1.1.min.js:2:29948)
    at k (http://localhost:300

[2017-04-09 03:56] karthinuk107 opened #5 "Material Component"
Hi,

I want to include material checkbox with selectall function

please find the below script

JS

angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])

.controller('AppCtrl', function($scope) {
  $scope.items = [1,2,3,4,5];
  $scope.selected = [1];
  $scope.toggle = function (item, list) {
    var idx = list.indexOf(item);
    if (idx > -1) {
      list.splice(idx, 1);

[2017-04-10 12:33] chelaruc commented on #4
Hi @karthinuk107! I just fixed the issue and what you have to do is to go in `md-pro-angular2/app/dashboard/forms/extendedforms/extendedforms.component.ts` and delete line 30:
[code]

Keep in touch,
Ciprian

[2017-04-10 13:25] dragosct10 commented on #3
Hi @prodia4! I finished to fix your issue and I will attach the file `initMenu.js` which is modified and what you have to do is to go in `assets/js/init/initMenu.js` and replace the old file with the new one that I gave it to you. Hope that will help you!

Regards,
Dragos

[initMenu.js.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/910155/initMenu.js.zip)

[2017-04-10 13:39] chelaruc commented on #5
@karthinuk107 Thank you for using our product. Can you give us a link to your repo or some screenshots? We did not understand what you mean and we want some details.

Keep in touch,
Ciprian

[2017-04-11 03:19] prodia4 commented on #3
Hello,
I'm sorry but it didn't solve the problem. Also, there's the same problem
in initBootstrapNavbarMenu but nothing was changed there.
Could you explain to me what you thought was the cause of the problem?

2017-04-10 22:25 GMT+09:00 dragosct <notifications@github.com>:

[2017-04-11 13:26] dragosct10 commented on #3
Hi @prodia4! Thank you for the information, it seems we updated just the version for the dashboard, not the one from the login/register pages (initBootstrapNavbarMenu).

Now I updated the file `initMenu.js` with changes of the code inside of function `initBootstrapNavbarMenu` too. Now the elements from the menu are not cloned anymore and if you add a function like `onclick="alert('something')"` it

[2017-04-12 13:28] karthigv commented on #5
Hi All,

Thanks for Creating beautiful web app.Here is the scenario I am facing, I want to Visualize Relationship charts with D3 and my data source was Google Big Query.

So I want to Connect to Big query and get the data based on Users filter conditions and visualize into D3.

I have a lot of Solution available for Angular 1 but not for 2

Could you please guide me on this

Please have this solut

[2017-04-13 08:33] prodia4 commented on #3
Hi again, sorry but the problem i mentioned is different from the one
you've addressed.

As you said, onclick="alert('something')" now works, but Angular 2's
(click) does not.

for example, I have a

<li class="pointer" *ngIf="auth.isLoggedIn()" routerLinkActive="active">
    <a (click)="auth.logout()">
        <i class="material-icons">settings_power</i> Logout
    </a>
</li>

which won't work wh

[2017-04-14 22:07] alexandru-paduraru commented on #3
@prodia4 is is something that (click) is doing and it is depending on the DOM? I mean, it has to be in the same position where it was initially added? I've found also this answer for the case of (click) not working, it seems Angular is not reading from an element that is added and removed from the DOMhttp://stackoverflow.com/questions/42779573/click-event-is-not-working-in-angular-2

1. Let's try

[2017-04-15 00:04] prodia4 commented on #3
Yep that still works because it hides the element based on CSS, not removing it from the DOM.

I think the solution is to either

1. Change the CSS based on window size to make it behave as it does now.
or
2. Make a separate Angular component for the sidebar and make it show up needed.

I think option number 1 would be a simpler approach for now.

How about not utilizing initMenu.js at all and ach

[2017-04-18 07:04] alexandru-paduraru commented on #5
@karthigv thank you for the detailed explanation. Can you please let us know how the D3 and Google Big Query is linked to the first request with checkboxes?

Also please let us know what is D3 and BigQueryData, this is the first time when we hear about them. Do you have any repo where we can check your code and see if we can give you a solution?

Best,
Alex

[2017-04-19 16:48] alexandru-paduraru commented on #3
@prodia4 the option 1 with only the CSS changes doesn't work with the current implementation because the navbar and the sidebar are placed in different divs:

<img width="1440" alt="screen shot 2017-04-19 at 19 46 49" src="https://cloud.githubusercontent.com/assets/2517758/25191652/f5cbd590-2538-11e7-9e2e-53ae4608065f.png">

So we cannot move that inside the sidebar to be visible on mobile without

[2017-04-19 18:02] sumitdhameja opened #6 "If toggle switch is used to represent True/False(1/0) in datatables.net, the sorter doesnt work"
If I'm using datatables and using toggle to show True/False state, the sort doesn't seem to be working on that specific column. Seems to be working fine if Im representing it simply by 1/0 values for true/false expression.
Example Column:
[code]

[2017-04-21 16:09] alexandru-paduraru commented on #6
@sumitdhameja thank you for using our product and sorry for the late response. Can you please share with us the code portion from your typescript and let us know where you initialise the datatables?

In this way, we will test your case and give you a quick fix.

Best,
Alex

[2017-04-21 17:10] sumitdhameja commented on #6
@alexandru-paduraru in my component I am calling the script as
```$.getScript('../../../assets/js/init/initDataTable.js');```
I invoke initDataTable() function in ngOnInit for that component.
In my initTable.js, I invoke thefunction as shown below. I am using Angular-Cli with this project

[code]

[2017-04-26 16:55] DuckyChocobo opened #7 "In the demo login/register/login page the hamburger does not work"
Any instructions on how to fix it? I like the template and want to use it as our login page but this really breaks it.

[2017-04-27 09:06] dragosct10 commented on #7
Hi @DuckyChocobo! For fixing this issue you must go in the html page and add in the bottom of the page the following code: `<script src="./assets/js/init/initMenu.js"></script>`. Please tell us if everything is working fine!

Regards,
Dragos

[2017-04-27 14:32] DuckyChocobo commented on #7
It works now, ty

[2017-04-29 04:45] Mohendran opened #8 "Jquery"
Why have you guys added jquery and its supported plugins?
Angular manipulates the shadow DOM to make faster renders whereas Jquery touches the DOM each time for a small operation... making the UI slower... It would be nice If you could remove jquery and make everything in pure Angular

[2017-04-30 18:52] karocksjoelee commented on #8
Agreed , and this doesn't count as an Angular Theme . Code is based on jQuery under the component .
I want a refund for real .

[2017-05-01 13:08] alexandru-paduraru commented on #8
@Mohendran @karocksjoelee thank you for using our product and sorry to hear that it is now as you expected. How I described in the other comments (https://www.creative-tim.com/product/material-dashboard-pro-angular2), we've built MDPro Angular 2 as we had too many requests from our customers who wanted to migrate MD Pro HTML to Angular 2, and we just wanted to help them in the development process.

[2017-05-01 13:09] alexandru-paduraru commented on #7
fixed in v1.0.1

[2017-05-01 13:09] #7 closed

[2017-05-03 16:57] dragosct10 opened #9 "Off-canvas-menu made with css and Bootstrap navbar collapse default"
We implemented a sidebar which is coming from the right side when you click on the navbar-toggle button. We had some request for the default navbar from bootstrap which is collapsing the elements . If you want the default navbar-collapse from bootstrap please follow the next steps:

`Off-canvas-menu:`
1. Go in `index.html` and add to `body` tag the class `.sidebar-pages`.
2. In every page that doe

[2017-05-04 14:50] alexandru-paduraru commented on #2
@aVolpe thank you for using our product and sorry for the late response. I don't know why we missed this notification. Please deactivate the "Debug info" and "Source Map" and compile again and let us know your status.

Best,
Alex

[2017-05-08 16:30] dragosct10 commented on #9
Hi! I will upload a video with Bootstrap navbar default collapse and Off-canvas-menu made with css showing that are working.

https://www.dropbox.com/sh/pmjilaffd0xo0sx/AABQ4EGEi03Nh_HWYavX9NpHa?dl=0

Regards,
Dragos

[2017-05-12 07:56] antrikshpatel opened #10 "Sidebar Open Close Button should always stay on top"
Does it have the option whereby the sidebar open/close button stays on top when viewed on the phone?

[2017-05-16 15:39] aVolpe commented on #2
Without "source map" works fine.

[2017-05-16 15:39] #2 closed

[2017-05-16 17:14] jgutierro opened #11 "Error Calendar Module sweetalert2"
I'm getting this error after ng serve:

ERROR in /Users/jgutierro/Downloads/md-pro-angular-v1.1.0/angular-cli/src/app/calendar/calendar.component.ts (2,18): Cannot find module 'sweetalert2'.)

ERROR in ./src/app/calendar/calendar.component.ts
Module not found: Error: Can't resolve 'sweetalert2' in '/Users/jgutierro/Downloads/md-pro-angular-v1.1.0/angular-cli/src/app/calendar'
 @ ./src/app/calendar

[2017-05-16 20:54] alexandru-paduraru commented on #10
@antrikshpatel thank you for the suggestion. You can simply achieve that by adding the class `.fixed-top` to the `div.navbar` and the move the whole `<navbar-cmp>` outside of the `div.main-panel` like in this example:

<img width="1019" alt="screen shot 2017-05-16 at 23 52 15" src="https://cloud.githubusercontent.com/assets/2517758/26127740/e019a578-3a92-11e7-84f0-0e3a41232cb0.png">

Then the navb

[2017-05-18 04:23] hguaymas opened #12 "Problems in lbd folder"
Hi, I'm trying to run the application with npm start or ng serve, but I have errors when compile:

ERROR in E:/web_projects/anunciate_front/src/app/lbd/lbd-chart/lbd-chart.component.ts (66,9): Identifier 'Chartist' must be imported from a module

ERROR in E:/web_projects/anunciate_front/src/app/lbd/lbd-chart/lbd-chart.component.ts (66,9): Value of type 'IChartistPieChart' is not callable. Did you

[2017-05-19 10:35] serweck opened #13 "Can't fill datatable.net with ngFor"
i'm trying to use a ngFor to fill a datatable. I can show data but the filters, orders, etc... doesn't work.

[code]
how can i do it?

[2017-05-20 18:09] antrikshpatel opened #14 "angular-cli version does not show scroll-bar"
Without any modifications to angular-cli, I did npm start. The scrollbar does not appear on any of the views.

[2017-05-21 11:22] BoyeMagnus opened #15 "Is-empty is not working correctly with [(ngModel)]"
![image](https://cloud.githubusercontent.com/assets/24491343/26283332/c05ad472-3e26-11e7-88ae-12e9bd820a4c.png)
The error is occurring when I am using [(ngModel)] and router redirecting to the component. The error doesn't occur if I reload the page instead of router redirecting.

[2017-05-22 13:49] alexandru-paduraru commented on #12
@hguaymas are you using Light Bootstrap Dashboard or Material Dashboard PRO? This is the repo for Material Dashboard PRO.

Best,
Alex

[2017-05-22 13:55] alexandru-paduraru commented on #13
@serweck thank you for using our product. Please try to initialise the table using data from typescript like this: https://github.com/creativetimofficial/light-bootstrap-dashboard-pro-angular/issues/3

Please let us know if that helped you.

Best,
Alex

[2017-05-22 14:31] serweck commented on #13
i'm using v1.1.1

This is the code:
`import { Component, OnInit } from '@angular/core';
import { Facture } from '../../model/listado-factura';
import * as Collections from 'typescript-collections';

declare var $: any;

@Component({
  selector: 'app-listado-factura',
  templateUrl: './listado-factura.component.html',
  styleUrls: ['./listado-factura.component.css']
})
export class ListadoFacturaCo

[2017-05-22 21:47] alexandru-paduraru commented on #14
@antrikshpatel thank you for using our product. Can you please let us know which OS you are using and what Browser?

Best,
Alex

[2017-05-23 01:13] antrikshpatel commented on #14
@alexandru-paduraru
OS: Windows 10
Browser: Chrome and Microsoft Edge

[2017-05-23 12:10] pmargom commented on #13
Hi @serweck:

I noticed you have this en the html: **`<table class="table">`**
and in the .ts file you have: **$('#datatables').DataTable()**
Maybe you need to update html code to use the right selector: **`<table id="datatable">`**.

Hope it helps.

On the other hand @alexandru-paduraru you mentioned to use *creativetimofficial/light-bootstrap-dashboard-pro-angular#3* and I'm afraid this issue is

[2017-05-23 16:00] Sedor opened #16 "Can't use Chartist.js Plugins"
I'm trying to get the Zoom Plugin running but Chartist.plugin is undefined for me.

Any suggestions how to hack that or will there be a fix ?

[2017-05-23 20:51] alexandru-paduraru commented on #15
@BoyeMagnus thank you for pointing out. Can you please make sure you are not including the `.is-empty` class when you are sending something in the value of the input? If the class `.is-empty` is added the input will think that there is nothing there and it will move the floating label over the text.

Do you have an example with the code from the ngModel and the html?

Best,
Alex

[2017-05-24 08:02] akosbordas commented on #14
I had the same problem. I managed to make it work. (Btw. I have to tell you that it is a really ugly way how you are using angular together with jQuery.) Instead of using jQuery it's better to add `ngx-perfect-scrollbar` to package.json or simply  execute the following code `npm install ngx-perfect-scrollbar --save`. When it's done you can configure perfect scrollbar in your AppModule like this:
[

[2017-05-24 12:46] alexandru-paduraru commented on #14
@akosbordas thank you for the information and for giving us a solution. We will test it today and see if it is working fine. We used the perfect-scrollbar in v1.0.1 via package.json and we've got a lot of feedback from the users that it is giving an "infinite scroll" in different cases. We used the 0.7.0 version. Then we moved to the old 0.6.13 importing it as a separate library. This is the npm v

[2017-05-24 18:01] LexBel-co opened #17 "CLI version bugs"
The CLI version of 'Material Dashboard Pro Angular 2' was released with Angular CLI 1.0.0-rc.0 and if we try tu update that version to the latest stable or even 1.0.0, when we run the ng serve command, we get several errors, related with 'ldb' folder:

`ERROR in /Users/LexBel/Documents/Desarrollo/Proyectos/opentecnologia.frontend/src/app/lbd/lbd-chart/lbd-chart.component.ts (66,9): Iden
tifier 'Ch

[2017-05-25 05:08] alexandru-paduraru commented on #14
@akosbordas just wanted to update the version with your suggestion but it seems I'm doing something wrong:

<img width="1440" alt="screen shot 2017-05-25 at 08 06 35" src="https://cloud.githubusercontent.com/assets/2517758/26436722/288664d8-4121-11e7-924f-1ea531bd0256.png">

Any ideas?

[2017-05-25 06:31] akosbordas commented on #14
@alexandru-paduraru No I haven't seen that "infinite scrolling" behavior before. The error says that angular does not recognize the directive. That's because you probably haven't added `PerfectScrollbarModule.forRoot(PERFECT_SCROLLBAR_CONFIG)` to your sidebar module. I wrote above that you have to add it to your AppModule but it's not the case of course if you want to use it in other modues as wel

[2017-05-26 18:17] alexandru-paduraru commented on #14
@akosbordas got it, we will check with your suggestion again. BTW, do you know how we should add the conditions with the [perfect-scrollbar] to be active only when we are on Windows platform? The issue is present only in Windows because we want to replace the regular ugly scrollbar. On MacOS, Ubuntu, iOS, Android the scrollbars are looking fine.

Best,
Alex

[2017-05-26 20:45] akosbordas commented on #14
I work on Windows as well. I have no issues with the scroll bar.  What is your exact Problem?

[2017-05-29 06:19] alexandru-paduraru commented on #14
@akosbordas we want to activate the Perfect scrollbar only when we are on Windows, not on Mac. Mac, Ubuntu, iOS and Android have their own scrollbars which are looking good. Windows has an ugly bar which is replaced by Perfectscrollbar. So we want to activate the library only on windows, not on the other platform. Got it? :D

[2017-05-29 06:44] akosbordas commented on #14
Yes I got it for the first time too. But this is not changing the fact what you are doing in your components is a really ugly hack, got it? :D And I'm saying this as your customer....who has to work with your code.
That's why I suggested to use everywhere the perfect scrollbar, so you don't need these and the website will look the same on every platform. What if I come up with an issue tomorrow th

[2017-05-29 06:58] alexandru-paduraru commented on #14
@akosbordas yes, you're right, actually don't remember now what was the reason for adding the PerfectScrollbar just for windows and not on all the platforms. I think 2 years ago when we created our first Dashboard there were some compatibility issues with Ubuntu. We will check if that is the case these days, if it is working fine then we will not add that hack, we will have it activated on all the

[2017-05-31 04:07] MohsinShaikh89 commented on #14
Can anyone share cli version of code?

[2017-06-01 14:46] flamasweb opened #18 "CLI version bugs"
When we try to generate --dist version of 'Material Dashboard Pro Angular 2' we get this error:

ERROR in Type LbdTableComponent in /Applications/MAMP/htdocs/ddh/admin/angular-cli/src/app/lbd/lbd-table/lbd-table.component.ts is part of the declarations of 2 modules: LbdModule in /Applications/MAMP/htdocs/ddh/admin/angular-cli/src/app/lbd/lbd.module.ts and DashboardModule in /Applications/MAMP/htdo

[2017-06-04 19:14] alexandru-paduraru commented on #14
@MohsinShaikh89 the CLI version is in the same archive with the plain ng2 from our website if you have purchased a license. Please check it there and let us know if everything is fine.

Best,
Alex

[2017-06-04 19:16] alexandru-paduraru commented on #17
@LexBel-co thank you for pointing out and sorry for the late response. We fixed this and added CLI 1.0.0 in the V1.2.0. Please check it and let us know if everything is fine.

Best,
Alex

[2017-06-04 19:16] #17 closed

[2017-06-04 19:18] alexandru-paduraru commented on #18
@flamasweb thank you for pointing out. We just updated it to v1.2.0 and added the CLI 1.0.0. We also fixed the side nav animation. Please check it and let us know if everything is fine.

Best,
Alex

[2017-06-04 19:18] #18 closed

[2017-06-04 19:18] alexandru-paduraru commented on #13
@serweck we just added in v1.2.0 a working example for the ngFor inside datatables. Please check it and let us know if everything is fine.

Best,
Alex

[2017-06-04 19:18] #13 closed

[2017-06-04 19:20] alexandru-paduraru commented on #10
Navbar fixed top was added in the documentation for v1.2.0 CLI version.

[2017-06-04 19:20] #10 closed

[2017-06-04 19:21] alexandru-paduraru commented on #12
Fixed in v1.2.0 CLI Version. Please check it and let us know if everything is fine.

Best,
Alex

[2017-06-04 19:21] #12 closed

[2017-06-05 09:15] alexandru-paduraru opened #19 "Navbar default border issue"
**Bug description**

Another problem is that, when removing the transparent "navbar-transparent" of the Navbar, there is a annoying white line below the bar, see the following screenshot. I saw you guys added shadow on it in the Media Kit. Do you know how to fix it?  Thanks! -Eddy

![image](https://cloud.githubusercontent.com/assets/2517758/26778101/7bd195e8-49e8-11e7-9e92-cbc2c127d002.png)

**Aut

[2017-06-05 09:15] alexandru-paduraru commented on #19
Go to assets/css/material-dashboard.css at line 9801 and remove the border-bottom property

[2017-06-05 09:51] alexandru-paduraru commented on #16
@Sedor thank you for using our product. We updated the CLI version to 1.2.0 and we included the zoom plugin there. Please download it again and let us know if everything is fine.

Best,
Alex

[2017-06-05 14:02] adaluo opened #20 "cli version datatable not working"
the datatable is not working in the new update in cli version.

[2017-06-06 08:29] alexandru-paduraru commented on #20
@adaluo thank you for pointing out. We are doing some tests to see what is causing the issue, the datatables was working fine in the v1.1.2 update.

[2017-06-07 15:08] Delysid commented on #20
I have the same issue in v.1.2.0. It's works good in dev mode. But in production it causes an error.

[code]

[2017-06-11 16:03] alexandru-paduraru commented on #20
@adaluo and @Delysid we fixed the issue with the Datatables in v1.2.1, we switched to CLI and discontinued the ng2 version. CLI is way better and simple to be used. We also added in the documentation a tutorial on how to prepare the package.json to work smooth on the Production. Please let us know if you have any further feedback.

[2017-06-13 02:49] wilrho opened #21 "ReactJS Version"
Hi any chances that you will be creating a ReactJS version of this one?

[2017-06-13 14:30] alexandru-paduraru commented on #21
@wilrho thank you for your interest in our product. Yes, we have in plan to migrate it to ReactJS soon. Stay tuned :D

[2017-06-13 14:30] #20 closed

[2017-06-14 22:39] cerokool32 opened #22 "static background on fullpage pages"
is there any way to create a fixed fullpage background and make items float over it, like material kit?

[2017-06-14 22:45] cerokool32 opened #23 "page subCategories nav pills on windows resize"
i'm having troubles with the max title size on the page subcategories nav pills, is there a way to fix positions like col-xs or something?
Demo module attached
![problemasubpages](https://user-images.githubusercontent.com/3944935/27157758-e50c36f2-5128-11e7-8b7a-8ec50642c8cb.png)
[level3.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1076123/level3.zip)

[2017-06-15 10:10] alansylim55 opened #24 "how to use this CLI into ASP.NET MVC solution.. Please help..."
I have no idea how to use this CLI version incorporate the ASp.NET MVC. Asking help from all programmer around the world... please help

[2017-06-15 19:49] ogarvey commented on #24
Google is your friend...

http://candordeveloper.com/2017/04/12/how-to-use-angular-cli-with-visual-studio-2017/

[2017-06-19 08:54] alexandru-paduraru commented on #22
@cerokool32 yes, you cand do that, please go at the end of material-dashboard.css and add this code:

[code]

Best,
Alex

[2017-06-19 12:57] alexandru-paduraru commented on #23
@cerokool32 can you please send us the link to your web app so we can check and give you a fix? Or can you send the complete archive?

Best,
Alex

[2017-06-20 14:27] cerokool32 commented on #23
this is my full module. page still offline

[level3.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1088478/level3.zip)

[2017-06-20 14:46] cerokool32 commented on #22
thanks, it works great.

[2017-06-20 14:46] #22 closed

[2017-06-22 07:46] ishkurko opened #25 "Buttons: Floating Action Button support"
Could you add Floating Action Button?

A floating action button represents the primary action in an application.
A floating action button is used for a promoted action.
Shaped like a circled icon floating above the UI, it changes color upon focus and lifts upon selection. When pressed, it may contain more related actions.

### Usage
Only one floating action button is recommended per screen to repr

[2017-06-23 04:01] cerokool32 opened #26 "autoclose sidebar menu on selection"
sidebar keeps open on selection when i'm on mobile screen.

[2017-06-23 05:03] alexandru-paduraru commented on #25
@ishkurko thank you for using our product. There is fab button using the `.btn-fab` class. What you have to do is to write these properties at the end of material-dashboard.css

[code]

And move the button outside of the div.main-panel so it will float on the page. You will get something like this:

<img width="467" alt="screen shot 2017-06-23 at 08 02 03" src="https://user-images.githubuserconten

[2017-06-23 07:16] ishkurko commented on #25
@alexandru-paduraru Thank you for the fast response. Your solution is ok for one button, but it will be great to have the possibility to add fast fab buttons also (options).

[2017-06-23 10:04] chelaruc commented on #26
Hi @cerokool32

Thanks for using our products. We fixed that thing and you need to replace the following files:
[files_to_replace.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1097435/files_to_replace.zip)

Please let us know if this is working fine for you.

Keep in touch,
Ciprian

[2017-06-23 14:17] raviready opened #27 "Open Dashboard in full-screen"
Is there a way to hide the sidebar based on a flag? If the flag is false then everything works as in the demo today. If the flag is set to true, the dashboard should be shown in full-screen, with the hamburger button on the right (that can be clicked to show/hide the sidebar). Basically when the flag is set, the dashboard works as it does today on a small screen but on any screen size.

Thanks,
Ra

[2017-06-28 09:53] alexandru-paduraru commented on #27
@raviready thank you for using our product. To make sure that I understood right, are you talking about the full-screen feature of the browser? Like this one: https://www.sitepoint.com/use-html5-full-screen-api/ ?

[2017-06-28 12:25] raviready commented on #27
Thanks for your reply, Alex. No, I am not talking about the browser full-screen feature. Currently I am able to collapse the sidebar menu in my logic by using a flag but ideally I would like to hide the sidebar menu (irrespective of the screen size).

To explain more, I am trying to build a dashboard that will run in two modes, an interactive mode and an auto slideshow mode. In the interactive mod

[2017-06-28 13:03] alansylim55 opened #28 "multi-language support"
How to make it work with multi language support.

[2017-06-30 14:29] alexandru-paduraru commented on #27
@raviready now I got it. We will think of a way to build that. At this moment what you can do is when you start your slideshow just to add a class on the body of the page which will work like this:

[code]
Hope this helps till we will have an official release.

Best,
Alex

[2017-06-30 14:32] alexandru-paduraru commented on #28
@alansylim55 thank you for using our product. Please check this tutorial about ng2-translate: https://www.youtube.com/watch?v=mBqUTbY2MiE

[2017-06-30 23:22] raviready commented on #27
Okay, this seems to partially work (when I add this CSS class to the div in my app.component.html file) but issue is, the sidebar disappears and cannot be displayed again, even on clicking the regular menu button. No way to go back to interactive mode without refreshing the website.

When the sidebar is hidden, the hamburger menu should also appear on the right top so that the user can then choose

[2017-07-01 10:34] ishkurko commented on #25
@alexandru-paduraru Have you plan for fab button speed deal?
Example:
https://material.angularjs.org/latest/demo/fabSpeedDial

[2017-07-01 10:35] ishkurko commented on #27
+1
We need this feature also. Thank you.

[2017-07-01 17:46] jamper91 opened #29 "Problems with select tag, class="selectpicker" and dynamic data"
Hi, guys (first, i I apologize for my spelling).
I am  trying to visualize a  multi select with an array of data, but the data come from a web service.
What its my problem? the select doesn't show any option.
In the next picture you can see how the select has the options tag, but when i click doesnt show anything
![sshot-5](https://user-images.githubusercontent.com/515314/27764272-10bc122e-5e5b-11

[2017-07-04 15:43] alexandru-paduraru commented on #25
@ishkurko thank you for the example. That looks pretty cool, I like it. I will talk with my team and see if we will add this in the next release.

[2017-07-05 14:41] softbrillianceperu opened #30 "How to implement an editable table?"
Hi,
Do you have a sample how to develop a table that can be able to edit data?
I see some samples but all present data only

Thanks in advance
Carlos V

[2017-07-05 14:42] softbrillianceperu opened #31 "How to fill data in a table from json service?"
Hi,
We need to fill data in a table from a service using json format. Where can I find a sample?

Thanks in advance,
Carlos V.

[2017-07-06 12:56] alexandru-paduraru commented on #27
@raviready @ishkurko this was approved as a future for the next release. Did you try to add/remove the class "hide-sidebar" from the body when you play/stop the presentation?

[2017-07-06 13:02] alexandru-paduraru commented on #29
@jamper91 please make sure you call the method "$(".selectpicker").selectpicker();" inside `ngAfterViewInit` that will make sure the selectpicker is called after the view was rendered.

Also please replace in wizard.component.ts this line 228:
`var total_steps = $wizard.find('li').length;`
with this one
`var total_steps = $wizard.find('.wizard-navigation li').length;`

 That will make sure the tot

[2017-07-06 13:40] raviready commented on #27
Alex, I tried the "hide-sidebar" class suggested by you but as mentioned earlier, once hidden there is no way to bring it back on again. That is, the menu is hidden completely and there is no access to it (the hamburger menu button needs to be shown at this time but I do not know how).

At this time I will continue with the minimized (collapsed) sidebar but await eagerly for the next release.

[2017-07-06 14:45] jamper91 commented on #29
Hi @alexandru-paduraru ,i change the code but doesn't still working, this is my code:
`ngAfterViewInit(){`
`this.veporel.get_categories()`
           	`	.map(res => res.json())`
            `.subscribe((result)=>{`
                `if(result)`
                `{`
                        `self.categories = result;`
                        `$("#categories").selectpicker({`

[2017-07-07 15:22] alexandru-paduraru commented on #29
@jamper91 let's try to add the select picker inside a timeout like this:
[code]

[2017-07-07 16:15] jamper91 commented on #29
Hi @alexandru-paduraru , that is the solution, and the same problem with datatable.net and ajax data, i just need add a timer

[2017-07-07 16:15] #29 closed

[2017-07-07 23:10] jamper91 commented on #31
Hi, look, you can see the code example from datatables.net, and the data from the web service i do this:
[code]

And this in the html
[code]

[2017-07-07 23:13] jamper91 opened #32 "The style doesn't load with a custom URL"
Hi guys, If I try to load this url http://localhost:4200/tables/extended the app doesn´t load the styles
![sshot-8](https://user-images.githubusercontent.com/515314/27979993-d8ccbb7c-633f-11e7-8d02-05c17ddc9641.png)
I tried to load the styles on the app.components with stylesUrl:[..] but doesn´t work

[2017-07-09 23:06] alexandru-paduraru commented on #32
@jamper91 did you change anything in the original archive? This is what we get on the same link:

<img width="1440" alt="screen shot 2017-07-10 at 02 05 28" src="https://user-images.githubusercontent.com/2517758/27998275-5069870c-6514-11e7-94b7-fb93c14820a8.png">

Best,
Alex

[2017-07-09 23:10] jamper91 commented on #32
Not, i dont change anything, but if you put this rul in your browser http://localhost:4200/tables/extended without go to http://localhost:4200/. If i  type ng serve, the command open a new tab in http://localhost:4200 and all its ok if after that i go to http://localhost:4200/tables/extended everything its ok, but if a open a new tab or i reload this http://localhost:4200/tables/extended the probl

[2017-07-09 23:23] alexandru-paduraru commented on #30
@softbrillianceperu please check the original documentation of datatatbles.net for the Inline Edit: https://editor.datatables.net/examples/inline-editing/simple

Hope that helps.

Best,
Alex

[2017-07-11 08:34] serweck commented on #13
it's work wrong again:
![image](https://user-images.githubusercontent.com/9169130/28059391-6a720d48-6624-11e7-9750-623dd5c0aaf0.png)
![image](https://user-images.githubusercontent.com/9169130/28059424-8d266c3a-6624-11e7-9f9e-39ba3213fdc0.png)

[2017-07-11 08:37] serweck opened #33 "Can't fill datatable.net with ngFor (1.2.0)"
it's work wrong again:
![image](https://user-images.githubusercontent.com/9169130/28059391-6a720d48-6624-11e7-9750-623dd5c0aaf0.png)
![image](https://user-images.githubusercontent.com/9169130/28059424-8d266c3a-6624-11e7-9f9e-39ba3213fdc0.png)

[2017-07-11 15:55] figueiredorj opened #34 "issue when compiling for production"
Hi,

when building downloaded source for production there is an issue related with wizard component seems...

It is a fresh downloaded copy wich was served as 'ng serve --prod' and resulted on "src/$$_gendir/app/forms/wizard/wizard.component.ngfactory.ts (45,9): Supplied parameters do not match any signature of call target."

Can you help with this?
Thanks

[2017-07-11 17:14] jamper91 commented on #33
Hi, i had the same problem, i solved just doing this:
In the code where you load the datarows, do something like this

[code]

And don´t call initTable before get the data

[2017-07-12 15:04] figueiredorj opened #35 "Having a more productive aproach under repetitive elements"
Hi,
I am starting development under this theme and have to say I do like how it looks.

However work start has something to say has it has some repetitives codes (at least about notifications) where it is defined in lots of places instead of having a component that could represent it....

[2017-07-12 15:22] chelaruc commented on #33
Hi, @jamper91 and @serweck!
Thank you for using our product. I checked the solution from @jamper91 and I think it's the right one. @serweck, did you have time to test it?

[2017-07-13 06:32] serweck commented on #33
I tested it and it's work, but when i want to reload the data, i can't do it.

Like a filter for search:
![image](https://user-images.githubusercontent.com/9169130/28153448-bad6e6a0-67a5-11e7-80e2-0faec6a835af.png)

[2017-07-18 09:51] alansylim55 opened #36 "datepicker"
Hi,

Having issue where datepicker is not defaulted the selected value when open the datepicker dialog.

[2017-07-19 13:38] kujtimiihoxha opened #37 "The DatePicker "Day" view is not styled."
I am having issues with the datepicker day style, I can see that in the demo http://md-pro-angular2.creative-tim.com/#/forms/extended the picker is working just fine but in my local version it does not work.

I have not modified the source files in any way.

<img width="828" alt="screen shot 2017-07-19 at 3 37 54 pm" src="https://user-images.githubusercontent.com/14311743/28369558-4595faaa-6c98-11

[2017-07-19 14:18] chelaruc commented on #37
Hi @kujtimiihoxha,

Thank you for using our product. We know about this bug and will be fixed in the next update. To resolve it, you'll need to replace the following scss file: 'src/assets/sass/material-dashboard/plugins/_plugin-datetime-picker.scss' and compile the scss file. I will attach the file which you will replace the current one. Tell me if this worked for you!
[_plugin-datetime-picker.sc

[2017-07-19 14:23] kujtimiihoxha commented on #37
@chelaruc thank you very much, it works perfectly 😄

[2017-07-21 05:51] alexandru-paduraru commented on #35
@figueiredorj thank you for using our product and for the feedback. We are constantly updating the product based on the customers' feedback. We will optimize this on the next release. If you have any further feedback please let us know.

Best,
Alex

[2017-07-21 08:34] chelaruc commented on #36
Hi @alansylim55

Thanks for using our product. We resolved this bug in #37 and it will be fixed in next update.

[2017-07-21 09:53] chelaruc opened #38 "Project initialization on IE"
To fix that please go to src/polyfills.ts on line 21 and uncomment these lines:

// import 'core-js/es6/symbol';
// import 'core-js/es6/object';
// import 'core-js/es6/function';
// import 'core-js/es6/parse-int';
// import 'core-js/es6/parse-float';
// import 'core-js/es6/number';
// import 'core-js/es6/math';
// import 'core-js/es6/string';
// import 'core-js/es6/date';
// import 'core-js/es6/ar

[2017-07-21 10:25] chelaruc commented on #34
Hi @figueiredorj

Thank you for using our product and sorry for the late response. To fix this you need to go in _src/app/forms/wizard/wizard.component.ts_ and import SimpleChanges from `@angular/core` and change `ngOnChanges` with `ngOnChanges(changes: SimpleChanges)`.
Tell us if this worked!

Keep in touch,
Ciprian

[2017-07-21 17:47] skullomania opened #39 "Index opens as white page"
Following the steps on the readme I can only get through the first step of the installation. I am using windows 7

The "@angular/compiler-cli" package was not properly installed. Error: Error: Ca
nnot find module '@angular/compiler-cli'
Error: The "@angular/compiler-cli" package was not properly installed. Error: Er
ror: Cannot find module '@angular/compiler-cli'
    at Object.<anonymous> (C:\node

[2017-07-24 14:42] alexandru-paduraru commented on #39
@skullomania as we discussed on email and other comments you said that you found a way to work so I will close this issue.

[2017-07-24 14:42] #39 closed

[2017-07-24 17:28] iSanjayAchar opened #40 "Unable to Modify Sidebar"
I'm trying to modify the sidebar li part when it's active but I'm unable to do so. I tried modifying `_sidebar-and-main-panel.scss` and `_navbars.scss` but both were of no use

Where can I exactly make the changes?

[2017-07-25 08:00] alexandru-paduraru commented on #40
@iSanjayAchar thank you for using our product. Did you compile the SCSS using Koala as it is presented in the documentation at the end of the file?

Best,
Alex

[2017-07-25 17:36] iSanjayAchar commented on #40
Nope I didn't use Koala, I'm using Angular CLI's out of the box SCSS compiler. Is it mandatory to use Koala?

[2017-07-26 07:41] alexandru-paduraru commented on #40
@iSanjayAchar no, you can use any compiler, are you sure it compiles correctly your changes? Please delete anything that is in material-dashboard.scss and see if it's compiling to the right location, that means the dashboards should be broken after you test this. Then let us know which changes you made and didn't work.

Best,
Alex

[2017-07-26 12:46] #11 closed

[2017-07-26 12:53] #24 closed

[2017-07-26 12:55] #26 closed

[2017-07-26 17:47] iSanjayAchar commented on #40
Yup @alexandru-paduraru it is compiling properly. I deleted the entire ` _sidebar-and-main-panel.scss` and it did break the entire side-bar. But then I'm really not sure how this is working. My requirement is simple. I need to resize the fonts and i need to modify the `.li:active` where should I exactly change it?

Thanks for the help in advance :)

[2017-07-28 12:38] SNAPEHR commented on #40
Hi,
Any updates on this. I have the same issue as well. I am trying to modify the background-color of the side bar and have followed the exact steps in your documentation including using Koala. But all I see is a white background color instead of the cyan that I wanted to use.
Thanks for the help.

[2017-07-29 15:50] eliesermorais opened #41 "Problem on build production"
Hello!

When I issue

`ng build --prod`

I get several erros, like:

[code]
How to build for production without errors?

[2017-07-29 15:52] eliesermorais opened #42 "Login page render on iPad"
Hello,

The login/register page render wrong on iPad. It looks ok on smartphone and desktop. See the image, menu cannot be close, still open all the time.

![erro](https://user-images.githubusercontent.com/913703/28746147-b86e932c-745c-11e7-9bb6-fe4487d3f123.jpg)

[2017-07-29 18:46] eliesermorais commented on #41
Hello again,

`ng build --prod --aot=false`

works. So, how to enable AOT on build?

[2017-07-30 06:44] iSanjayAchar commented on #40
@dragosct10 Can you update us?

[2017-07-31 07:00] iSanjayAchar commented on #40
@dragosct10 & @alexandru-paduraru - Guy's can we have an update it? Our development has stopped

[2017-07-31 10:32] chelaruc commented on #41
Hi @eliesermorais

Thank you for using our products! To fix that, you need to update your global and local package @angular/cli to latest. To update you can see this [link](https://github.com/angular/angular-cli#updating-angular-cli).
Tell us if this worked for you!

Keep in touch,
Ciprian

[2017-07-31 12:42] #41 closed

[2017-07-31 12:55] #4 closed

[2017-07-31 12:56] #5 closed

[2017-07-31 12:56] #1 closed

[2017-07-31 12:57] #3 closed

[2017-07-31 12:57] #6 closed

[2017-07-31 13:06] #16 closed

[2017-07-31 13:09] #21 closed

[2017-07-31 13:19] chelaruc commented on #23
Hi @cerokool32,

Sorry for the late response. We added your files in our dashboard and this is what we get:
<img width="395" alt="screen shot 2017-07-31 at 16 18 22" src="https://user-images.githubusercontent.com/22840626/28779488-ff51e52c-760b-11e7-8b2d-2c1c605076e9.png">
Can you, please, send us the right files?

Best,
Ciprian

[2017-07-31 13:33] alexandru-paduraru commented on #40
@iSanjayAchar sorry for the late response. Here are some videos that we made about how to change the properties of the li elements and the active element:

1. Changing regular li and a: https://vimeo.com/227738857
2. Changing the active li: https://vimeo.com/227738839

@SNAPEHR We made a video on how to work with the sidebar colors: https://vimeo.com/227738691

Hope this will help.

Best,
Alex

[2017-07-31 13:33] #40 closed

[2017-07-31 14:04] #28 closed

[2017-07-31 14:04] #30 closed

[2017-07-31 14:19] chelaruc commented on #31
Hi @softbrillianceperu @jamper91
Please check the next code with json data:

[code]
and
[code]

Best,
Ciprian

[2017-07-31 14:19] #31 closed

[2017-07-31 14:20] #32 closed

[2017-07-31 14:21] #34 closed

[2017-07-31 17:24] iSanjayAchar commented on #40
@alexandru-paduraru Guys, this is unbelievable! I've worked with many templates and trust me this is best ever support I have received. Thank you so much.

[2017-08-01 06:59] alexandru-paduraru commented on #40
@iSanjayAchar glad that we could help :D

[2017-08-01 09:42] figueiredorj opened #43 "select with "selectpicker" class not show unless on post action of browser"
Hi,
I am trying to use some dropdowns styled on a component...
what I noticed is that if I navigate to view (angular) select's are not shown...
I do know it is something caused by style of selectpicker but still haven't figured what.. perhaps with your help it can go faster...

my component code:
`
<select data-style="btn btn-rose btn-square" style="display: block" title="Familias" data-size="7">

[2017-08-01 13:45] figueiredorj commented on #43
As far as I understand it must be something related to javascript initialization....

[2017-08-01 15:05] figueiredorj commented on #43
Got it...
As 'selectpicker' is a js native component it has to be dealt with some constrainsts...

First of all... if it is injected on view, you can't expect that "onload" handles initialization of it...
use:

[code]

If you need to update data during window scope then you must subscrive an update event and on it run
[code]
This is related to Angular +2

[2017-08-02 08:08] chelaruc commented on #43
Hi @figueiredorj,

Thank you for using our product! We're sorry for the late response, but we're glad you found the solution!

All the best,
Ciprian

[2017-08-02 08:08] #43 closed

[2017-08-02 11:55] figueiredorj commented on #43
Hi,
althought I wsa able to initialize the control, I am kind of having some trouble on binding values to the control on my view...

Some help please?
How do I use this control on angular noticing that this something initialized from jquery..... :S

[2017-08-02 14:19] figueiredorj commented on #43
ok, Now this was an issue relatred to 'newbie' on angular...

Just declare FormsModule and bind select with [(ngModel)]...

thanks anyway
Cheers

[2017-08-03 01:08] mcurrycl opened #44 "Placing a "selectpicker" on a Wizard Content Page breaks highlighting"
If I place a "selectpicker" on to a Wizard "tab-pane", the tab highlighting in the Wizard header drops to an incorrect, smaller size.

                            <div class="tab-pane" id="account">
                                 <div class="input-group">
                                <div class="row">
                                    <div class="col-sm-5">

[2017-08-03 04:20] mcurrycl opened #45 "How to align controls in a row?"
Sorry, this is more of a support question.
I have a text edit, a datepicker and a checkbox which I need to show on a single row. Currently the vertical alignment of each control is different so that the appear messy on screen. I can't get any of the normal alignment tags to work.

Sorry if this is just my ignorance, how can I vertically align all of these controls so the text appears at the same a

[2017-08-03 13:58] alexandru-paduraru commented on #45
@mcurrycl thank you for using our product. Do you have an example so we can see what is the problem?

Best,
Alex

[2017-08-03 13:59] alexandru-paduraru commented on #44
@mcurrycl please check the comment that we gave here about the Wizard: https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/29#issuecomment-313389496

Hope this will help.

Best,
Alex

[2017-08-03 16:43] alexandru-paduraru commented on #42
@eliesermorais thank you for pointing this out. We are working on it now and we will have an update tomorrow or Monday. Please stay tuned.

Best,
Alex

[2017-08-04 08:45] mcurrycl commented on #45
![image](https://user-images.githubusercontent.com/8777232/28961241-f5563316-7944-11e7-901d-807b659c0af6.png)

In this example, I want to vertically align the checkbox and text "SMS" with the text on the text controls. Thanks!

[2017-08-05 13:32] alexandru-paduraru commented on #45
Add the class `checkbox checkbox-inline` and that should work fine.

Best,
Alex

[2017-08-05 13:32] #45 closed

[2017-08-05 13:33] alexandru-paduraru commented on #43
Did you refreshed the selectpicker after you set the value in TS?

[2017-08-05 21:19] ChrisBurch opened #46 "AOT Builds still failing after upgrading angular-cli"
Hi there,

I'm still getting build failures when using AOT, after upgrading angular-cli by following these steps: https://github.com/angular/angular-cli#updating-angular-cli

I run `ng build --prod`, and I get the error:
[code]

Any idea what I'm doing wrong?

Thanks,
Chris

[code]

[2017-08-06 18:25] ChrisBurch commented on #46
We ended up upgrading to angular4 (and removing the forms/wizard bits from the template), and got AOT builds working

[code]

[2017-08-06 18:25] #46 closed

[2017-08-07 22:49] mcurrycl commented on #45
Thanks Alex,

I tried this but the alignment still doesn't work.

[2017-08-08 07:21] alexandru-paduraru commented on #45
@mcurrycl do you have a link that we can check?

[2017-08-13 14:56] iedwin opened #47 "How to deploy this project in tomcat?"
I have tried several methods such as using "ng build --base-herf" or move the dist forder to tomcat webapps/ROOT/. All failed and 404 always occurred.
Could you please give a guild for deploy to tomcat? Thanks a lot in advance!
<img width="571" alt="screen shot 2017-08-13 at 10 54 06 pm" src="https://user-images.githubusercontent.com/17739715/29250749-9f06ce10-800d-11e7-9003-d1fccba95d81.png">

[2017-08-13 18:25] aVolpe commented on #47
To work with a `context path` I add this to my `index.html` file:

    <script type="text/javascript">
    if (document.location.href.indexOf('/context/') > 0)
        document.write("<base href='/context/' />");
    </script>

In the head part of the html, it's not pretty, but it works.

[2017-08-14 02:21] iedwin commented on #47
@aVolpe
Thanks a lot! But really strange, it doesn't work for me...
I added that code in the head of index.html and ran "ng build --prod". Then I moved the whole dist folder to tomcat webapps folder. The second time I moved the dist folder to webapps/ROOT/. At last I deleted the origin "<base href / >" before I changed the code in index.html. 404 error still occurred..
Could you please share your

[2017-08-14 12:40] aVolpe commented on #47
You can access the assets by URL? I recommend you to build a simple war file to check the correct location of everything

In this  [gist](https://gist.github.com/aVolpe/8c91a43750fcacca426699d8582b84da) I put the base configuration to build a war for this project, you can run `mvn generate-sources package` and mvn will generate a war file that you can use to deploy to your tomca. All the files of

[2017-08-16 09:24] figueiredorj opened #48 "Placing a component DataGrid Devexpress on wizard breaks wizard header"
Hi,
I am using devexpress datagrid for data show...
I have a specific need for having a datagrid inside a wizard page... however when I do that the wizard headers becomes 'weird'... it seems as it is unable to navigate between headers (calculating width to next item).

if other type of content everything is ok....

Any idea?
Thanks

[2017-08-16 09:29] norujlu opened #49 "Chartist plugin is not working"
We are having dificulties with chartist plugins. For example we are trying to show legend on the chart. this.widgetchart.update( this.MultiBarChartData ,{ seriesBarDistance: 10, axisX: {showGrid: false}, height: '400px', plugins: [Chartist.plugins.legend()] } // , this.ResponsiveOptionsMultipleBarsChart ); // update the chart with the new data We got an error: Cannot read property 'legend' of unde

[2017-08-16 09:58] figueiredorj commented on #48
Got it...
Same issue referred on [#29 (comment)](https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/29#issuecomment-313389496)

[2017-08-16 10:25] lmoreira1987 commented on #33
I am facing the same problem @serweck had in 13jul. Is there any solution to do it?

[2017-08-16 10:37] serweck commented on #33
not jet... :(

[2017-08-17 09:59] figueiredorj opened #50 "Wizard: invoke angular service on tab change"
Hi,
Althought I do like pretty much of this theme, I have to say that having jquery plugins onto an angular development is becoming a time reducer for what sould be some simple tasks.

Currently I have an issue related to wizard: I have to update a source of a grid on tab change with option from last wizard page.

That being said... how should I handle this issue? I mean.. how do  I invoke an angu

[2017-08-18 10:26] iSanjayAchar commented on #44
I've been trying to populate options from REST service, but is not working. Do I have to initialize any jquery thing?

[2017-08-18 11:20] iSanjayAchar commented on #29
What if I need to dynamically change the data? I tried using the change function, but it is not working

[2017-08-18 12:06] shreenil opened #51 "sidebar navigation's active class not working while using ngIf"
I'm using `ngIf ` to hide and show the sidebar navigation list.
When i load the web page first time it shows the active link on dashboard as dashboard is my initial component. But issue occurs when i click on any other link. The active class disappears after navigating to another page.

**Code** :
[code]
I have tried to apply `ngIf` on `ul` tag, But the issue remains same.

[2017-08-18 18:23] ogarvey commented on #47
@iedwin Are you moving the dist folder itself, or the contents of the folder?

[2017-08-18 21:38] alexandru-paduraru commented on #33
@lmoreira1987 and @serweck can you please send us a link to your web app so we can check on the live example the issue?

Best,
Alex

[2017-08-18 21:39] alexandru-paduraru commented on #49
@norujlu thank you for using our product. We will have a look on this next week when we will be in the office and come back with a solution.

Best,
Alex

[2017-08-18 21:46] alexandru-paduraru commented on #50
@figueiredorj thank you for using our product. We are in the process of migrating all the jQuery components to Angular Native components. We started the dev of Angular products a couple of months ago and we are learning a lot from the feedback that we get from our customers.

Till we will do an official releas with a Native Wizard you have 2 options:

1. Replace the current wizard with a native on

[2017-08-18 21:48] alexandru-paduraru commented on #29
@iSanjayAchar we just release the v1.4.0 version and that is having a Native Selectpicker, that means you will be able to sync it with your model and data. Please check it and let us know if you have any further feedback.

Best,
Alex

[2017-08-18 22:00] alexandru-paduraru commented on #47
@iedwin this is the first time when we see somebody trying to deploy our product to Tomcat. Unfortunately, we don't have much experience with that, we always used Heroku as the deploy server service. We also included a tutorial in the documentation on how to work with that. In the meantime maybe this answer will help: https://stackoverflow.com/questions/40461171/integrate-angular2-project-into-tom

[2017-08-21 07:42] serweck commented on #33
i'll send you by email : axelut@me.com

[2017-08-21 11:31] figueiredorj commented on #50
@alexandru-paduraru

When I realized that I woulodn't be able to finish my development based on current wizard I ended going with archwizard [()](https://github.com/madoar/ng2-archwizard)

[2017-08-21 19:12] wagnerperin opened #52 "Error to run"
I tried to run the project but received the following error messages:

`ERROR in multi script-loader!./node_modules/jquery/dist/jquery.js script-loader!./node_modules/bootstrap/dist/js/bootstrap.js script-loader!./node_modules/bootstrap-material-design/dist/js/material.min.js script-loader!./src/assets/js/core/material.min.js script-loader!./node_modules/arrive/src/arrive.js script-loader!./node_m

[2017-08-22 08:33] ehdwns980416 opened #53 "Modal Scroll Error"
I opened Modal and I can't scroll it.
The examples are the same.
http://md-pro-angular.creative-tim.com/components/notifications

I think this is scrollbar problem. What should I do?

[2017-08-22 10:27] ishkurko commented on #25
@alexandru-paduraru Material dashboard pro angular 1.4.0 released, but I didn't find any information about fab button speed deal. Have you a time plan for it?

[2017-08-22 11:13] pawmel opened #54 "npm install error (new angualr cli version)"
![obraz](https://user-images.githubusercontent.com/20113449/29562909-9f26598a-873b-11e7-90f4-19b19c4f4099.png)

[2017-08-22 12:28] chelaruc commented on #54
Hi @pawmel,

Thank you for using our product! Did you follow exact steps like in documentation?

Best,
Ciprian

[2017-08-22 12:30] chelaruc commented on #52
Hi @wagnerperin,

Thank you for using our product! Did you follow exact steps like in documentation?

Best,
Ciprian

[2017-08-22 12:55] alexandru-paduraru commented on #50
@figueiredorj thank you for letting us know about it. Can you please give us more details about your case with it? Is it easy to be used and helped you in the process? If you confirm that it is a good plugin, we would be happy to change the current wizard with the one suggested.

Best,
Alex

[2017-08-22 13:14] wagnerperin commented on #52
Yes ... but the problem is that I was using version 8.4.0 of node.js. I downgraded to 6.11.2 and it worked.

Thx,

[2017-08-23 07:11] pawmel commented on #54
I did:
1. install node 6.11.2
2. npm install -g @angular/cli
3. copy project folder and go there
4. change package.json
5. npm install

[2017-08-23 08:37] chelaruc commented on #54
Why you changed package.json?

[2017-08-23 08:38] pawmel commented on #54
from tutorial: "Replace package.json with this code."

[2017-08-23 08:39] chelaruc commented on #54
![screen shot 2017-08-23 at 11 39 20](https://user-images.githubusercontent.com/22840626/29606706-bee408b4-87f7-11e7-984d-dd836e043131.png)

[2017-08-23 09:26] pawmel commented on #54
ok, I copied project folder, ran 3 command and I've got:

[2017-08-23 09:26] pawmel commented on #54
![obraz](https://user-images.githubusercontent.com/20113449/29608924-e63c61b0-87f5-11e7-9bbc-afad595a0d5b.png)

[2017-08-23 09:28] chelaruc commented on #54
Can you send me your package.json?

[2017-08-23 09:32] pawmel commented on #54
https://drive.google.com/file/d/0Byl-nOAJfly3LVRNd2RXWHMwT3M/view?usp=sharing

[2017-08-23 09:45] chelaruc commented on #54
Do you have Material Dashboard Pro Angular or Light Bootstrap Dashboard Free Angular? This repo is for Material Dashboard Pro Angular and it seems you have the package for Light Bootstrap Dashboard Free Angular.

[2017-08-23 11:06] pawmel commented on #54
I bought Web Angular 4.0 Dashboard
and  asked Mrs. if there will be update for Light Blue - Web & Angular 4.0 Dashboard to
CLI version, and if there will be some AoT implemented coz it takes 9 seconds to load.

I got mail from yesterday:

and I'm little cofused now. Does the admin panel I bought got upgraded?

[2017-08-23 11:51] chelaruc commented on #54
We are a little bit confused, too. Can you say us what product do you bought and what email address do you have?

[2017-08-24 08:26] norujlu opened #55 "Project doesn't render in IE"
Hello,

We are using template for dahsboard, but it doesn't render in IE, it works fine in all other browers, what would you suggest to fix this issue?

Thanks

Nigar.

[2017-08-24 08:36] norujlu commented on #49
Dear Alex,

Do you have any update regarding this issue?

Thanks

Nigar.

Nigar Orujlu
Senior Developer

DDI: +44 (0) 1959 560291
Tel: +44 (0) 1959 561717
Fax: +44 (0) 1959 564740

Quipsound Ltd
The Crown Building
London Road
Westerham
Kent
TN16 1UT

Web: www.quipsound.com<http://www.quipsound.com>
From: Alex Paduraru [mailto:notifications@github.com]
Sent: 18 August 2017 22:40
To: creativetimoffi

[2017-08-24 12:16] chelaruc commented on #55
Hi @norujlu!

Thank you for using our product! We fixed it in #38.

Best,
Ciprian

[2017-08-24 12:29] chelaruc commented on #49
Hi Nigar,

We looked in your project and saw that you have `id='#testChart'`, please change it with `testChart`, and in `test-charts.component.ts` you will do as in the picture below:

<img width="1075" alt="screen shot 2017-08-24 at 15 27 23" src="https://user-images.githubusercontent.com/22840626/29666416-de16ff4a-88e0-11e7-8f48-5d5dd8bd8524.png">

 Tell me if it works for you!

Best,
Ciprian

[2017-08-24 12:46] norujlu commented on #49
Hi Ciprian

Could you please ignore test-charts component.

Please refer to to charts.component.ts.

When we add plugins the chart is not working:

var optionsMultipleBarsChart = {
            seriesBarDistance: 10,
            axisX: {
                showGrid: false
            },
            height: '300px'
            ,plugins: [Chartist.plugins.legend()]
        };

 See screenshot below:
![i

[2017-08-24 12:46] norujlu commented on #38
Thanks you the issue has been fixed.

[2017-08-24 12:48] norujlu commented on #53
I got the same problem but only in IE

[2017-08-24 12:54] norujlu commented on #55
Thanks, it works now.

[2017-08-24 12:54] #55 closed

[2017-08-24 13:01] norujlu commented on #53
It works in Chrome and Firefox, follwoing should be added to css

  .modal-body{
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }

[2017-08-24 13:17] norujlu commented on #33
I'm facing the same issue, @serweck  did you find a solution for this issue?

[2017-08-24 13:45] chelaruc commented on #49
Hi Nigar

Add this code after your imports:
[code]

Best,
Ciprian

[2017-08-24 14:17] iedwin commented on #47
@alexandru-paduraru @aVolpe @ogarvey @timshingyu
Thanks all of you! This is absolutely the answer: https://stackoverflow.com/questions/40461171/integrate-angular2-project-into-tomcat-server
My procedures in detail:
1. Change base in index.html to "."
[code]
2. ng build --prod --aot
3. Copy index.html, all the js files and assert/ in "/your-project-path/dist/" to "tomcat-path/webapps/ROOT/"

Then r

[2017-08-25 05:07] ehdwns980416 commented on #53
I tried but I have the same problem.

[2017-08-25 06:26] serweck commented on #33
no, I'm waiting fo @alexandru-paduraru but i didn't recive an answer :(

[2017-08-25 07:29] norujlu commented on #49
Thank you, it works now!

Nigar Orujlu
Senior Developer

DDI: +44 (0) 1959 560291
Tel: +44 (0) 1959 561717
Fax: +44 (0) 1959 564740

Quipsound Ltd
The Crown Building
London Road
Westerham
Kent
TN16 1UT

Web: www.quipsound.com<http://www.quipsound.com>
From: Chelaru Ciprian [mailto:notifications@github.com]
Sent: 24 August 2017 14:45
To: creativetimofficial/material-dashboard-pro-angular <material-

[2017-08-25 07:30] #49 closed

[2017-08-25 09:31] norujlu commented on #49
Hi @chelaruc
Legend  now appears, but there are no colours against each label in the legend.
![image](https://user-images.githubusercontent.com/31059539/29708395-66ee5b48-8980-11e7-9a91-158774ff9300.png)

I have uploaded test project for you to check.
Thanks

Nigar.
[AngularLegendIssue.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1251448/AngularLegendIssue.zip)

[2017-08-25 11:55] serweck commented on #33
I found a solution but i don't like it becouse the table blink:

[code]

https://www.beyondjava.net/blog/how-to-use-a-javascript-datatable-in-an-angular-application/

[2017-08-25 16:10] WaleedZ90 opened #56 "Sidebar Space Bug"
In the Sidebar
ROUTES (Menu Items)
1] Create an object of type sub
2] add any value in title with a space eg. "User Authentication".

Output:
the node doesn't dropdown when you click it

[2017-08-25 19:13] h2i opened #57 "created a new component with route, getting 404 NotFoundHttpException"
i just created a user profile page with the path 'user'  and added the module and path in app.routing.ts file

import { Routes } from '@angular/router';

import { AdminLayoutComponent } from './layouts/admin/admin-layout.component';
import { AuthLayoutComponent } from './layouts/auth/auth-layout.component';

export const AppRoutes: Routes = [
    {
      path: '',
      redirectTo: 'dashboard',

[2017-08-26 00:37] netinhoteixeira opened #58 "Fixing datatables.net trouble on 1.4.1"
Hello,

I had a trouble when tried to build and serve, it was missing the datatables.net and I solved with this command: `npm install datatables.net --save`

I'm sending my diff screenshot too.
<img width="500" alt="screen shot 2017-08-25 at 9 30 11 pm" src="https://user-images.githubusercontent.com/1563399/29737004-850e1b74-89dd-11e7-8f87-42ff37af78b5.png">

Cya

[2017-08-26 00:38] netinhoteixeira commented on #58
I know that needs to put the right version, but I was lost and tried many things. See u later.

[2017-08-26 17:54] alexandru-paduraru commented on #33
@serweck can you please let me know which was your email? I don't think we got anything regarding this.

Maybe you should clear data and add a new set, like how it is presented here: https://datatables.net/forums/discussion/12060/change-the-data-set-in-javascript-and-update-data-table-with-new-values inside your setTimeout function.

Best,
Alex

[2017-08-26 23:54] nrebequi opened #59 "Button has no animation"
Clicking the buttons does not execute the animation.
Inspecting the code I see that it is not including the element
`<div class = "ripple-container"> </ div>`
Inside the button element.

I guess I have a problem setting up my project.
Can you help me?
Thanks!

[2017-08-28 08:03] chelaruc commented on #57
Hi @h2i,

Can you give me your user.module.ts and user.routing.ts ?

[2017-08-28 10:00] serweck commented on #33
@alexandru-paduraru mi email:   amartin @ servicioexterno . portel . es

[2017-08-28 12:04] alexandru-paduraru commented on #51
@shreenil thank you for using our product and sorry for the late response. Can you please let us know what exactly you want to achieve? The active class is added automatically, as you can see in our original product: http://md-pro-angular.creative-tim.com/ so you don't have to add any conditions. What is the case where you want to add `ngIf` so we can see how we can help.

Best,
Alex

[2017-08-28 12:07] alexandru-paduraru commented on #33
@serweck I've seen your email and it seems to work fine. I search something after I press on "Reserach" button it is giving me the whole list. Is this the normal behavior? Or what should happen when you press the blue button?

Best,
Alex

[2017-08-28 12:17] serweck commented on #33
when you push blue button, it calls to service and return more data. it's correct, but the table doesn't update really:
![image](https://user-images.githubusercontent.com/9169130/29772948-5fc9f836-8bfb-11e7-8ec0-b11e6b0a32c0.png)

 show 2 instead of  6

[2017-08-28 12:42] alexandru-paduraru commented on #33
@serweck got it, please send us the ts file where you update the data table and we will try to reproduce the issue on our end. I will add my colleague Ciprian so we can assist us.

[2017-08-28 13:14] alexandru-paduraru commented on #56
@WaleedZ90 thank you for using our product. We will have a look and come back with a solution.

I've added my colleague Ciprian and he will assist you.

Best,
Alex

[2017-08-28 13:16] alexandru-paduraru commented on #58
@netinhoteixeira thank you for the information and the solution!

[2017-08-29 04:52] ehdwns980416 commented on #53
Here it is.
OS: Windows 10 pro
Browser: chrome browser v.60.0.3112.101

[2017-08-29 06:27] serweck commented on #33
I send you to a axelut@me.com with the subjet 'Angular Files - Serweck'

[2017-08-29 06:28] norujlu commented on #49
Hi @alexandru-paduraru , @chelaruc

Do you have any update regading this issue?

Thanks

Nigar.

[2017-08-29 06:48] KarmicJohn commented on #52
I have the same error. I could try to downgrade to 6.11.2 but would prefer not to do so. The instructions, [here](http://md-pro-angular.creative-tim.com/documentation/tutorial), just say to download from the homepage. Is this not compatible with the latest?

[2017-08-29 08:27] alexandru-paduraru commented on #25
@ishkurko we tried to implement it in the current release but we had some compatibility issues with our current BootstrapMaterialDesign and probably we will have to do a big refactoring of the libraries that we use and move 100% to Angular native components. Then everything should work fine. Did you try to integrate it? Any feedback that can help us?

Best,
Alex

[2017-08-29 08:35] alexandru-paduraru commented on #59
@nrebequi thank you for using our product. Please make sure you initialize the `$.material.init();` as we do in `app.component.ts`, line 14.

Hope this helps.

Best,
Alex

[2017-08-29 08:35] #59 closed

[2017-08-29 09:06] chelaruc commented on #49
Hi Nigar,

I've made some changes in your app. I've moved your css code in `assets/sass/material-dashboard/plugins/chartist.scss'` and in `angular.cli.json` I've changed the default `styleExt` from `.css ` to `.scss` and `"styles": ["assets/sass/material-dashboard.scss"],`. Check the below archive.

Best,
Ciprian
[Archive.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/f

[2017-08-29 09:20] chelaruc commented on #56
Hi @WaleedZ90

We fixed that bug. You need to replace the `sidebar.component.html` and `sidebar.component.ts` with the files attached here. Tell us if it worked for you!

[sidebar_bug.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1259742/sidebar_bug.zip)

Best,
Ciprian

[2017-08-29 09:28] norujlu commented on #49
Hi @chelaruc
Thank you, I can see colours agains each label, but unfortunately colours don't match to colours of graph.
![image](https://user-images.githubusercontent.com/31059539/29814268-ac4b454e-8ca4-11e7-9f52-b707f2095601.png)

Do you know How this can be fixed?

Thanks

Nigar.

[2017-08-29 09:50] chelaruc commented on #49
You have to make the css so that each line has its own color.
[code]

Best,
Ciprian

[2017-08-29 10:58] norujlu commented on #49
Thanks @chelaruc , it works now.

[2017-08-29 12:55] h2i commented on #57
hi,
thanks for getting back. This issue is fixed when i added useHash to the router module in the app.module.ts

RouterModule.forRoot(AppRoutes, {useHash: true})

[2017-08-29 12:55] #57 closed

[2017-08-29 13:41] chelaruc commented on #53
@ehdwns980416 @norujlu add the following lines in `src/app/layouts/admin/admin-layout.component.ts` on 35 line:
[code]
Tell me if it workes for you!

Best,
Ciprian

[2017-08-29 13:52] ehdwns980416 commented on #53
Awesome!!!!

[2017-08-29 14:55] norujlu commented on #53
Thanks, worked for me too.

[2017-08-30 05:45] shreenil commented on #51
I'm not trying add active class. My app has two roles 'doctor' and 'patient'. What i want to do is when the logged in user is 'patient' he should not see the some of the links. So if the role is 'patient' than the link having `'/doctor-appointment'` should not be displayed. and if the role is 'doctor' `'/patient-appointment` should not be displayed. The conditions are working good, The links are h

[2017-08-30 08:30] chelaruc commented on #51
Hi, @shreenil! Do you have the latest version of MDP?

Best,
Ciprian

[2017-08-30 08:54] #53 closed

[2017-08-31 08:19] norujlu opened #60 "Issues with dashboard in IE"
Hello

Dashboard with charts are working fine in Chrome, but we got issues when the same dahsboard working in IE. For example when the IE browser is not maximized, and then we maxime it, we got follwoing error ( see screenshot below)

![image](https://user-images.githubusercontent.com/31059539/29913303-b1c68e64-8e2c-11e7-85b6-5ea28753c3d4.png)

Coul you please let me know how this can be fixed?

C

[2017-08-31 08:48] chelaruc commented on #60
Hi Nigar,

I followed your steps, but I don't get any errors. Can you give us more informations?

Best,
Ciprian

[2017-08-31 10:19] norujlu commented on #60
Hi @chelaruc
 Please find attached project.
Open IE, but not maximize it, navigate to charts , then maximaze IE.

[Archive.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1266699/Archive.zip)
Thanks
Nigar.

[2017-08-31 12:06] chelaruc commented on #60
Hi Nigar,

Please get the last version of MDP and try again. Tell me if you still get errors! 😄

Best,
Ciprian

[2017-08-31 13:21] norujlu commented on #60
I installed mdp

npm install mdp

But I still got the same  error..

cc: @chelaruc

[2017-08-31 13:38] norujlu commented on #33
@serweck  is this issue has been fixed? I got the same problem.

[2017-09-01 08:28] norujlu commented on #33
@chelaruc  , @alexandru-paduraru  is this issue has been fixed? If yes, could you please let me know how to fix this.

[2017-09-04 06:22] norujlu commented on #60
@alexandru-paduraru , @chelaruc

Do you have any update regading this issue? Many thanks.

[2017-09-04 06:22] norujlu commented on #33
@chelaruc , @alexandru-paduraru  any update regading this issue? Thanks.

[2017-09-04 06:41] mcurrycl opened #61 "Adding a Route Parameter destroys layout"
I have a page which loads accounts via a route parameter:

`{
            path: 'clientaccount/:id',
            component: AccountViewClientComponent
    }`

If I leave off the /:id parameter, the page loads correctly; but if the parameter is there, the sidebar and the navigation bar are completely messed up. I can achieve the same issue in the dashboard project by adding the parameter to a route

[2017-09-04 07:30] chelaruc commented on #60
@norujlu

Can you give me your archive?

Best,
Ciprian

[2017-09-04 07:43] chelaruc commented on #52
Hi, @KarmicJohn! Thank you for using our product! For fixing this issue, you need to follow this steps:
1. Delete `package-lock.json` from your project
2. Run `npm install`
3. Run `npm rebuild node-sass --force`
4. `ng serve`

Tell me if this worked for you!

Best,
Ciprian

[2017-09-04 07:49] chelaruc commented on #61
Hi, @mcurrycl! Thank you for using our product! Have you tried [this](https://angular.io/guide/router) tutorial?

Best,
Ciprian

[2017-09-04 08:26] norujlu commented on #60
@chelaruc

Yes, Archive.zip attached to the prevoius comment..

Uploading it again. See below.

[Archive(1).zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1274080/Archive.1.zip)

[2017-09-04 10:12] figueiredorj commented on #50
Hi @alexandru-paduraru ,
been out of business for sometime :)

archwizard only thing I see better without looking too much on your suggestion was having icons.. don't know if angular2-wizard does so thought... also the ability to jump steps (as I saught wizard suggestion allows to hide them)

Actually going to give a try on wizard for a fidderent use case where ability to hide seems more intuitive

[2017-09-04 10:52] mcurrycl commented on #61
That is exactly the tutorial I was using:
` { path: 'crisis-center', component: CrisisListComponent },
  { path: 'hero/:id',      component: HeroDetailComponent },`

In these two routes, the first renders correctly, the second breaks the layout of your AdminLayoutComponent if you add it as a route for, say, the FormsComponent.

[2017-09-04 11:53] chelaruc commented on #61
@mcurrycl, can you give me your archive?

[2017-09-04 11:59] mcurrycl commented on #61
Just use the latest Angular Admin Dashboard project.
Change forms.routing.ts to read:
`import { Routes } from '@angular/router';

import { ExtendedFormsComponent } from './extendedforms/extendedforms.component';
import { RegularFormsComponent } from './regularforms/regularforms.component';
import { ValidationFormsComponent } from './validationforms/validationforms.component';
import { WizardCompon

[2017-09-04 12:01] mcurrycl commented on #61
I can't make the "Routes" import above read correctly, but it is unchanged. Just the regular forms route is changed.

[2017-09-04 12:04] chelaruc commented on #61
@mcurrycl In the tutorial, you have `hero.service.ts` which gives you the id for routes. Did you do that?

[2017-09-04 12:12] mcurrycl commented on #61
I can get the value of the id fine. It is just that the layout of the generated HTML looks like this as soon as I add the /:id bit:
![image](https://user-images.githubusercontent.com/8777232/30025943-29bd2718-91be-11e7-8cf4-b77b21f155ff.png)

[2017-09-04 12:13] chelaruc commented on #60
@norujlu
1. I tested it with your archive, but I don't get any errors.
2. Still don't have the latest version of MDP. Update to latest version [MDP](https://www.creative-tim.com/product/material-dashboard-pro-angular2)

Best,
Ciprian

[2017-09-04 12:15] chelaruc commented on #61
What errors did you get in browser console?

[2017-09-04 12:20] mcurrycl commented on #61
This is from IE:
![image](https://user-images.githubusercontent.com/8777232/30026197-2f909af2-91bf-11e7-96b3-a7f097c92662.png)

[2017-09-04 12:55] norujlu commented on #60
Hi @chelaruc
When you say get latest version of MDP, do you mean npm install mdp?
Thanks

Nigar.

[2017-09-04 14:36] gassuncaocosta commented on #15
Hi. I'm having the same issue when data is loaded dynamically.

Checking chrome inspector, I can see that div class "form-group" have this "is-empty" class, when data is filled with [ngModel]:

HTML:
`<div class="form-group label-floating">
<label class="control-label" for="name">Nome:
                                    <span class="star">*</span>
                                </label>

[2017-09-04 16:11] lippomano opened #62 "Incorrect path in sidebar routes"
I am having an issue with routing like described in the forum,If I have a composed path with a '/' It might be escaped. I have this error: Error: Cannot match any routes. URL Segment: 'ticketBlocks%2fmovements'
If I have a path like this in your **sidebar.ts**
{
    path: '/',
    title: werehouse,
    type: 'sub',
    icontype: 'assignment_turned_in',
    children: [
      {path: 'ticketBlocks/mo

[2017-09-04 21:25] gassuncaocosta opened #63 "Date picker issue on last version "1.4.1""
I'm having an issue on datepicker, when trying to access any form page, on "vanilla" project.

- Downloaded new version from my account
- Ran npm install
- Ran ng serve or npm start
- Click on form page (Regular Forms or Extended Forms or Validation Forms)

![image](https://user-images.githubusercontent.com/24612762/30038751-6bf92cdc-919e-11e7-922a-920e33989326.png)

Any suggestion?

[2017-09-05 07:16] lippomano opened #64 "Error in sidebar when go back location"
Hi, In my project when I use location.back() or just click back with browser sometimes I have this error: this.setParentCollapse is not a function at sidebar.component.ts:57

[2017-09-05 07:18] chelaruc commented on #60
@norujlu
No, you need to download the last version from [our site](https://www.creative-tim.com/product/material-dashboard-pro-angular2).

Best,
Ciprian

[2017-09-05 07:45] chelaruc commented on #64
@lippomano Thank you for using our product! Please update this project to the latest version 1.4.1!

Best,
Ciprian

[2017-09-05 09:35] lippomano commented on #64
What is the best practice to update the theme?

[2017-09-05 10:09] norujlu commented on #60
Hi @chelaruc , @alexandru-paduraru
Can you please let me know which files have you updated in the new version of dashboard project, as we are working on the old version and  I need to know which files to replace to fix this issue.

Thanks

[2017-09-05 16:14] halukkaramete opened #65 "Is this kit for angularJS or angular2+?"
I'm sorry for this uneducated question but is this kit for AngularJS or angular 2+?
The version number 1.4.x sounds like, it is for the old angular.

[2017-09-05 18:51] shreenil commented on #51
@chelaruc Yes, it is the latest one(1.4.1)

[2017-09-06 21:14] sveg-pl commented on #63
The mdDatepicker needs no `<button>` tag. Please see in the pull request section, I provided a solution:

Remove the line 9 (<button...) and insert:
`<md-datepicker-toggle mdSuffix [for]="resultPicker"></md-datepicker-toggle>`

Remove the line 23 (<button...) and insert:
`<md-datepicker-toggle mdSuffix [for]="datepickerYear"></md-datepicker-toggle>`

Hope it helps!

[2017-09-07 12:14] alexandru-paduraru commented on #15
@gassuncaocosta can you please add this code on ngAfterViewInit:
[code]
And let us know your status?

Best,
Alex

[2017-09-07 12:16] alexandru-paduraru commented on #62
@lippomano thank you for using our product. We will have a look into this and come back with a solution.

Best,
Alex

[2017-09-07 12:33] alexandru-paduraru commented on #65
@halukkaramete thank you for your interest in our product. It is for Angular 2+ CLI, the v1.4.x is our internal versioning system for our product, it doesn't have anything in common with the versioning system from Angular. Hope this makes sense :D

Best,
Alex

[2017-09-07 12:33] #65 closed

[2017-09-07 12:38] chelaruc commented on #62
Hi, @lippomano! Can you replace `path:'/'` with `path:''` in `sidebar.ts`? Tell me if it worked.

Best,
Ciprian

[2017-09-07 12:41] chelaruc commented on #63
@gassuncaocosta please follow instructions provided by @sveg-pl. @sveg-pl  thank you for helping us to improve this product!

Best,
Ciprian

[2017-09-07 12:43] chelaruc commented on #64
@lippomano, you need to download it again with the latest version.

Best,
Ciprian

[2017-09-07 12:48] chelaruc commented on #60
@norujlu, You need to download full project. We made major modifications on the product.

Best,
Ciprian

[2017-09-07 12:51] chelaruc commented on #51
@shreenil Are you sure the role is returning correct information?

Best,
Ciprian

[2017-09-07 12:56] chelaruc commented on #61
@mcurrycl Can you try replace
[code]
with
[code]
Tell me if it worked for you!

Best,
Ciprian

[2017-09-07 13:14] alexandru-paduraru commented on #60
@norujlu the best option would be for us to share the BitBucket project and you will see in commits the changes for the files. You will see if a specific file that you used was modified and you manually add that changes.

Otherwise, it is almost impossible to tell you which lines to change in files because we made a lot of modifications. Or if you have any suggestions on how we could do this more

[2017-09-07 13:31] norujlu commented on #60
@alexandru-paduraru

Yes, please could you please share the BitBucket project, so I can see which files have been updated.

Many thanks

Nigar.

[2017-09-07 13:42] alexandru-paduraru commented on #60
@norujlu just sent an email to this email n.o*******und.com. Please check it.

Best,
Alex

[2017-09-08 03:48] gassuncaocosta commented on #63
Thanks! Problem solved.

[2017-09-08 03:48] #63 closed

[2017-09-09 12:44] gerhardStone opened #67 "Error mdDatepickerToggle when using Forms Example"
![image](https://user-images.githubusercontent.com/8873412/30240238-b0196496-956c-11e7-83b0-26489cf36d3b.png)

I had to change extendedforms.component.html into

![image](https://user-images.githubusercontent.com/8873412/30240258-fb7bbc04-956c-11e7-9011-f084a043efd5.png)

I bought the dashboard pro angular and downloaded it today. Do i have an old version?

[2017-09-09 13:56] clintmasden commented on #52
I resolved this by running : npm install -g angular-cli / since the project is on 1.4.1 and my local version was 1.3.0.

[2017-09-10 06:32] ao1000 opened #68 "Components are appended to the top of the page"
Specific to Firefox . I've removed child modules and instead i'm routing directly to components. so in app.routing -> AppRoutes -> AdminLayoutComponent -> children: [{ path: "users", component: UsersComponent }] .

For every route that i'm navigating to, the component is being appended to the top of the page while the desired behaviour is that components should be swapped.

[2017-09-10 14:42] teacii opened #69 "Cannot find module magic-string"
Hi,
I just bought this app.
did
[code]
and it says:
Cannot find module 'magic-string'

I would have expected it to work out of the box at least.

Any help?

[2017-09-10 17:01] netinhoteixeira opened #70 "styles.bundle.css not found"
When using a container like Apache HTTPD, it has a problem with routes and relative urls.

On file index.html, exists a code `<base href="/">` but after code `<body class="bootstrap-collapse">`.

To fix this problem, it need to be moved to top of file, after tag `<head>`, so it is solved.

[2017-09-10 17:11] netinhoteixeira opened #71 ".htacess (Apache HTTPD)"
Hello,

To run in a Apache HTTPD container, I solved using this code:
[code]

[2017-09-10 17:33] sveg-pl commented on #67
Can be fixed, see:
https://github.com/creativetimofficial/material-dashboard-pro-angular/pull/66

[2017-09-10 19:15] Cawres opened #72 "I can not integrate the theme I bought with visual studio or studio code"
Hi guys,

<a href="http://md-pro-angular.creative-tim.com/dashboard"> theme </a>

I bought this theme but I can not integrate it into visual studio I need help. I want to work with Controller and View

[2017-09-11 09:54] lippomano opened #73 "Warning when npm install"
When I run npm install on your theme I have this warnings:
[code]

How can I fix all the warnings?

[2017-09-11 10:12] lippomano commented on #62
No, same error

[2017-09-11 14:03] gassuncaocosta commented on #15
It works like a charm! Thank you, @alexandru-paduraru !

[2017-09-11 14:50] chelaruc commented on #62
@lippomano Need to see all your routing files to fix the problem. Can you send me an email with the routing files at `ciprian@creative-tim.com`?

[2017-09-11 14:55] chelaruc commented on #68
@ao1000 thank you for using our products. I'm not sure what you want to do. Can you send me some print screens?

Best,
Ciprian

[2017-09-11 14:58] chelaruc commented on #69
@teacii thank you for using our product. Have you followed the instructions from documentation?
![screen shot 2017-09-11 at 17 57 44](https://user-images.githubusercontent.com/22840626/30281335-c9241a44-971a-11e7-92a4-8ee65d0d1e65.png)

Best,
Ciprian

[2017-09-11 14:59] chelaruc commented on #70
@netinhoteixeira Thank you for using our product and for this information.

Best,
Ciprian

[2017-09-11 14:59] #70 closed

[2017-09-11 15:02] #71 closed

[2017-09-11 15:07] chelaruc commented on #72
@Cawres thank you for using our product. This product is not using MVC structure, but you can try something like in [this](https://channel9.msdn.com/Events/Visual-Studio/Visual-Studio-2017-Launch/WEB-103) tutorial.

Best,
Ciprian

[2017-09-11 20:48] shreenil commented on #51
@chelaruc Yes, In fact my links are hidden also.

[2017-09-11 21:06] gassuncaocosta opened #74 "Validation Forms - Password match issue (v1.4.1)"
Hi. I'm having an issue with password match and, when checking live preview at website, the problem is occuring there too.

![image](https://user-images.githubusercontent.com/24612762/30296618-2b2ebb86-971b-11e7-9171-f6891b0b4ead.png)

Validations are not working correctly.

Any "official" suggestion?

[2017-09-12 12:19] chelaruc commented on #51
@shreenil What version you have? The latest is 1.4.1

[2017-09-12 12:21] chelaruc commented on #74
@gassuncaocosta thank you for using our product. We'll check this and we'll come with a solution.

Best, Ciprian

[2017-09-12 15:01] chelaruc commented on #51
@shreenil Can you give me your files for testing? My email address is `ciprian@creative-tim.com`.

[2017-09-12 22:58] alexandru-paduraru commented on #67
@gerhardStone did you got it working?

[2017-09-13 07:44] gerhardStone commented on #67
it's now working

[2017-09-13 09:49] lippomano opened #75 "loading animation"
Hi I want to use your animation when page is loading.
![schermata 2017-08-23 alle 17 16 45](https://user-images.githubusercontent.com/27501745/30370918-490c190a-9879-11e7-87ee-240e8ab112b4.png)
Where I can find it?

[2017-09-13 12:40] donnytian opened #76 "The left "Moving" tab is not moving"
The "moving tab" in the left sidebar for active menu item actually is not moving during browser navigation. There is no "moving" animation at all.
Not sure if I am the only one have this issue, but I saw some calculations in code and suppose it should work.
In one case actually it will work, it's about navigate to an invalid path. The current view will not be replaced, the tab seems "moving" to th

[2017-09-13 13:02] chelaruc commented on #75
@lippomano You can find the html code in `src/index.html` and sass is in `src/assets/sass/material-dashboard/_misc.scss`.

Best,
Ciprian

[2017-09-13 19:11] ao1000 commented on #68
![3](https://user-images.githubusercontent.com/6130611/30395810-1e7cfce8-98d0-11e7-8c97-a949bce99cfd.png)
![2](https://user-images.githubusercontent.com/6130611/30395811-1e7eea26-98d0-11e7-90db-be86fbb3659b.png)
![1](https://user-images.githubusercontent.com/6130611/30395812-1e804696-98d0-11e7-9b98-672138ef35d0.png)

Here's the routing.. as you can see i'm only using dashboard as a module, the res

[2017-09-14 00:11] donnytian opened #77 "$.material.init() in app.component not working for content pages"
I do have `$.material.init();` in app.component.ts, but still have issue with animations for buttons and input labels in my right content pages. I tried to move the init call into each feature component, then they are ok.

So the initialization in app.component.ts seem not working for content pages. They have to call it again evertime in ngOnInit? Any better solution for this?

[2017-09-14 03:26] donnytian opened #78 "checkbox is not displaying 1.4.1"
I am following sample of checkbox but cannot see it as the first column in the table:
[code]
I've also called init both in AppComponent and in the feature component:
[code]

below is the screenshot:
![snipaste_20170914_112047](https://user-images.githubusercontent.com/5674023/30410647-01bba40a-993f-11e7-879c-fe5a95567485.png)

[2017-09-14 07:05] chelaruc commented on #68
@ao1000 Delete loadChildren: "" and all should work fine.

Best,
Ciprian

[2017-09-14 08:36] chelaruc commented on #78
@donnytian thank you for using our product! What is `row.completed`?

Best,
Ciprian

[2017-09-14 08:42] ao1000 commented on #68
@chelaruc tired that, still having the same problem .. again this is only on Firefox, Chrome is fine

[2017-09-14 08:50] chelaruc commented on #68
Have you imported and declared all components from app.routes.ts in app.module.ts?

[2017-09-14 08:54] ao1000 commented on #68
Yes. otherwise it wont compile. Here's the app.module

[app.module.ts.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1302395/app.module.ts.zip)

[2017-09-14 09:06] chelaruc commented on #68
I tested in our project and went well on Firefox. Can you give me your project to test? You can send me an email at `ciprian@creative-tim.com`.

[2017-09-14 09:21] lippomano opened #79 "problem with tooltips"
My tooltip content (title) is the result of a remote Get call and I see a standard tooptip instead of yours
![cattura](https://user-images.githubusercontent.com/27501745/30421840-53fb4884-993e-11e7-9656-19f8cadb06d5.PNG)
As you see the static part is loaded into your tooltip but it seems when retrieve the remote call part (date in this case) is loading a standard tooltip.

 Is it possible that the

[2017-09-14 09:37] ao1000 commented on #68
It's really hard for me to decouple it from the backend at the moment, I'll try digging more deeply and get back to you

[2017-09-14 10:07] donnytian commented on #78
Hi,
It's a boolean value in the model:
[code]

[2017-09-14 13:52] dushiying opened #80 "How to use datatables.net-buttons-dt"
It's my great pleasure to use this product
but, I find this cli not include datatables.net-buttons-dt
when I use NPM intall datatables.net-buttons-dt and follow datatables.net example
stll doesn't work
plz tell me how to use
thanks！！!

[2017-09-14 18:59] raviready commented on #27
Alex, I see a new version released. How would I know if this feature was implemented or not? Can you provide an example on its usage if it was implemented. Thank you.

[2017-09-15 15:05] alexandru-paduraru commented on #67
@gerhardStone please let the issue open till we do the official release. Thank you!

[2017-09-15 18:04] lippomano opened #81 "Labels bad positioned"
In my fields with input type="number" if I write something wrong like symbols '+' or '-' (or letters in Mozilla Firefox) I correctly see the field invalid but the label is over the text inserted:
![numb](https://user-images.githubusercontent.com/27501745/30496792-d5829a48-9a50-11e7-9cef-0bd657e41fc3.PNG)

And in my forms I see the labels sometimes are not in the correct position, when I submit a n

[2017-09-15 20:32] elvnthaus opened #82 "Material.min.js"
Is the Material.min.js file found in /assets the same as the one found in /nodemodules?

If not, can you provide us with the unminified version of the file? I'm trying to override some code for floating labels.

[2017-09-15 20:53] #82 closed

[2017-09-16 10:06] teacii commented on #69
Hi,

As I said, I follow the exact steps and all I get is a whole bunch of errors.
I recorded it in a video. See here http://snap.ashampoo.com/nRPkGGGy

Thanks for the help.

[2017-09-16 14:08] MJules opened #83 "Missing Input type=file?"
I have don't find <input type="file"/>.
You can add this component?

Thx

[2017-09-16 14:12] #83 closed

[2017-09-16 19:29] bikramchoudhury opened #84 "Adding authenicationGuard to route is not working as expected"
Hi Team,
I have changed the app route configuration to make my login page as a landing page. And I have added authenitcationGuard for the admin layout (ex: dashboard).
Without login, it's redirecting to the login page as expected, but after login, it's not going to admin layout (ex: dashboard).
app.routing.ts
`import { Routes } from '@angular/router';

import { AdminLayoutComponent } from './layou

[2017-09-16 21:41] rbasniak opened #85 "DataTable row selection"
Hi, I bought the theme and it's really wonderful and well done, but I'm having a hard time setting the datatable so I can select an item and emit a selected event when this happens.

None of the tables on the examples are selectable. I tried to find the answer on the original jquery component (datatables.net), but all examples are for valilla js and jquery. Can someone point me to the right direct

[2017-09-18 03:10] donnytian commented on #78
Hi, if I set static html for checkboxes like what in document, it works fine. But my use case is that I have to retrieve data from server and bind rows in component's `onInit`, so each row is dynamic, the `<span>` in the checkbox `div `has not been populated then.
My workaround is adding these spans manually after the `input`:
[code]
This is something tedious for each checkbox, can you please cons

[2017-09-18 13:24] chelaruc commented on #69
@teacii Replace line 38:
[code]
from `angular-cli.json` with
[code]
Tell me if it worked.

Best,
Ciprian

[2017-09-18 13:25] chelaruc commented on #78
We'll check it and come back with an answer.

[2017-09-18 13:36] dushiying commented on #80
Is anyone here？

[2017-09-18 13:42] shanewoodruff commented on #69
I had the same problem and the above fixed it for me.

[2017-09-18 13:52] chelaruc commented on #80
@dushiying thank you for using our product! Have you installed [this](https://www.npmjs.com/package/datatables.net-buttons-dt) and import the `.js` file from node_modules in `angular-cli.json`?

Best,
Ciprian

[2017-09-19 02:23] paramthind commented on #81
Getting same issue. Made a address input template but started getting this:
<img width="409" alt="screen shot 2017-09-18 at 7 21 06 pm" src="https://user-images.githubusercontent.com/6757640/30573086-aa1d5584-9ca6-11e7-8e4d-a8149aff38fc.png">

[2017-09-19 08:21] chelaruc commented on #81
@lippomano @paramthind  please add this code:
[code]
instead of
[code]
inside file `src/app/app.component.ts`

We will do this change in v1.4.2.

Best,
Ciprian

[2017-09-19 08:55] chelaruc commented on #77
@donnytian thank you for using our product. In our project, it works perfectly. Can you give us more details?

Best,
Ciprian

[2017-09-19 10:36] norujlu commented on #60
@alexandru-paduraru , @chelaruc , @timcreative
We got the same issue in latest template as well. Can you please let me know how this can be fixed. Please see below attached file with latest MDP.

[DemoDashboard1_4.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1313898/DemoDashboard1_4.zip)
I noticed, when we comment out legends in chartist charts, IE works, hope i

[2017-09-19 11:22] bikramchoudhury commented on #84
is anyone there?

[2017-09-19 11:49] alexandru-paduraru commented on #84
@bikramchoudhury yes, we are here. We've been looking for a solution but couldn't find it. We never used `authenitcationGuard` so we are still digging into this and we will come back with more details tomorrow.

Keep in touch,
Alex

[2017-09-19 12:23] bikramchoudhury commented on #84
@alexandru-paduraru sure. Please update me, if you get any solution.

Thanks

[2017-09-19 12:51] lippomano commented on #81
I don't this works properly, now I see the field red when I focus it, before entering any value

[2017-09-19 14:25] jariwbh opened #86 "Page scroll position remain while navigating to different page"
Hi,

I don't know if this is intended behaviour but its seems wrong. If you are on page and scroll it to bottom, click any other page and scroll position remain there on open page.

this is happening on demo site also.

How to reproduce on demo site

1. Open http://md-pro-angular.creative-tim.com/tables/extended

2. Click dashboard.. page scroll position keep as it is.

How to keep page position o

[2017-09-19 18:05] paramthind commented on #81
Same for me too.

[2017-09-19 18:13] gassuncaocosta commented on #84
Hi, @bikramchoudhury!

I have implemented an AuthGuard and it's working fine. You must make a few changes to get it done.

I keept the App pointing to dashboard by default, instead login page.
First, the structure of my _**app.routing.ts**_ is almost the same as the original, just including the canActivate property:

[code]

Then, my _**auth-guard.service.ts**_ will redirect to original login page

[2017-09-20 09:08] bikramchoudhury commented on #84
Thanks,
It works for me.

[2017-09-20 13:27] chelaruc commented on #86
@jariwbh thank you for using our product! To keep page position on top you need to add this code in your layout component:
[code]
For our project, you need add only:
[code]
  on line 29 in `src/app/layouts/admin/admin.component.ts`.
Tell me if it worked for you.

Best,
Ciprian

[2017-09-20 13:35] chelaruc commented on #85
@rbasniak thank you for using our product! You can add a new function in `src/app/tables/datatable.net/datatable.component.ts` like that one:
[code]
and work with const `data`.
Tell me if it helped you.

Best,
Ciprian

[2017-09-20 13:42] chelaruc commented on #79
Hi, @lippomano! Have you added `rel="tooltip" title="Tooltip name"` on your tag?

[2017-09-20 14:45] jariwbh commented on #86
You mean this location ?

src/app/theme/layouts/admin/admin-layout.component.ts

I made this change, did not work though.

[2017-09-20 14:49] chelaruc commented on #86
I test it and it worked on our project. You sure you did the good changes? Can you give me your project or some images so I can help you?

Best,
Ciprian

[2017-09-20 14:51] jariwbh commented on #86
git repo = https://github.com/jariwbh/timesvacanza

userid - admin
pwd - 12345

[2017-09-20 20:45] alexandru-paduraru commented on #33
@serweck did you try to reload the table after you complete it with getNotices()? Like how it is presented here: https://datatables.net/forums/discussion/38969/reload-refresh-table-after-event

[2017-09-21 06:41] norujlu commented on #60
@alexandru-paduraru , @chelaruc  do you have any update regading this issue?

[2017-09-21 07:17] chelaruc commented on #60
@norujlu I can't run `npm install` for this archive. It gives me this error:
<img width="717" alt="screen shot 2017-09-21 at 10 15 42" src="https://user-images.githubusercontent.com/22840626/30683365-dd097700-9eb5-11e7-8a7b-c798965fa805.png">
Can you give me a good one?

[2017-09-22 02:00] jac0117 commented on #15
Thanks... this works great.

[2017-09-22 02:22] jac0117 commented on #75
I have a custom httpClient that appends authorization header and intercepts 403, 404, 500 errors. I then redirect to error pages, example: https://dulobp1071cgr.cloudfront.net/error/not-found

I would be nice to add the indicator with light overlay while an http request is happening, and then hiding it when a response is received.

[2017-09-22 02:28] jac0117 opened #88 "Make navbar appear when scrolling up in mobile view (feature request)"
When in mobile view, if I scroll all the way down to the bottom of a page, and then I want to switch to another tab, I need to click the hamburger menu to open the sidebar; however, the navbar is all the way at the top (not in the viewport), so I have to scroll all the way up in order to be able to click it.

If you look at mobile apps, and other mobile sites, as soon as the user scrolls up, the m

[2017-09-22 04:48] jac0117 opened #89 "Sidebar menu flashes in actual mobile device if sidebar does not have background image"
I removed the background image from the sidebar. Now whenever I expand a menu item with submenu item inside, the text in all menu items flashes three times. It only happens in a real mobile device. You don't have to fix this, I just want to know if you might know what is causing it. You can reproduce here:
http://dulobp1071cgr.cloudfront.net/

just signup with a bogus email, it'll create an accoun

[2017-09-22 05:37] jariwbh commented on #86
Did you able to pull code ?

[2017-09-22 05:43] bikramchoudhury opened #90 "moving tab issue with sidebar"
Hi, Team
on click of sidebar navigation, moving tab is working properly. But if you will try to navigate from one component to another component with code, then moving tab is not working. And if you 'll reload the browser, then moving tab appearing at its appropriate position.

if you are at custom.component.ts
[code]
can you please help me to find out the issue?

[2017-09-22 08:38] chelaruc commented on #86
I can't login with this userid and pwd. :(

[2017-09-22 12:46] serweck commented on #33
yes, but it isn't work.

I sended to Ciprian two file to replace your project and test it but i didn't get answer

[2017-09-22 14:13] jariwbh commented on #86
its public repo. use this user id while running and login to app.

[2017-09-24 15:11] alexandru-paduraru commented on #76
@donnytian thank you for pointing that out. It was moving in the v1.2.0 and while removed the jQuery code, in our process of removing jQuery at all, we've got some issues and we decided to block that element till we have a stable code version with Angular Native properties. We are still investigating that and hopefully, we will add it back in the next v1.4.3 release :D

Hope this information helps

[2017-09-24 15:17] alexandru-paduraru commented on #27
@raviready that was implemented. Please replace the `#minimizeSidebar` with `#hideSidebar` for the button in the navbar:

<img width="943" alt="screen shot 2017-09-24 at 18 16 45" src="https://user-images.githubusercontent.com/2517758/30783952-a8df6f6a-a154-11e7-9487-a8c8c399a254.png">

Hope this helps. We will do this update in the documentation too.

Best,
Alex

[2017-09-25 06:33] abhisanand commented on #29
hey, how do i update the package

[2017-09-25 14:22] lippomano commented on #79
yes of course but inside the title I have a variable that is populated with the resultof a remote Get call, so maybe the tooltip is already initialized when the variable is populated

[2017-09-25 19:03] gassuncaocosta opened #91 "Login page mobile layout issue - version 1.4.1"
Hi.

When accessing "http://md-pro-angular2.creative-tim.com/pages/login" on mobile, login page is not filling browser on 100%. The same is happening when simulating mobile at Chrome Inspector.

- iPhone 7 with Safari:

![image](https://user-images.githubusercontent.com/24612762/30825790-a948f1d6-a20a-11e7-9799-4ce6fdf9a414.png)

- Chrome Inspector:

![image](https://user-images.githubusercontent.

[2017-09-25 21:09] MattHoneycutt opened #92 "Button ripple effect missing in 1.4.2?"
It looks like the button ripple effect isn't working in 1.4.2.  I don't see it in the demos or the documentation.  Is there some extra step that is necessary in order to enable it now?

[2017-09-26 06:53] chelaruc commented on #79
Can you activate tooltips AfterViewInit? Like:
[code]

Best,
Ciprian

[2017-09-26 08:06] alexandru-paduraru commented on #88
@jac0117 thank you for using our product. I will talk with my team about this feature and see if we can implement it in a next release. In the meantime, I recommend you this tutorial to see how is the logic behind it: https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c

Best,
Alex

[2017-09-26 08:16] alexandru-paduraru commented on #89
@jac0117 thank you for the feedback. First of all, the first screen meme is awesome :-)) made my day. Second, I've tested and couldn't reproduce the sub-menus, do you have a test account?

![image-1](https://user-images.githubusercontent.com/2517758/30849760-1a83ead0-a2ac-11e7-8ecd-d635692163eb.jpg)

Best,
Alex

[2017-09-26 08:21] alexandru-paduraru commented on #90
@bikramchoudhury thank you for using our product. Can you please let us know which version you have? We removed the Moving Tab in the v1.4.x because it was causing a lot of issues with jQuery. We are looking to migrate it to Native Angular code.

Best,
Alex

[2017-09-26 08:26] alexandru-paduraru commented on #29
@abhisanand we can give you access to our private repo to see exactly which files we changed and you choose only the changes for the plugins that are used inside your project. If you have better ideas on how we can do this please let us know. Best, Alex!

[2017-09-26 09:08] chelaruc commented on #92
@MattHoneycutt thank you for using our product!To fix that, you need to add this line:
[code]
in `angular-cli.json` file, in scripts and restart the project.
Tell me if it worked for you.

Best,
Ciprian

[2017-09-26 09:23] lippomano commented on #79
yes, like in the theme
If you try to populate the title property with a remote get call you see the standard tooltip...

[2017-09-26 12:27] dragosct10 commented on #91
Hi @gassuncaocosta! For fixing this issue I will upload for you the scss partial `_responsive.scss` and what you have to do is to go in your project and replace this in `src/assets/sass/material-dashboard/_responsive.scss`. After you do that everything will work fine for you!

[_responsive.scss.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1333084/_responsive.scs

[2017-09-26 12:54] chelaruc commented on #81
Sorry for the late response. Can you give me an example? We tested it and it worked. Please check this video: https://vimeo.com/235537653.

[2017-09-26 13:16] MattHoneycutt commented on #92
That got it, thanks!!

Is there a performance reason (or something) that this was removed from the project template and demos?

[2017-09-26 13:38] jac0117 commented on #89
@alexandru-paduraru Thanks for the prompt reply. I had removed the submenu in order to avoid the flashing issue. I've added it back again. You can log in again to see the issue.

Thank you.

[2017-09-26 14:13] gassuncaocosta commented on #91
Hi, @dragosct10!

It works. But I'm having another issue:

This code in "assets/css/material-dashboard.css" is overriding the fix:

[code]

The material-dashboard.css should be rewritten in "npm start", right?
Can you help me on this?

[2017-09-26 14:35] mcurrycl opened #93 "Nested component is hidden due to css"
I have a number of nested components that make up a larger page. I noticed that when I get to a certain level, one component is not rendered. Tracing through the generated DOM and css, I found that there is a CSS class for:
[code]

Is this piece of CSS there for a purpose? How can I get my hidden component to be visible?

[2017-09-26 14:46] dragosct10 commented on #91
Hi @gassuncaocosta! Please go in `src/index.html` on the line `16` and delete the `<link href="../assets/css/material-dashboard.css" rel="stylesheet" />` because the scss is auto-compiling in `angular-cli.json`.

Regards,
Dragos.

[2017-09-26 14:55] gassuncaocosta commented on #91
@dragosct10 it's done!

Thanks for help!

[2017-09-26 14:55] #91 closed

[2017-09-26 18:41] raviready commented on #27
Thanks Alex and Creative Tim team. This seems to work as expected but it also seems to have introduced a bug. Wanted to bring that to your attention. After changing #minimizeSidebar to #hideSidebar, when you reduce the window size then the Sidebar shows up permanently in the middle of the window. Clicking the button docks the Sidebar to the right but clicking the button ('X') again shows the Sideb

[2017-09-27 07:21] chelaruc commented on #92
No, it is not :)

[2017-09-27 07:21] #92 closed

[2017-09-27 07:28] chelaruc commented on #93
You don't need these lines of css. You can delete them. Tell me if you need something else 😄

Best,
Ciprian

[2017-09-27 07:34] chelaruc commented on #86
Hi @jariwbh. Sorry for the late response. I can't log in with username: admin and pwd: 12345.
![screen shot 2017-09-27 at 10 30 46](https://user-images.githubusercontent.com/22840626/30901144-504b9604-a36f-11e7-9953-7f0de859db73.png)
![screen shot 2017-09-27 at 10 30 42](https://user-images.githubusercontent.com/22840626/30901143-5047c164-a36f-11e7-8984-7bda63a6d2fe.png)

Can you tell me what to d

[2017-09-27 07:34] #85 closed

[2017-09-27 07:35] #80 closed

[2017-09-27 07:36] chelaruc commented on #79
@lippomano Can you give me an example to test it?

[2017-09-27 08:42] lippomano commented on #62
Do you have some news about it?

[2017-09-27 10:12] alexandru-paduraru commented on #89
@jac0117 yes, I can see it now. I will have a look with my colleague @dragosct10 and we will see what can cause that and come back with a solution.

[2017-09-27 10:20] chelaruc commented on #78
@donnytian Sorry for the late response! I tested that and it worked for me. Can you give me more details like your data from server? Or give me your project for testing.

[2017-09-27 10:48] bikramchoudhury commented on #90
@alexandru-paduraru  Actually I am not aware of the version, but I am sure the version will be less than 1.4. So can you please tell me how I could fix it.

Thanks
Bikram

[2017-09-27 10:56] rbasniak commented on #85
@chelaruc Very strange i wasn't notified of the answer, but was notified of you closing the issue, so I didn't see it, sorry.

But this solves the problem. Thank you...

[2017-09-28 07:44] chelaruc commented on #62
@lippomano Sorry for the late response! Have you tried to include the ticketBlocks/movements like a child of ticketBlocks with path /movements?

[2017-09-28 09:09] alexandru-paduraru commented on #90
@bikramchoudhury since each version is different and have structure changes, we need to know exactly the version so we know what to check in order to identify the bug. You can find the version in scss/material-dashboard.scss or you can send us a link to your webapp and we will find it.

In the meantime, if you have the file `assets/js/sidebar-moving-tab.js` you will see 2 functions:

[code]

Those

[2017-09-28 13:17] dragosct10 commented on #89
Hi, @jac0117! We checked on our product and the collapse is working fine for us. I will give you a
link with video to see what happened on our product.

https://vimeo.com/235908248

Please, can you tell us if you added some classes or some properties or any modification that you made on the elements from the sidebar?

Regards,
Dragos

[2017-09-29 09:35] chelaruc opened #94 "Modifications for title with more than one word"
Hi,

If you want to have more than one word in sidebar collapse menu titles, then you need to replace `src/app/sidebar/sidebar.component.html` and `src/app/sidebar/sidebar.component.ts` with the uploaded files from here:
[sidebar_modifications.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1343814/sidebar_modifications.zip)

We added a new variable `ID` and now in

[2017-09-29 12:23] lippomano commented on #79
I see also in a page where I have to load the data from a Get call, I usually put all the html content inside a:
`<div class="card" *ngIf="selected">` So when selected is populated it show all the content, and if the tooltip is inside this ngIf I see the standard tooltip instead of yours.

So probably the problem is when to initialize the tooltip.

[2017-09-29 15:31] MSkraburski opened #95 "Material dashboard css or bootstrap stopped working properly"
Hi, I am using your Dashboard for a while and faced new issue concerning Design features.

The main issue is that underlining the activated input stopped working properly. When I click on it nothing happens even though it should be underlined in a default 'primary' color.

Secondly, it is all located in a wizard form and all the inputs are set as 'required'. Suddenly when none of the inputs are fi

[2017-09-29 15:33] chelaruc commented on #95
@MSkraburski Thank you for using our product! Can you tell me your version?

Best,
Ciprian

[2017-09-29 15:33] #94 closed

[2017-09-29 15:56] MSkraburski commented on #95
If you ask for a MD version it is: Material Dashboard Pro Angular 2

[2017-09-29 16:55] MSkraburski commented on #95
Apart from that features like: help-block, radio buttons, etc. stopped working completely...

[2017-09-29 20:20] ao1000 commented on #68
Looks the problem was from my side. I was implementing ngOnDestroy{} wrong, it's fine now. Thanks

[2017-09-29 20:20] #68 closed

[2017-09-30 06:35] jariwbh commented on #86
please try again.

could you update release with this fix ? We can get latest and update our code.

[2017-09-30 12:00] iSanjayAchar commented on #29
@alexandru-paduraru It will be better if you could share the repo's with us instead of ZIP file.

[2017-10-02 08:04] alexandru-paduraru commented on #67
Fixed in v1.4.2

[2017-10-02 08:04] #67 closed

[2017-10-03 01:41] touqeerm opened #96 "Fixed Top Menu and different side menu for each Top menu item choosen"
Hi Creative Team,
I'm using material dashboard pro and have created a fixed top menu. I need a separate side menu for each Top menu item choosen. Ex: The Top Menu has Operations, Revenue,etc.. When I choose Operations I need a different Sidebar with components listed sample as in the dashboard. I have seen that we specify the list and the items are loaded from the list for sidebar. How can we acco

[2017-10-03 09:03] alexandru-paduraru commented on #96
@touqeerm we just responded to the first request here: https://github.com/creativetimofficial/material-dashboard-pro/issues/74. Please let's keep the conversations in only 1 place so we don't miss anything.

Best,
Alex

[2017-10-03 09:03] #96 closed

[2017-10-03 10:06] lippomano opened #97 "How to separate the elements in the theme"
Hi is there in the theme something like `<br>` to separate the elements?
Or tell me how to do this in the theme

[2017-10-05 13:47] mehdi550u opened #98 "Problem when I add two components in one comportment"
Hi, I have a problem when I add two components in one comportment. Some times just it shows one of them.
same as this:
[code]
 Some times just shows app-com1, some times shows app-com2, and if I refresh my page using browser refresh button, it shows both

[2017-10-05 14:56] chelaruc commented on #95
Hi @MSkraburski

Sorry for the late response. We tried multiple times to reproduce the errors but without success. Here is a video with our product: https://vimeo.com/236934284. For the version, we are looking for what you have in package.json.

Best,
Ciprian

[2017-10-05 15:09] alexandru-paduraru commented on #97
@lippomano we recommend you this utility library which will give some usual margins,paddings etc: http://basscss.com/

Hope this helps.

Best,
Alex

[2017-10-05 15:09] #97 closed

[2017-10-05 15:35] chelaruc commented on #86
Hi, @jariwbh! Sorry for the late response. We update the product today and this issue was resolved. Check it out!

Best,
Ciprian.

[2017-10-05 15:35] #86 closed

[2017-10-05 15:36] #52 closed

[2017-10-05 15:37] #54 closed

[2017-10-05 15:42] #58 closed

[2017-10-05 15:43] #61 closed

[2017-10-05 15:45] #8 closed

[2017-10-05 15:45] #9 closed

[2017-10-05 15:46] #14 closed

[2017-10-05 15:50] #23 closed

[2017-10-05 15:54] #36 closed

[2017-10-05 15:54] #37 closed

[2017-10-05 15:55] #38 closed

[2017-10-05 15:56] #42 closed

[2017-10-05 15:57] #47 closed

[2017-10-05 15:58] #48 closed

[2017-10-05 15:58] chelaruc commented on #93
Fixed in v1.4.3

[2017-10-05 15:58] #93 closed

[2017-10-05 16:07] #69 closed

[2017-10-05 16:40] leeniu opened #99 "Doubled Scrollbar"
Hey peepz,

on routes that have a bit of content and are therefore scrollable, it happens that I get the standard windows scrollbar and the "perfect" scrollbar next to each other :)

![scrollbar-bug-2](https://user-images.githubusercontent.com/15927396/31239142-66a5cae4-a9fc-11e7-8de5-e8dcb22beb03.png)

![scrollbar-bug](https://user-images.githubusercontent.com/15927396/31239148-6ab8ea9e-a9fc-11e7

[2017-10-05 16:46] leeniu opened #100 "All required fields get highlighted red when clicking into one"
Hey again,

as I mentioned in the comments of your product page, here is the issue again. I have a form with the following code:

[code]

[2017-10-06 06:51] jariwbh commented on #86
Thank you, it fixed.

[2017-10-06 08:36] MSkraburski commented on #95
I found you face the same problem at your tutorial website. You'll find it
there: http://demos.creative-tim.com/material-dashboard/
documentation/tutorial-components.html . Check the input section and you
will get what I'm talking about. When I click the input it is not being
underlined in any color and furthermore the floating label does not work at
all.

Best regards,
Mikołaj

2017-10-05 16:56 G

[2017-10-06 08:42] MSkraburski commented on #95
And that is mine package.json that you asked for.

2017-10-06 10:36 GMT+02:00 Mikołaj Skraburski <skrabur96@gmail.com>:

[2017-10-07 15:04] WaleedZ90 opened #101 "Navbar and Bootstrap Issues with routed parameters"
This issue is composed of two points:
- Navbar
- bootstrap.min.css and all the css files imported in the index.html

Scenario"

- Create a page example PersonList and create another page PersonDetails

- Make a router for these two components

First router to be accessed by this path "/persons"
Second router to be accessed by this path "/persons/:id"

- In PersonList page make a link that redirect

[2017-10-08 09:39] leeniu opened #102 "Scrolling beyond content"
Hey guys, another scrollling-related thing:

You can scroll beyond the height of your content and I believe that shouldn't be the case. Here is a screenshot from your very own demo at http://md-pro-angular.creative-tim.com/dashboard

![scrollbeyondcontent](https://user-images.githubusercontent.com/15927396/31315675-5518d0c8-ac1d-11e7-957b-9816ce93eda7.PNG)

I have that exact same issue in my app a

[2017-10-08 10:08] leeniu opened #103 "Scrollable divs are not scrolling (perfect-scrollbar issue)"
Sry, me again.

I have a scrollable div in one of my components (see screenshot). When my mouse is within that div and I try to scroll, nothing happens.

![scrollabledivsnotscrolling](https://user-images.githubusercontent.com/15927396/31315866-6e0a3a28-ac21-11e7-996e-5c4e7dc048c7.PNG)

I am certain that this has to do with the perfect scrollbar plugin. Some weeks earlier I tried to remove that plu

[2017-10-09 08:25] chelaruc commented on #101
Hi @WaleedZ90! Thank you for using our product! Can you tell me what version of browser and project do you have?

Best,
Ciprian!

[2017-10-09 10:12] chelaruc commented on #102
@leeniu We made an update today and that was fixed. Can you test it?

Best,
Ciprian

[2017-10-09 10:12] chelaruc commented on #103
@leeniu fixed in #102

[2017-10-09 10:13] chelaruc commented on #99
fixed in v1.4.4

[2017-10-09 10:13] #99 closed

[2017-10-09 10:13] #103 closed

[2017-10-09 11:49] leeniu commented on #102
Hope this is not a dumb question but is there a convenient way to update? I guess npm update won't do the trick, right? I am a developer customer

[2017-10-10 07:25] chelaruc commented on #102
You need to download again the archive or we can give you access to the repository and you can see the updates.
Best,
Ciprian

[2017-10-10 11:58] jariwbh opened #104 "Datepicker model value do not set in dynamic assignment"
Hi,

We have used dynamic fields in our forms. some of the fields are datetime and we load Datepicker dynamically runtime. In this case, model value does not display on the datepicker component.

Value in static datepicker is working fine.

![image](https://user-images.githubusercontent.com/1841956/31385317-79e2f194-ade0-11e7-96aa-34834b0c60d0.png)

[2017-10-10 14:19] leeniu commented on #102
Yeah, I'd love to have access to the repo. Right now I am integrating the current project status into the update. I'll let you know how this works out but it looks good at first glance!

Thanks for taking the time.

[2017-10-10 14:22] leeniu opened #105 "Sidemenu in documentation not clickable"
I found that totally by chance but have a look at the documentation:
http://md-pro-angular.creative-tim.com/documentation

You can't click the items in the sidebar.

Cheers :)

[2017-10-10 14:29] eliesermorais opened #106 "Login page render wrong mobile"
The login page os rendering wrong, there is a saúde blank LINE on right, and the box is practicaly full screen. See It on gol.decisao.net on a mobile Chrome, for example.

[2017-10-11 08:26] chelaruc commented on #105
@leeniu  thanks for the information. We'll check and fix it.

[2017-10-11 09:13] chelaruc commented on #106
@eliesermorais thank you for using our product! To fix that, you need to go in `src/assets/sass/material-dashboard/_responsive.scss` file, on line 307 and delete these lines:
<img width="563" alt="screen shot 2017-10-11 at 12 10 52" src="https://user-images.githubusercontent.com/22840626/31431761-491ad0a2-ae7d-11e7-9609-a355fc703450.png">

Best,
Ciprian

[2017-10-11 09:30] chelaruc commented on #104
@jariwbh see this plunker and tell me if it helped you: https://plnkr.co/edit/ucGODHnqlaRi7IgoJNmt?p=preview

Best,
Ciprian

[2017-10-11 09:42] chelaruc commented on #102
@leeniu Can you give me your email address to send you the files with the changes?

[2017-10-11 13:48] jariwbh commented on #104
We are populating form control at run time. and assigning values like below attachment

![datepicker](https://user-images.githubusercontent.com/1841956/31444162-0525b5b0-aeb9-11e7-9c26-1c5a5289f0ea.png)

[2017-10-11 13:49] jariwbh commented on #104
element.value = this._bindIdData['property'][key];

this binding data from db that's not working

[2017-10-11 18:30] alexandru-paduraru commented on #98
@mehdi550u thank you for using our product. Can you please let us know exactly what code you have and what triggers the show/hide of the components? My colleague @chelaruc will have a look after you give us all the details.

Best,
Alex

[2017-10-11 18:42] WaleedZ90 commented on #101
Browser : Google Chrome latest version Version 61.0.3163.100 (Official Build) (64-bit)
Project : v1.4.1

[2017-10-12 08:24] chelaruc commented on #101
@WaleedZ90 Can you add these lines in `angular-cli.json`:
[code]
and delete this ones from `index.html`:
<img width="829" alt="screen shot 2017-10-12 at 11 23 04" src="https://user-images.githubusercontent.com/22840626/31486311-bd9c74c2-af3f-11e7-808c-5a6ec94c14d4.png">
Tell me if it worked!

Best,
Ciprian

[2017-10-12 08:45] drenda opened #107 "matTextareaAutosize and matAutosizeMinRows don't work in textarea"
I've a problem with TextArea. I'm using this code

`<mat-form-field> <textarea matInput placeholder="{{ 'note.labels.note' | translate }}" [(ngModel)]="notes" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows = "5" name="notes" #note></textarea> </mat-form-field> `

where I'm using `matAutosizeMinRows` & `matAutosizeMaxRows` properties (https://material.angular.io/components/input/api)

[2017-10-12 09:15] chelaruc commented on #107
@drenda Can you give me the plunker?

[2017-10-12 12:30] drenda commented on #107
Sure, here it is: https://stackblitz.com/edit/ng-mat-beta-11-hcvaxg

[2017-10-12 12:37] chelaruc commented on #107
@drenda I have tested with this code:
[code]
and it worked for me. What problem do you have?

Best,
Ciprian

[2017-10-12 12:48] drenda commented on #107
You are right, your code work fine in first level views. It doesn't work if it is inside module imported in the main view. Do you know if is there something to keep in mind to make it work? Thanks

[2017-10-13 08:00] chelaruc commented on #107
@drenda Can you give an archive to test it?

[2017-10-13 09:17] WaleedZ90 commented on #101
Thank you very much it worked!

[2017-10-13 09:17] #101 closed

[2017-10-13 09:18] #106 closed

[2017-10-13 11:04] alexandru-paduraru commented on #95
@MSkraburski here is the second test https://vimeo.com/238049924 . We also sent that on email. Are you available for a Skype call where you can give us access to your website so we can check?

Best,
Alex

[2017-10-13 18:21] MattHoneycutt opened #108 "Tutorial links not working"
None of the links in the documentation/tutorial (http://md-pro-angular.creative-tim.com/documentation/tutorial) are working for me.  I tried in Chrome and Edge.

I can type the URL that one of the links points to though, and arrive at the target page just fine.

[2017-10-13 18:23] MattHoneycutt opened #109 "Notification icons not working"
The bootstrap-notify plugin does not show icons correctly.  You can view the demo/documentation here:

http://md-pro-angular.creative-tim.com/documentation/notifications

The example JS code shows this:

[code]

But the icon is not actually visible.  Any suggestions?

[2017-10-13 18:36] MattHoneycutt commented on #108
Doh, I even searched, but somehow I missed an existing issue.  This is a duplicate of #105.  Sorry!

[2017-10-13 18:36] #108 closed

[2017-10-13 19:21] fbecaria opened #110 "Datepicker not shown in small viewports"
Hi,

I have an issue when trying to select a date with the Datepicker in small viewports. If the datepicker has no space, is not shown (see screenshot attached).

I'm using md-pro-angular version 1.2.1.

Thanks,
![datepicker_issue](https://user-images.githubusercontent.com/7152832/31562576-64cbf716-b032-11e7-90cd-217dd0f335cf.png)

[2017-10-13 22:26] elvnthaus opened #111 "Wizard on Mobile Not Displaying Tabs Correctly"
When using the twitter bootstrap wizard, the tabs aren't resizing correctly on mobile.

[visual example](https://imgur.com/a/v3aOj)

[2017-10-14 09:38] leeniu commented on #102
I've checked it. This issue is resolved as far as I am concerned

[2017-10-14 09:40] leeniu commented on #99
Sry mate, but this issue actually is not resolved with the update. I am still facing the same problem. Would you mind reopening the ticket?

[2017-10-14 14:59] leeniu opened #112 "NavBar route name does not match sub-routes"
Hey again,

when I have a link in the sidebar, that has sub-pages, e.g.

app/matches
app/matches/:id

the sub-page get's a default "Dashboard" title in the Navbar.

![fits](https://user-images.githubusercontent.com/15927396/31576719-fde6a54e-b100-11e7-8c7c-b5045e1c8550.PNG)

![fitsnot](https://user-images.githubusercontent.com/15927396/31576721-00253384-b101-11e7-89de-cd9530af3fe9.PNG)

Cheers

[2017-10-15 09:46] drenda commented on #107
[Here](https://drive.google.com/open?id=0B_she6Q8vsHrQTlpaWF6aDgtZW8) you can find an example of the problem. I found the problem is when the textarea is inside a tab. Check the example. Thanks

[2017-10-15 11:37] elvisgn commented on #112
Having the same problem. If I hardcode a path with the static value of the ':id', then things work, which means that sidebar does not understand dynamic paths.

I'm trying to use auxiliary paths, but that seems very complicated.

[2017-10-15 11:44] elvisgn opened #113 "time picker"
Understand that angular material does not have a timepicker, but there are a few github projects that do identical in design.

I tried using them but the alignment and UX feel is not similar to the datepicker.

Would appreciate if the team could add support for this.

[2017-10-16 08:15] chelaruc commented on #112
Hi, guys! You can try something like this:
[code]
and get the last element from `title`.

Best,
Ciprian

[2017-10-16 08:17] chelaruc commented on #99
Can you tell me the browser and version?

[2017-10-16 09:13] bikramchoudhury commented on #29
@alexandru-paduraru  I am trying to select the options based on the model data. But it's not working.

[2017-10-16 11:03] leeniu commented on #99
Of course, it is Chrome 61 on Windows 10

[2017-10-16 12:26] chelaruc commented on #110
Hi @fbecaria! Thank you for using our product. We are using material datepicker now because that one is with jQuery. You can update to latest version of the product.

Best,
Ciprian

[2017-10-16 12:28] chelaruc commented on #113
Hi @elvisgn! Thank you for using our product! Can you give us more details and maybe an archive with your project?

Best,
Ciprian

[2017-10-16 12:39] fbecaria commented on #110
Hi! How do I do that? The current version was purchased by a business
partner and he didn't receive any notification about an upgrade.

Thanks,
Federico

On Mon, Oct 16, 2017 at 9:26 AM, Chelaru Ciprian <notifications@github.com>
wrote:

[2017-10-16 15:46] alexandru-paduraru commented on #111
@elvnthaus thank you for the information. We will have a look and come back with a solution.

Best,
Alex

[2017-10-16 18:26] elvisgn commented on #112
I don't know about leeniu, but my problem is not to find the title. I want to be able to open the sidebar's -> menuitem -> child on the selection of a dynamic route.

For example, if the user selects app -> courses -> courseId, I want to be able to open the courses -> {courseTitle} -> overview path in the sidebar.

Thanks.

[2017-10-17 14:28] chelaruc commented on #111
Hi, @elvnthaus! For fixing the issue, we will attach `wizard.component.ts` file and what you have to do is to replace in the `src/app/forms/wizard/wizard.component.ts` file with the attached one.
[wizard.component.ts.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1391324/wizard.component.ts.zip)

All the best,
Ciprian

[2017-10-17 16:14] elvnthaus commented on #111
Thanks!

[2017-10-17 16:14] #111 closed

[2017-10-17 23:16] elvnthaus opened #114 "Uploading File: Error with Preview"
When uploading a file using the wizard, there should be a preview of the file after selection but the jquery isn't working properly.

I thought it might just be my project code but the same error is happening on the theme preview

[ERROR: this.readURL is not a function at HTMLInputElement](https://imgur.com/a/CDR4y)

Problem code:
[code]

[2017-10-18 07:58] chelaruc commented on #114
Hi @elvnthaus! I fixed the error and I have attached the file you need to replace.
[wizard.component.ts.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1393808/wizard.component.ts.zip)

Best,
Ciprian

[2017-10-18 08:38] chelaruc commented on #79
@lippomano Sorry for the late response :( You can use material tooltips from here: https://material.angular.io/components/tooltip/overview

Best,
Ciprian

[2017-10-18 13:59] alexandru-paduraru commented on #105
Fixed

[2017-10-18 13:59] #105 closed

[2017-10-18 14:02] alexandru-paduraru commented on #110
@fbecaria I've just sent you an invitation to our private repo for customers. Please check the branch 1.4.4 and you will see exactly what changes we did to the files. Hope this helps.

Best,
Alex

[2017-10-19 04:29] UrsusSoft opened #115 "Unmet peer dependencies"
Hello!

I'm using Material Dashboard Pro Angular v.1.4.4. When I run "npm install", I'm getting these error:

"ng2-select@1.2.0 requires a peer of @angular/common@^2.3.0 but none is installed. You must install peer dependencies yourself.
npm WARN ng2-select@1.2.0 requires a peer of @angular/core@^2.3.0 but none is installed. You must install peer dependencies yourself."

What should I do to resolv

[2017-10-19 09:22] elvisgn opened #116 "Form Fields Error (tag-input, input)"
Hi
Having an issue with the tag-input mapped to an input array (please see attached gif). On deleting a tag, should I be calling a method to remove the field from the array, or would it happen automatically ?
![tag-input](https://user-images.githubusercontent.com/8165850/31763600-cb98831e-b4cf-11e7-888b-476b77d1d14a.gif)

Also, notice the floating title of the text area field overlapping the conte

[2017-10-19 11:24] elvisgn commented on #113
Hi Ciprian,
Thanks for your response.

Following is the code I'm using for time input...notice the alignment with the datepicker. Also, which attributes are necessary ?
[code]
The UI is based on the validation and extended forms snippets.
![screen shot](https://user-images.githubusercontent.com/8165850/31768626-37a9fcc0-b4e1-11e7-919b-4f5f48cbdabf.png)

[2017-10-19 15:05] pjbrigden commented on #100
This is happening to me too. Should we expect an update for this? Any temporary workarounds? Thanks!

[2017-10-19 15:22] MattHoneycutt commented on #109
Any update on this?   Anyone else come up with a workaround to show notifications?

[2017-10-20 00:20] mehdi550u commented on #98
@alexandru-paduraru I had this problem with very simple and basic code,  but this problem resolved after ver 1.4.3.

[2017-10-20 08:35] norujlu commented on #60
Hi @chelaruc , @alexandru-paduraru

I have downloaded the same project and did npm install, then npm start, and I don't get any errors.
Could you pleasae create a demo project using your dashboard template and add legend and tooltip to one of the charts - this is what this demo project does at the moment which I provided. It works in Chrome, but not in IE.
![image](https://user-images.githubuserco

[2017-10-20 10:22] #98 closed

[2017-10-20 10:23] chelaruc commented on #109
@MattHoneycutt Thank you for using our product! We'll do an update next week and we will fix that.

[2017-10-20 10:24] chelaruc commented on #100
@leeniu @pjbrigden We will do an update next week and this will be fixed.

[2017-10-20 16:38] enovaski opened #117 "Problems with navbar"
When I resize my browser to a smaller screen, I click to open the sidebar and maximize (full screen), the items that are in the navbar within the `<div class="collapse navbar-collapse">` do not reappear on the screen, they return only when I step or mouse or click on the screen.
![error screen](https://user-images.githubusercontent.com/9543316/31832043-42056f24-b5a4-11e7-901c-055764880818.PNG)
![e

[2017-10-21 08:56] elvisgn commented on #116
I think the problem seems to be using the material and form controls in the same page. Even the documentation seems to be all mixed up with suggestions to use mat, md and form-controls.

Can you kindly provide a single form that covers all the possible UI elements...either only using bootstrap + angular form, or using material only.

[2017-10-21 14:06] lippomano opened #118 "Problem with labels"
https://vimeo.com/239242187
As you can see in the video, when I I click the autocomplete option I set the other fields value, but the label don't go up and the text is under the labels.
In the autocomplete I call this method: `(onSelectionChange)="setCustomer(customer)"`
And the `setCustomer` method:
[code]
All my normal fields are something like:
[code]

But if you see the fields with autocomplet

[2017-10-21 14:19] lippomano opened #119 "Style problem upgrading material"
I have recently upgrade material to 2.0.0.beta12, and I see some style problems in mat-select
![cattura](https://user-images.githubusercontent.com/27501745/31852638-59812634-b67b-11e7-911f-5accacafffd7.PNG)
Now mat-select lives inside mat-form-field.
Do you have a plan to solve this?

[2017-10-22 01:56] dwaxgio opened #120 "Koala can't compile the material-dashboard.scss"
You can change the default colors via variables from SASS:

You can find the colors in assets/sass/material-dashboard/_variables.scss starting with line 28 where is the primary color set: $brand-primary: $purple !default;. All the possible colors are in assets/sass/material-dashboard/_colors.scss
Add the SASS folder from assets/sass/ to a new project inside Koala Compiler and find the file materia

[2017-10-22 13:13] elvisgn commented on #116
Can someone help...can't get a simple form to display elegantly...can't understand what the classes are doing to the UI..introducing ngModel causes weird reactions.

I just need this json data to be captured from a form...it feels like the elements can't be used with one another.
[code]

[2017-10-22 22:59] elvnthaus commented on #114
Thanks

[2017-10-22 22:59] #114 closed

[2017-10-23 06:17] norujlu commented on #60
@chelaruc , @alexandru-paduraru

Do you have any update regarding this issue?

Thanks.

[2017-10-23 06:51] alexandru-paduraru commented on #60
@norujlu we will have a look today and see how we can help :D

[2017-10-23 13:15] chelaruc commented on #120
Hi, @dwaxgio! Thank you for using our product! We don't use Koala anymore in our latest version 1.4.4. Can you make an update to it?

Best,
Ciprian

[2017-10-23 13:16] chelaruc commented on #119
Hi, @lippomano! We're working on it and will do an update this week with the fix!

Best,
Ciprian

[2017-10-23 13:20] chelaruc commented on #118
@lippomano Can you give me an archive for testing?

Best,
Ciprian

[2017-10-23 13:23] chelaruc commented on #117
Hi, @enovaski! Thank you for using our product! Can you give me more details and an archive for testing?

Best,
Ciprian

[2017-10-23 13:30] chelaruc commented on #116
Hi, @elvisgn! Thank you for using our product! We will do an update this week with new forms validation.

Best,
Ciprian

[2017-10-24 07:13] lippomano commented on #118
@chelaruc I can send to you an email with the code because there are all of your theme inside

[2017-10-24 07:17] chelaruc commented on #118
@lippomano my email is `ciprian@creative-tim.com`

[2017-10-24 07:21] chelaruc commented on #115
@UrsusSoft Thank you for using our product! To fix that, you need to replace your package.json with these lines of code:
[code]
And delete `node_modules` folder and run `npm install` again.

Best,
Ciprian

[2017-10-24 09:23] chelaruc commented on #60
@norujlu We tested in our project and saw that we were getting the same error and thought it was our fault, but we tested in a new project and getting the same error. So I opened an issue to `chartist-plugin-legend Github repo` and you can see here if they will answer: [https://github.com/CodeYellowBV/chartist-plugin-legend/issues/47](https://github.com/CodeYellowBV/chartist-plugin-legend/issues/4

[2017-10-24 18:06] emVdovin opened #121 "Multilevel menu in sidebar"
Hi

Do you have an example how to create a multilevel sidebar menu?

Regards

[2017-10-26 09:54] drenda commented on #118
Are there news about this bug? Thanks

[2017-10-27 12:39] drenda commented on #100
Are there some news? I just downloaded the 1.4.5 release and I don't see the fix. Thanks

[2017-10-27 12:41] chelaruc commented on #100
@drenda Can you give me an example for testing?

[2017-10-28 20:10] ao1000 commented on #118
@lippomano Hey try initializing bound variable in your constructor:
[code]

[2017-10-28 20:17] ao1000 opened #122 "Missing Lists Component"
Hello,

Is there currently a list component? If not is there any plan to write such a component?

[2017-10-29 11:20] lippomano commented on #79
Yes with mat tooltips problem is solved

[2017-10-29 11:37] lippomano opened #123 "Problem with forms with new validation"
vimeo.com/240352189

As you can see in the video something probably try to apply and remove the `has error` class to the field, maybe your new validation forms?

In the fields when I see the error messages probably the fields have to be red, now some field became red only if something is typed:
![correct](https://user-images.githubusercontent.com/27501745/32143162-befa7ecc-bca5-11e7-8afe-8bd05d03a

[2017-10-30 08:58] chelaruc commented on #123
Hi, @lippomano! To fix that, you need to go in `src/app/app.component.ts` file and delete line 19: `$.material.options.autofill = true;`
Tell me if this worked for you!

Best,
Ciprian

[2017-10-30 09:07] chelaruc commented on #122
Hi, @ao1000! Thank you for your interest in our product! At this moment we don't have a list component, but we will consider this. For now, you can implement your own component like in this example: https://material.angular.io/components/list/examples

Best,
Ciprian

[2017-10-30 09:08] chelaruc commented on #119
Fixed in v1.4.5

[2017-10-30 09:08] #119 closed

[2017-10-30 09:09] chelaruc commented on #115
fixed in v1.4.5

[2017-10-30 09:09] #115 closed

[2017-10-30 09:09] chelaruc commented on #116
fixed in v1.4.5

[2017-10-30 09:09] #116 closed

[2017-10-30 09:10] #102 closed

[2017-10-30 09:11] #79 closed

[2017-10-30 09:13] chelaruc commented on #74
fixed in v1.4.5

[2017-10-30 09:13] #74 closed

[2017-10-30 09:13] chelaruc commented on #56
fixed in v1.4.5

[2017-10-30 09:13] #56 closed

[2017-10-30 09:14] chelaruc commented on #73
fixed in v1.4.5

[2017-10-30 09:14] #73 closed

[2017-10-30 09:19] chelaruc commented on #113
Hi, @elvisgn! Sorry for the late response! We changed validation forms in v1.4.5 because it had some errors. Please check the new one and tell me if the error persisting.

All the best,
Ciprian

[2017-10-30 10:01] chelaruc commented on #107
Hi, @drenda! Sorry for the late response! You are right, it does not work inside a tab. But I think will work with [Material Tabs](https://material.angular.io/components/tabs/examples).

Best,
Ciprian

[2017-10-30 10:15] drenda commented on #107
Hi, are you planning to convert your tabs to Material tabs? Thanks

[2017-10-30 10:32] lippomano commented on #118
In version 1.4.5 I can see labels in correct position, so problem solved

[2017-10-30 10:38] lippomano commented on #123
yes probably problem solved, I'll do other tests

[2017-10-30 13:00] BobaFett58 opened #124 "Navigation. sidebar"
Hey, creative-tim!
I have some problem with this template in browser Edge. Navigation doesn't work. (In live preview it's doesn't work too)
Best regards, Denis.

Microsoft Edge 40.15063.674.0
Microsoft EdgeHTML 15.15063

[2017-10-31 07:41] uchar opened #125 "Does this theme support rtl ?"
Is RTL supported for this theme ?
If not is there any plan to support it in the feature ?

[2017-10-31 10:03] chelaruc opened #126 "Sweetalert console error"
In `src/app/components/sweetalert/sweetalert.component.ts` we need to replace the lines 98-102:
[code]
with
[code]
This will be fixed in v1.5.0!

[2017-10-31 14:07] #15 closed

[2017-10-31 14:40] osnersanchez commented on #126
Good day, I have seen this problem, but this is not the only problem that you had in the alerts, when you click on the swal container to close the alert in the console it shows an error that refers to overlay, this happens once the page for the first time They would have to implement the Handling Dismissals

[2017-10-31 14:46] chelaruc commented on #126
@osnersanchez You need to add this: `.catch(swal.noop)`. This will be fixed in v1.5.0!
You can see here full answer: [https://github.com/limonte/sweetalert2#handling-dismissals](https://github.com/limonte/sweetalert2#handling-dismissals).

[2017-10-31 15:17] osnersanchez commented on #126
thank you very much for your attention, this error also appears when the cancel button is used in any alert, the error is related to the dismissive vicable, never enters function (dismiss) {...}

(by google translator)

[2017-11-01 15:28] chelaruc commented on #125
Hi, @uchar! Thank you for your interest in our product! Unfortunately, it does not support RTL :(

[2017-11-01 16:05] chelaruc commented on #124
Hi, @BobaFett58! Thank you for using our product! I made some changes for fixing that. All you need to do is to replace these two files in your project: `src/app/app.component.ts` and `src/app/layouts/admin/admin.component.ts`
[changes.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1434756/changes.zip)

All the best,
Ciprian

[2017-11-01 16:05] #123 closed

[2017-11-01 16:41] enovaski commented on #117
[cemiterio.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1434885/cemiterio.zip)
Hello,

the error occurs when in the following situation:
I minimize the page, click on the button to open the menu and maximize the page again, after that the content only appears when clicking or hovering the page. follows test design.

[2017-11-01 22:33] elvnthaus opened #127 "No File Input"
Can we get a file input added to the template? There select inputs, dropdown inputs, etc but no file input for uploading documents like png, jpg, etc.

[2017-11-02 01:56] ehdwns980416 opened #128 "Print error"
There is a scroll on my page, such as dashboard example.
![image](https://user-images.githubusercontent.com/26425092/32305974-f2785166-bfbb-11e7-9abd-7424c519ac43.png)
But when i want to print with `Ctrl+P` it just print one page.
![image](https://user-images.githubusercontent.com/26425092/32306010-42a2b1f4-bfbc-11e7-9337-cf0aaef59866.png)
How can I print the whole thing?

[2017-11-02 13:00] chelaruc commented on #121
Hi, @emVdovin! Thank you for using our product and we are sorry for the late response! I'll attach an archive with sidebar.component.ts and sidebar.component.html. All you need to do is to replace them with your files. You can see an example with a multilevel sidebar in components -> buttons.
[Archive.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1437787/Archive.

[2017-11-02 14:42] chelaruc commented on #117
Hi, @enovaski! I've made some test and fixed that. I've deleted `isMobileMenu()` function and added `onResize(event)` function and you need to change `*ngIf` from .html with `(window:resize)="onResize($event)"`. I'll attach the files you need to replace and you will see the changes. Although, you need to do the same changes in sidebar component.
[Archive.zip](https://github.com/creativetimofficial

[2017-11-02 15:54] lippomano opened #129 "scrollbar issue"
Upgrading from 1.4.3 to 1.4.5 I have some problem with scrollbar, as you can see in the image my page scroll also if there isn't any content to scroll.
![cattura](https://user-images.githubusercontent.com/27501745/32335682-b4a17e44-bfed-11e7-8ca1-695696ccf4e8.PNG)

Same problem in the sidebar and I don't have any errors.

In the app.component

[code]

and

[code]

[2017-11-02 16:06] lippomano opened #130 "Material chips"
Do you have a plan to use the material chips?

[material chips](https://material.angular.io/components/chips/overview)

[2017-11-02 18:24] enovaski commented on #117
Now it worked perfectly, thank you very much for the help.

[2017-11-02 18:24] #117 closed

[2017-11-02 22:06] IomarSantos commented on #84
I'm trying to implement with canLoad, but to no avail

[2017-11-03 08:40] garramja opened #131 "Perfect scrollbar working even bootstrap modal is opened"
Hi,

When bootstrap modal with large content is opened, perfect scrollbar is still active at background. If you scroll with mouse background is scrolling but not modal.

How can this be fixed?

First movement is made with mousse wheel.
Second movement is made with scrollbar of modal overlay.

![modal bug](https://user-images.githubusercontent.com/19532063/32365628-d22c4d8a-c07a-11e7-8b2d-28e934ca6

[2017-11-03 12:06] chelaruc commented on #128
Hi, @ehdwns980416! Thank you for using our product! Add this lines of code in `src/assets/sass/material-dashboard/_responsive.scss`:
[code]
We've been able to make some changes to make it print all over the page, but if you find something better than this, please tell us.

All the best,
Ciprian

[2017-11-03 12:27] chelaruc commented on #129
Hi, @lippomano! Can you give me your archive on email? email address: ciprian@creative-tim.com

[2017-11-03 12:37] chelaruc commented on #127
Hi, @elvnthaus! Thank you for using our product! Here is an example of file input: [http://www.jasny.net/bootstrap/javascript/#fileinput-examples](http://www.jasny.net/bootstrap/javascript/#fileinput-examples).

All the best,
Ciprian

[2017-11-03 12:37] #127 closed

[2017-11-03 13:09] BobaFett58 commented on #124
Hi, @chelaruc! Thanks for your quick support, if u will push this changes to master, don't forget to delete this strangers 'todo' or i don't know what is it, but it can brake some code :)
![hz](https://user-images.githubusercontent.com/16953976/32375058-8eac14a2-c0a0-11e7-86d7-b6a5caebff02.png)

line 38 and 42.

Best regards, Denis.

[2017-11-03 13:26] chelaruc commented on #124
@BobaFett58 thank you for pointing this! You can delete them, it's just random words for tests.

Best,
Ciprian

[2017-11-03 13:26] #124 closed

[2017-11-03 21:14] drenda commented on #131
Annoying problem. I think that is present also with tabs. I hope there is a fix for that

[2017-11-03 21:15] drenda commented on #129
Hi, is there some fix about this problem? Thanks

[2017-11-03 21:17] drenda commented on #113
A time picker component would be very useful in the theme.

[2017-11-05 20:24] jtuser opened #132 "Angular 5 Cli 1.5 and CreateTim Map"
Hi,

I upgrade the development environment to Angular Cli 1.5 and Angular 5 and run the Create Tim setup. The map does not show up on both Microsoft Edge and Chrome. Has anyone has the same issue?
Thanks!

[2017-11-06 08:06] rakesh410 commented on #125
Hi Any timeline for this, we purchased this theme before confirming about RTL and now stuck here.

[2017-11-06 11:35] BobaFett58 opened #133 "label color"
Hey, Creative-Tim!
When i choose a black theme and a side bar is minimize, label color don't changing to white.

![image](https://user-images.githubusercontent.com/16953976/32439418-eea3e7fe-c2ee-11e7-9497-637743a41415.png)

Best regards, Denis!

[2017-11-06 13:41] chelaruc commented on #133
Hi, @BobaFett58!

Thank you for using our product and for pointing this to us! To fix that, you need to go in `src/assets/sass/material-dashboard/_sidebar-and-main-panel.scss` file and delete the 475-486 lines.

Best,
Ciprian

[2017-11-06 13:45] BobaFett58 commented on #133
Thanks !

[2017-11-06 17:13] alexandru-paduraru commented on #125
@rakesh410 we will have the RTL version as soon as we release the BS4 version. In the meantime, please check this Bootstrap RTL library: https://github.com/morteza/bootstrap-rtl and let us know how it works.

Best,
Alex

[2017-11-07 08:23] ehdwns980416 commented on #128
@chelaruc Thank you for your quick reply. 👍
The problem with which the whole page was not printed was resolved.
But, there is a problem that something is not going to print..
I will use `@media print` to solve the problem.
It has been a great help. Thank you. 😄

[2017-11-07 08:23] #128 closed

[2017-11-08 15:43] cevenx opened #134 "Edge/IE Issue"
Hello.

I am running into the following error while trying to use my site in IE11, unfortunately this is the environment many of my users are required to use (this issue does not happen in Chrome)

i am using an image below to show you this is happening on your side as well.
![image](https://user-images.githubusercontent.com/27730639/32557384-fdd3f304-c46f-11e7-9a4f-42557c61fd70.png)

this error p

[2017-11-08 16:00] chelaruc commented on #134
Hi @cevenx,

Thank you for using our product! Can you try something like this:
1) Delete 119-126 lines
2) Declare this in app.component.ts:
[code]
3) In ngOnInit() add this:
[code]
Tell me if it worked for you!

All the best,
Ciprian

[2017-11-08 16:38] cevenx commented on #134
my app.conponents.ts now looks like this:

import { Component, OnInit, Inject } from '@angular/core';
import {Router, NavigationEnd, ActivatedRoute, NavigationStart} from '@angular/router';
import { Subscription } from 'rxjs/Subscription';
import 'rxjs/add/operator/filter';
import { DOCUMENT } from '@angular/platform-browser';
declare var $: any;

@Component({
    selector: 'app-my-app',
    templ

[2017-11-08 16:48] chelaruc commented on #134
Add this to imports:
[code]
Replace the constructor with this:
[code]
and delete:
[code]
Tell me if it worked :)

[2017-11-09 09:35] lippomano commented on #129
Hi @chelaruc archive for testing sended

[2017-11-09 14:28] cevenx commented on #134
after applying this i have a new error. the same navigation issue persists

[code]

[2017-11-09 14:32] Leonardo-demeloweb opened #135 "Password match does not works on the Material Dashboard PRO Angular"
Material Dashboard PRO Angular forms/validationforms password match does not works, the validation is broken. If some one want to help, lets try on together verify the error.

[2017-11-09 14:34] chelaruc commented on #135
Hi @Leonardo-demeloweb! Can you give us more details?

[2017-11-09 14:39] Leonardo-demeloweb commented on #135
![image](https://user-images.githubusercontent.com/14796489/32610812-ff067536-c54a-11e7-986d-7ed25733a6e4.png)

[2017-11-09 14:41] chelaruc commented on #134
@cevenx Can you give me your project for testing? My email address is ciprian@creative-tim.com

[2017-11-09 14:43] Leonardo-demeloweb commented on #135
I am exactly with the licensed version for developers of the Material Dashboard PRO Angular.

[2017-11-09 14:47] cevenx commented on #134
I should be able to send it to you in the next few hours, thank you for taking a look.

[2017-11-09 15:02] Leonardo-demeloweb commented on #135
@chelaruc Seems that you fixed it at the live preview of this template, perhaps yous guys upgrade to 1.4.5 version. The agency that I am working actually bought the developer license, if you might help us would be great. What should be the best way to get this fixed? Our template is "version": "1.4.1".

[2017-11-09 15:02] chelaruc commented on #135
@Leonardo-demeloweb Here is an image with the function for Register Form:
<img width="433" alt="screen shot 2017-11-09 at 16 55 14" src="https://user-images.githubusercontent.com/22840626/32611650-e2ea5a10-c56e-11e7-97b6-d097082d3ad9.png">
How you can see, if the form is valid you will get a message in console with the text 'form submitted', else will be call a function named 'validateAllFormField

[2017-11-09 15:08] chelaruc commented on #135
@Leonardo-demeloweb I saw your message and I'm thinking you should download the archive again and see the current validation forms. We've made pretty big changes and all the structure was changed. If you need help with integration, you can send me an email with details at ciprian@creative-tim.com.

Best,
Ciprian

[2017-11-09 15:08] #135 closed

[2017-11-09 15:09] Leonardo-demeloweb commented on #135
@chelaruc  as I could check seems a bug at the 1.4.1 version of the Material Dashboard PRO Angular. I mentioned above that we are full licensed to use this template as developers. Where is it placed? I am talking about the password match at the forms/validationforms. I will post the print of the validationforms.component.ts:
![image](https://user-images.githubusercontent.com/14796489/32612307-1494

[2017-11-09 15:13] chelaruc commented on #135
@Leonardo-demeloweb  You need to go to [https://www.creative-tim.com](https://www.creative-tim.com) and log in. After that, you need to access your profile from navbar and go to My Purchases. I'll attach an image with the navbar:
![screen shot 2017-11-09 at 17 12 43](https://user-images.githubusercontent.com/22840626/32612567-438b995e-c571-11e7-800d-52b50fa837e9.png)
Then you will see what product

[2017-11-09 15:17] chelaruc commented on #132
Hi, @jtuser! We haven't tried to update the product to Angular 5 because wasn't a stable version for that. We will try to update the product next week.

All the best,
Ciprian

[2017-11-09 20:05] Leonardo-demeloweb commented on #135
@chelaruc OK We shall do this. Our manager must be on charge of. I particularly have been reading the documentation of the 1.4.5 material angular pro dashboard. Do you are proposing a form validation using jquery.validation as new component? What is about typescript and node dependecies?

[2017-11-10 04:02] Leonardo-demeloweb opened #136 "Password match does not works on the Material Dashboard PRO Angular with typescript."
@chelaruc Hello how the thing is going with you?

I do not think the issue is closed as you purposed. The form validation delivered to us like full licensed for development is not working properly at this point with typescript. The 1.4.1 version was written on typescript and seems the 1.4.5 version the form.validation is written on jquery. We need the typescript version to be agile with the proces

[2017-11-10 04:02] Leonardo-demeloweb commented on #136
@chelaruc How the thing is going with you? I did not analise the 1.4.5 version of the material ANGULAR pro yet. But I was reading the promises of new components, between then jaquery.validator. Have you solved the issue with passoword match with jquery? The version that I was using it was with Typescript, just the password match does not work properly in there. Here is the link of one of our proje

[2017-11-10 04:07] Leonardo-demeloweb commented on #136
@jac0117 can you have a look please?

[2017-11-10 08:48] chelaruc commented on #135
@Leonardo-demeloweb the current forms validations are without jquery.validation.

[2017-11-10 08:57] chelaruc commented on #136
@Leonardo-demeloweb The current version(v1.4.5) is without jquery.validation.

[2017-11-10 10:10] chelaruc commented on #129
@lippomano I did a few tests and I saw that you deleted the css for the perfect scrollbar library from `angular-cli.json` file. Can you add it again and try again?
Here is an image with styles from angular-cli.json file:
<img width="749" alt="screen shot 2017-11-10 at 12 09 32" src="https://user-images.githubusercontent.com/22840626/32653311-23a5cc64-c610-11e7-9b97-b384fd1585ee.png">

Best,
Cipria

[2017-11-10 10:37] lippomano commented on #129
Sorry it was my fault.
Thank you very much.

[2017-11-13 23:12] jtuser commented on #132
Ciprian,

Thanks for the info! I tried the Creative tim1.4.5 with angilar-cli 1.4.5
Most of the components worked except the Map. I tried with
anhular-cli@latest, most components work except the map. Look like creative
tim1.4.5 mat have map issue.

Thanks!

On Nov 9, 2017 7:17 AM, "Chelaru Ciprian" <notifications@github.com> wrote:

[2017-11-14 01:52] elvnthaus opened #137 "bootstrap v4?"
Will there be an update for the latest bootstrap update?

[2017-11-15 07:14] gogo217 opened #138 "[Bug] Datepicker not work inside a modal"
_I am on the v1.4.5 now._

![image](https://user-images.githubusercontent.com/20570634/32823063-7c22034e-ca16-11e7-8525-58f04ae99b05.png)

[2017-11-15 13:05] chelaruc commented on #137
Hi @elvnthaus! Thank you for your interest in our product! Yes, it will be an update in the middle of December!

Best,
Ciprian

[2017-11-15 13:06] chelaruc commented on #132
Hi, @jtuser! I will take a look at it.

best,
Ciprian

[2017-11-15 13:35] chelaruc commented on #138
Hi, @gogo217! Thank you for using our product! To fix this you need to go in `src/assets/sass/material-dashboard/_dialogs.scss` file and add these lines of code at the end of the file:
[code]
Tell me if it worked for you!

All the best,
Ciprian

[2017-11-15 15:21] gogo217 commented on #138
Seems to work now. Thanks

[2017-11-15 15:21] #138 closed

[2017-11-16 14:08] muryavuz commented on #134
this._router = this.router.events.filter(event => event instanceof NavigationEnd).subscribe((event: NavigationEnd) => {
      const elemMainPanel = <HTMLElement>document.querySelector('.main-panel');
      const elemSidebar = <HTMLElement>document.querySelector('.sidebar .sidebar-wrapper');

      if (elemMainPanel) {
        elemMainPanel.scrollTop = 0;
      }
      if (elemSidebar) {
        el

[2017-11-18 07:59] elvisgn opened #139 "Style ProfilePics into table rows"
Hi,
How can we accurately position a profile image into the table row (as in attached image) ? The existing class of 'photo' does not work. Tried writing custom classes, but getting the shown output.
<img width="909" alt="profilepic" src="https://user-images.githubusercontent.com/8165850/32978263-e4a0b77e-cc57-11e7-8ba6-b07657762d05.png">
`.userThumbnail {
    width: 36px;
    height: 36px;
    ov

[2017-11-21 09:30] #129 closed

[2017-11-22 13:19] chelaruc commented on #139
Hi, @elvisgn! I'll attach some images with our tests:
<img width="623" alt="screen shot 2017-11-22 at 15 17 34" src="https://user-images.githubusercontent.com/22840626/33129430-7e66669a-cf98-11e7-8296-c3dd5fefe4f6.png">
<img width="884" alt="screen shot 2017-11-22 at 15 16 56" src="https://user-images.githubusercontent.com/22840626/33129431-7e810d9c-cf98-11e7-88dd-22edcaa7396d.png">
<img width="73

[2017-11-22 13:19] #139 closed

[2017-11-22 13:55] GHakopian opened #140 "form-control has no underline"
![untitled](https://user-images.githubusercontent.com/15728609/33130890-17f4686a-cf95-11e7-8ec7-71bb2a5865ec.png)

its strange but the underline on the search control wont show unless its active, this works in the live demo thought.

[2017-11-22 13:57] chelaruc commented on #140
Hi, @GHakopian! Thank you for using our product! What version do you have? The latest one is 1.4.5.

Best,
Ciprian

[2017-11-22 13:59] GHakopian commented on #140
this is the latest version  (1.4.5)

[2017-11-22 14:08] chelaruc commented on #140
What browser and what version of it do you use?

[2017-11-22 14:28] GHakopian commented on #140
in the screenshot its chrome Version 62.0.3202.94 (Official Build) (64-bit)
the bottom border is working in the newest version of firefox but when i click to type the carrot is lover than the hint text that sais search.

works perfectly in edge

[2017-11-22 15:27] #95 closed

[2017-11-23 10:21] msnraul opened #141 "Cannot find module 'copy-webpack-plugin'"
![captura de pantalla_2017-11-23_11-18-47](https://user-images.githubusercontent.com/14353274/33168156-4b199854-d040-11e7-8c02-2eb88eb23571.png)
![captura de pantalla_2017-11-23_11-18-17](https://user-images.githubusercontent.com/14353274/33168160-4d384d06-d040-11e7-89ac-7ff2ebb164d3.png)
[2017-11-23T10_15_15_152Z-debug.log](https://github.com/creativetimofficial/material-dashboard-pro-angular/fil

[2017-11-23 11:18] msnraul commented on #141
Solved. I just installed that missing plugin with npm and it works.

[2017-11-23 11:18] #141 closed

[2017-11-26 19:35] GHakopian commented on #140
I solved this by doing the following, it is not the perfect solution but its better than nothing.

in assets > sass > inputs.scss > line 143
background-size: 0 2px, 100% 1px; changed to   background-size: 0 2px, 100% 2px;

it appears that the background is 1 pixel too far to be visible in chrome.

[2017-11-28 01:07] niesteszeck opened #142 "card-avatar as card title"
Is there a way to use a card avatar as card header. I would like to put a rounded image as floating header (similar to card-header-icon, but with a rounded image (left aligned))

[2017-11-28 12:42] BobaFett58 opened #143 "Datepicker"
Hello, when I use datepicker in modal window and trying to pick the date, his open the window under the modal.

![image](https://user-images.githubusercontent.com/16953976/33320190-bfc01840-d441-11e7-8f41-0f3964a2b4bc.png)

[2017-11-28 12:45] BobaFett58 commented on #143
Oh, sorry I found it on closed issues here (https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/138)

Best regards, Denis.

[2017-11-28 12:53] BobaFett58 commented on #143
And it doesn't help me, now, after I added this lines of code
`.modal-backdrop{
    z-index: 1030;
}
.modal{
    z-index: 1031;
}`

I can't do anything on the page.

![image](https://user-images.githubusercontent.com/16953976/33320718-6adc23ee-d443-11e7-93d5-f9a52f461421.png)

[2017-11-28 16:23] niesteszeck opened #144 "After click button, shadows maintains visible (as pressed)"
If I click a button it draws a shadow to make the efect of pressing it, but if I release the button, the shadow maintains till I click other part of the page. This is happening in the demo also

[2017-11-28 17:04] chelaruc commented on #143
Hi @BobaFett58,
Thank you for using our product! Can you give me your project for testing?

All the best,
Ciprian

[2017-11-28 17:05] chelaruc commented on #144
Hi @niesteszeck!
Thank you for using our product! Can you give me an image example?

Keep in touch,
Ciprian

[2017-11-28 21:07] niesteszeck commented on #144
![normal state not clicked](https://user-images.githubusercontent.com/3708962/33344173-c5c833b0-d466-11e7-8e7c-29309562a5fc.png)

![over state before click it](https://user-images.githubusercontent.com/3708962/33344124-8ecbf018-d466-11e7-8c1d-efce105e691a.png)

![after clicked](https://user-images.githubusercontent.com/3708962/33344125-91284294-d466-11e7-8e48-9ee8b35cd8b6.png)

you can see on pict

[2017-11-29 14:19] niesteszeck commented on #33
Hi everyone, I think I found a better solution that the one provided by @serweck to reinitialize the datatable (at least in my case it produces a unwanted blink over the table). In summary, the approach is to make a service for the data (in my case the same that is in charge of getting the data from the server), and subscribe the table data to that service.
** I take the idea from [here](https://b

[2017-11-29 14:41] BobaFett58 commented on #143
[Client.zip](https://github.com/creativetimofficial/material-dashboard-pro-angular/files/1514149/Client.zip)

Please :)

[2017-11-29 17:19] chelaruc commented on #134
fixed in v1.4.6

[2017-11-29 17:19] #134 closed

[2017-11-29 17:19] chelaruc commented on #133
fixed in v1.4.6

[2017-11-29 17:19] #133 closed

[2017-11-29 17:19] chelaruc commented on #126
fixed in v1.4.6

[2017-11-29 17:19] #126 closed

[2017-11-29 17:20] #121 closed

[2017-11-30 15:11] #136 closed

[2017-12-01 09:13] MSkraburski commented on #89
Same thing happens for me. Sidebar on mobile devices does not work properly. I also removed background image but am currently facing two issues:
1. As stated above when I click on the sidebar using tablet e.g. iPad I got that red background image flashing a few times.
2. When I enter sidebar on smartphone I got different background color even though it is fixed by myself in css stylesheet.
Did you

[2017-12-01 10:55] lippomano commented on #118
@chelaruc Probably not completely solved,
![cattura](https://user-images.githubusercontent.com/27501745/33479667-3937017c-d68e-11e7-80ec-3ff061dcc260.PNG)

The first field is an autocomplete, when I select some option I set the field binded to the second field with some value (email) but the label stay down

[2017-12-01 18:14] MSkraburski opened #145 "Sidebar appear/disappear on swipe (mobile devices) - feature request"
I would like to ask for a feature. It would be nice to have a built-in function that shows/hides sidebar on swipe on smartphones & tablets. Or maybe it already exists but I forgot to turn it on. Any ideas?

Regards,
Mikołaj

[2017-12-03 12:57] MSkraburski commented on #89
I solved the second issue but still face the first one mentioned by @jac0117 . Would be thankful for your response. Best regards

[2017-12-03 13:34] jac0117 commented on #89
@MSkraburski - play around with the colors. I solved the issue, but I'm not quite sure how. I accidentally solved it when I decided to change the color scheme of my site.

[2017-12-04 08:24] chelaruc commented on #143
@BobaFett58 go in `src/assets/sass/material-dashboard/plugins/_plugin-datetime-picker.scss` and replace the line 31 with `z-index: 1051 !important;`
Tell me if it worked!

Best,
Ciprian

[2017-12-04 15:20] allowski commented on #81
I was having the same issue, I moved the model update into the ngOnInit and it's OK now

[2017-12-04 16:43] niesteszeck commented on #142
Hi @dragosct10, thanks, that exactly what I wanted to do, now my profile page looks great. This changes will be included in new updates or I'll have to patch by myself?

** One correction to your instructions, the location of the _cards.scss is `src/assets/sass/material-dashboard/_cards.scss` (v1.4.5)

Best regards

[2017-12-04 16:51] dragosct10 commented on #142
Hi, @niesteszeck! Yes, we will put these changes also in the next update because it's a smart idea, but I think the next update will be in a few weeks so until then you can use the solution that I gave it to you. Thank you!

Regards,
Dragos

[2017-12-04 20:42] niesteszeck commented on #142
Of course, already using it.

I will close this issue as resolved,
have a great day.

[2017-12-04 20:42] #142 closed

[2017-12-04 23:49] cholivar commented on #143
Hi! how can i set the datepicker to spanish??

Please.
Christian Olivares R.

[2017-12-05 00:25] jpduckwo commented on #107
I think it also doesn't work inside mat-expansion-panel... when it expands all my textareas are only 1 row

[2017-12-05 09:01] #81 closed

[2017-12-05 09:05] chelaruc commented on #143
@cholivar
You can see an example here: [https://material.angular.io/components/datepicker/examples](https://material.angular.io/components/datepicker/examples) but is set to French. All you need to do is to set it to Spanish.

Best,
Ciprian

[2017-12-05 09:05] #143 closed

[2017-12-05 13:29] niesteszeck opened #146 "Putting a material icon between text expands the height of a text line/row"
Hello.
I'm wondering how to size the material icons so they don't make the line height bigger where they are put as text, or between it. I tried  using the small class, but then the icon get to small.

Normal size on a
![screenshot_20171205_100635](https://user-images.githubusercontent.com/3708962/33608734-38190056-d9a4-11e7-8e10-9b1d8442ad27.png)
[code]

with small class on the `<i>` tag
![screen

[2017-12-05 18:09] niesteszeck commented on #75
I have made work the one in `src/assets/sass/material-dashboard/_misc.scss` creating a service:

### loader.component.ts
[code]
### loader.component.css
[code]
### loader.component.html
[code]

Then the service
### loader.service.ts
[code]

and a pojo for loading
### loader.ts
[code]

then declare it in the constructor and use the `show()` `hide()` methods to make it appears and disappears, for ex

[2017-12-05 18:17] niesteszeck opened #147 "Cant put data-search on datatables.net"
Hi,

When i try to set up a [search text](https://datatables.net/manual/data/orthogonal-data#HTML-5) for a cell i got a console error:
[code]

example code

[code]

[2017-12-06 09:15] rashinp opened #148 "Missing js files in assets > js > core"
Purchased on 5th Dec, downloaded the archive couldn't find any files in assets > js > core

[2017-12-06 09:35] chelaruc commented on #148
Hi, @rashinp! Thank you for using our product! Can you tell me what problem you encounter? In the latest versions, we've installed all plugins in node_modules and forgot to update the documentation.

Best, Ciprian

[2017-12-06 09:44] rashinp commented on #148
Oh ok, I was comparing the files with the documentation. Actually I am using the templates for building a Meteor.js app, so I am taking only the required components from the downloaded files, and found some issues, but after I copied the material.min.js and jquery.3.2.1 min that you have on your web version demo it seems to be working. Thank you for your quick response

[2017-12-06 12:59] #148 closed

[2017-12-07 02:04] niesteszeck opened #149 "ESC close modal behaviour"
Hi.

How to activate ESC close modal behaviour .

Thanks

[2017-12-07 09:39] chelaruc commented on #149
Hi, @niesteszeck!
Thank you for using our product! In our project, we can close the modal using ESC button. Are you sure it is not working?

All the best,
Ciprian

[2017-12-07 13:20] niesteszeck commented on #149
yes, sure.

tested on firefox and chromium

my modal:
### .html
[code]
### .ts
[code]

I include it on other component html:   `<app-clients-modal-cmp></app-clients-modal-cmp>`
and show it with a function on ts:
[code]

[2017-12-07 14:43] MSkraburski commented on #89
Still did not find any solution. Where & which colors had you changed so that at the end you got it working properly @jac0117 ?

[2017-12-07 16:03] niesteszeck opened #150 "Wizard Form required at least one radio selected"
Hi,

On wizard form, How can I add a rule for a radio button to be at least one selected?

Best regards

[2017-12-07 16:09] niesteszeck commented on #150
Sorry for the report, I was making a mistake defining the radio as checkboxes on the html. anyway, if someone is with teh same question, the rule is:
[code]

[2017-12-07 16:11] chelaruc commented on #149
@niesteszeck Can you give me an archive for testing?

[2017-12-07 16:26] niesteszeck commented on #149
@chelaruc  I shared it over drive

[2017-12-07 16:34] niesteszeck commented on #150
Actually, there is needed another change on the click function of the radio button code. I found [this issue](https://github.com/creativetimofficial/material-bootstrap-wizard/issues/8) of the pluging, and with this correction it start working:
change this:
[code]
with this
[code]

[2017-12-07 19:53] MSkraburski commented on #89
The most probable source of issue is admin-layout.component . I reduced the html code to: <div class="wrapper">
    <div class="sidebar" data-active-color="white" data-background-color="red" >
        <sidebar-cmp></sidebar-cmp>
    </div>
  <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div >
            <footer-cmp></footer-cmp>

[2017-12-07 20:02] niesteszeck opened #151 "Wizard form color inconsistence"
Hi,

I'm not sure if this is a desire behaviour, but at least for me looks strange.

When changing the color of the wizard there are mixed colors for imputs with errors. If focused get red, if not de configured wizard-card data-color
![screenshot_20171207_170117](https://user-images.githubusercontent.com/3708962/33736111-31e7a53e-db70-11e7-9e86-d51bdda22dc7.png)

[2017-12-07 21:01] niesteszeck commented on #149
@chelaruc I found the error. I missed the `tabindex="-1"` attribute for the main modal div
<div #clientModal class="modal fade" tabindex="-1 role="dialog"
     *ngIf="clientService.clientObservable | async as Client;">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="openFull()"><

[2017-12-07 21:01] #149 closed

[2017-12-08 11:04] sherry9872 opened #152 "Angular Universal compatibilty"
Is the material-dashboard-pro-angular compatible with angular universal for server side rendering

[2017-12-08 20:07] johnhigginsavila opened #153 "Cannot run unit test"
How can I run unit test?
I got this error:

ERROR in /home/ubuntu/Documents/StartupFolder/OBQA/DEV/development/task1/web-ui/node_modules/@angular/core/src/testability/testability.d.ts (41,33): Cannot find name 'Node'.

[2017-12-11 08:31] chelaruc commented on #153
Hi, @johnhigginsavila! Thank you for using our product! Can you give me more information about unit testing? It will help me to test in our project.

All the best,
Ciprian

[2017-12-11 08:45] johnhigginsavila commented on #153
Hi Chelaru,

I just run ng test and its not working. I also what to run the test using
phantom js but still doesnt work.
I did no add anything before running the test. What configurations should I
do for unit testing?

Sincerely,
John

On Mon, Dec 11, 2017 at 3:31 PM, Chelaru Ciprian <notifications@github.com>
wrote:

[2017-12-11 09:00] chelaruc commented on #153
@johnhigginsavila
I made some tests and you need to follow this tutorial: [https://github.com/angular/angular-cli/wiki/stories-1.0-update#one-tsconfig-per-app](https://github.com/angular/angular-cli/wiki/stories-1.0-update#one-tsconfig-per-app)
Then go in `src/typings.d.ts` and replace the current code with: `declare var module: NodeModule;
`
Tell me if it worked.

[2017-12-11 09:04] johnhigginsavila commented on #153
Thank you. I'll update you after I test it. thanks.

On Mon, Dec 11, 2017 at 4:00 PM, Chelaru Ciprian <notifications@github.com>
wrote:

[2017-12-11 14:18] Griphom opened #154 "Perfect Scollbar Error on Windows Browsers"
Hello, i'm using your product, and i have a problem here when running the app in windows browsers (Chrome, Firefox, Edge - all latest versions).
In Mac browsers everything works real fine.

in WIndows its make the calendar and select to broke

test URL:
https://dashboard-185306.firebaseapp.com/dashboard?cliente=179

Chrome Console:
ng:///AppModule/AdminLayoutComponent_Host.ngfactory.js:5 ERROR Err

[2017-12-11 14:31] chelaruc commented on #154
Hi, @Griphom! Thank you for using our product! Can you give me your archive for doing some tests? You may have deleted the elements(main-panel or sidebar) on which the perfect-scrollbar is activated.

Keep in touch,
Ciprian

[2017-12-11 14:43] Griphom commented on #154
Hello Ciprian, thanks for the quick response, i sent you my src folder by email - chelaruciprian10@gmail.com - and yes, i do not use the sidebar, any workaround?

[2017-12-11 21:14] rohit-gandhe opened #155 "Direct links work locally but not on CDN"
This works and correctly lands me on the buttons page with sidebar and everything.
http://localhost:4200/components/buttons

But when I deploy the same code ( dist dir that `ng build --prod` produced), I get a 404
http://test.hermes.ohme.li.s3-website-us-west-1.amazonaws.com/components/buttons

![image](https://user-images.githubusercontent.com/8609882/33854055-2685747a-de75-11e7-9c90-b58cdfda65a6

[2017-12-12 08:26] chelaruc commented on #155
Hi, @rohit-gandhe! Thank you for using our product.  Can you go to `src/app/app.module` and replace:
[code]
with
[code]
Tell me if it worked.

Keep in touch,
Ciprian

[2017-12-12 09:48] chelaruc commented on #154
@Griphom can you send me a video of the errors?

[2017-12-12 13:51] Griphom commented on #154
Hello Ciprian, I figured out

i just add this snipets at my dashboard.component.ts

now its working at windows too.

import PerfectScrollbar from 'perfect-scrollbar';

public ngOnInit() {
this.runOnRouteChange();
}

runOnRouteChange(): void {
if (window.matchMedia(`(min-width: 960px)`).matches && !this.isMac()) {
const elemMainPanel = <HTMLElement>document.querySelector('.main-panel');
const ps =

[2017-12-12 13:52] #154 closed

[2017-12-13 00:49] rohit-gandhe commented on #155
Thanks, @chelaruc! That works

[2017-12-13 00:50] #155 closed

[2017-12-13 10:32] suhasghodke opened #156 "Wizard's tab doesn't get resized/realigned on side menu minimised/maximised"
Wizard's tab doesn't get resized/realigned on side menu minimised/maximised

This is replicable on the demo site too

Steps to reproduce
#1 : go to http://md-pro-angular.creative-tim.com/forms/wizard
#2 : fill the form and go to Address tab
#3 : click on icon on navbar to minimise the side menu

You will see the tabs doesn't get resized/realigned as per new screen size.

[2017-12-14 15:46] niesteszeck commented on #151
The red color isn't bad if whe have focus on the input, but the red label when not focused, in combination with the data-color underline (purple in this case)  looks wear
![screenshot_20171214_124525](https://user-images.githubusercontent.com/3708962/34000705-ce9f4196-e0cc-11e7-8323-4e2c460f3053.png)

[2017-12-14 16:02] niesteszeck commented on #151
if you change (inside `_mixins.scss`:`@mixin set-wizard-color($color) {`)
[code]
by this
[code]

you get
![screenshot_20171214_130144](https://user-images.githubusercontent.com/3708962/34001481-e12bcd8c-e0ce-11e7-85da-8a8e4ff9b481.png)

That, at least for me looks more consistent

[2017-12-14 16:10] niesteszeck commented on #151
Other option is to add this rule to `_wizard-card.scss`. This time looks even more consistence
[code]

![screenshot_20171214_130859](https://user-images.githubusercontent.com/3708962/34001909-06176790-e0d0-11e7-8fc1-f356f361acf0.png)

[2017-12-14 19:42] bommen commented on #132
Hello Ciprian,

What is the status of the update to Angular 5?

Thanks!

Bart

[2017-12-14 23:20] FabioMorcillo commented on #132
Hello,

I have PRO version, you know when we have Angular 5 ?

Thank you,

[2017-12-15 11:21] lippomano commented on #118
@chelaruc can you help me with this problem

[2017-12-15 12:30] jariwbh opened #157 "mat-select with search filter"
Hi,

We are using mat-select in our applications, it sometimes has more than 50 items and we need search textbox to filter data. How do we do this with current component ? Please share code.

//Bharat

[2017-12-15 15:27] Lokendra2500 opened #158 "ng g component not working"
When i generate a new component by using "ng g component my-component-name", it was give an error
input.mergeMap is not a function
TypeError: input.mergeMap is not a function
    at Object.callRule (E:\Personal\codesslab\VMS-material\VMS\node_modules\@angular-devkit\schematics\src\rules\call.js:78:18)
    at SchematicImpl.call (E:\Personal\codesslab\VMS-material\VMS\node_modules\@angular-devkit\sc

[2017-12-15 20:10] bommen commented on #158
Same issue here

[2017-12-18 04:37] eleventhaus commented on #137
Any updates on this?

[2017-12-18 05:36] Lokendra2500 commented on #158
Hii @bommen ;

Then how you work on this theme... how you create any component, module and other things..

[2017-12-18 09:42] chelaruc commented on #151
@niesteszeck Thank you for these fixes! We will do these modifications in the next update.

Best, Ciprian.

[2017-12-18 09:45] #153 closed

[2017-12-18 10:05] lippomano opened #159 "mat-autocomplete css overriding problem"
In my project I use some [mat-autocomplete](https://material.angular.io/components/autocomplete/overview) and If you try (also with basic example) to use it inside your theme you can't see the active option when you navigate with arrow up/down, maybe your css is not specific because you use this code:
`.mat-option.mat-active {
    background: transparent !important;
}`

`<form>
	<mat-form-field cl

[2017-12-18 14:51] niesteszeck commented on #151
@chelaruc If I can vote, i like the second one (no purple on unfocused labels), I'm using it.

[2017-12-19 11:06] gamalaraouf commented on #158
Same issue here

[2017-12-19 13:05] chelaruc commented on #158
@Lokendra2500 @bommen @gamalaraouf Can you send me an archive for testing here: ciprian@creative-tim.com? I've tested in our project and everything is working good.

[2017-12-19 13:12] chelaruc commented on #152
Hi @sherry9872,

We didn't try angular universal yet, but if you can give me a tutorial, I'll try to integrate it for you.

Best,
Ciprian

[2017-12-19 13:18] chelaruc commented on #157
Hi @jariwbh,

See this issues opened on material/angular2 repository: [https://github.com/angular/material2/issues/2812](https://github.com/angular/material2/issues/2812) and [https://github.com/angular/material2/pull/7835](https://github.com/angular/material2/pull/7835)
We are waiting for this feature.

Best,
Ciprian

[2017-12-19 13:24] chelaruc commented on #159
@lippomano Can you tell me the browser and the version so I can do some tests?

Best,
Ciprian

[2017-12-19 13:35] lippomano commented on #159
Chrome latest
and your theme version 1.4.5

[2017-12-19 13:45] chelaruc commented on #159
@lippomano All you have to do is to go in `src/assets/sass/material-dashboard/plugins/_select-bootstrap.scss` and delete these lines:
<img width="445" alt="screen shot 2017-12-19 at 15 44 31" src="https://user-images.githubusercontent.com/22840626/34159887-889a02d4-e4d3-11e7-994c-01890f867ff9.png">

Best,
Ciprian

[2017-12-19 13:45] #159 closed

[2017-12-19 15:17] lippomano commented on #159
Good it works, Do you plan to fix it?

[2017-12-19 16:01] chelaruc commented on #159
@lippomano it is fixed in v1.4.7.

[2017-12-19 20:31] jrood commented on #157
@jariwbh @chelaruc, I feel like I've spoken too much on the thread at https://github.com/angular/material2/pull/7835, but if you guys have particular use cases, feel free to share them there. It might help demonstrate why the item should be prioritized.

[2017-12-20 10:56] #35 closed

[2017-12-20 11:02] #60 closed

[2017-12-20 11:03] chelaruc commented on #62
@lippomano Can you tell me if you found a solution for this? So I can close it.

[2017-12-20 11:04] chelaruc commented on #51
@shreenil Did you found a solution for this?

[2017-12-20 11:04] #64 closed

[2017-12-20 11:06] #75 closed

[2017-12-20 11:07] chelaruc commented on #77
@donnytian Have you found a solution?

[2017-12-20 11:07] chelaruc commented on #78
@donnytian Have you found a solution?

[2017-12-20 11:11] #90 closed

[2017-12-20 11:11] chelaruc commented on #100
@drenda The problem was solved?

[2017-12-20 11:12] chelaruc commented on #104
@jariwbh Have you found a solution for this? I would put it in our documentation.

[2017-12-20 11:15] #110 closed

[2017-12-20 11:16] drenda commented on #100
Yes, it works now.

[2017-12-20 11:16] #100 closed

[2017-12-20 11:17] chelaruc commented on #112
@elvisgn Have you found a solution?

[2017-12-20 11:19] #120 closed

[2017-12-20 11:20] drenda commented on #118
@chelaruc I've the same issue described here. We bought the theme and this issue is really annoying us from long time. Please give us a feedback as soon as possible.

Thanks

[2017-12-20 11:20] chelaruc commented on #131
@garramja @drenda Sorry for the late response! Have you found a solution for this? If not, I'll try to fix it in v1.5.0.

[2017-12-20 11:22] chelaruc commented on #118
Hi guys, I'll take a look and I'll try to fix that for the next update.

[2017-12-20 11:23] drenda commented on #131
No solution for me.

[2017-12-20 11:27] chelaruc commented on #137
Hi, @elvnthaus! We didn't finish Material Dashboard PRO HTML with Bootstrap 4, when this will be finished, the Angular one will be easy to update.

[2017-12-20 11:27] #140 closed

[2017-12-20 11:41] shreenil commented on #51
@chelaruc No but i used another way to achieve it!

[2017-12-20 12:28] #51 closed

[2017-12-20 12:51] chelaruc commented on #144
Hi @niesteszeck! Sorry for the late response! have you found a solution for that? If not, all you have to do is to go in `/src/assets/sass/material-dashboard/_mixins.scss` on line 382 and delete:
[code]
Tell me if it worked.

All the best,
Ciprian

[2017-12-20 12:53] chelaruc commented on #145
Hi, @MSkraburski ! Sorry for the late response! I'll speak with my team and we will see if this feature will be in the next update.

Best,
Ciprian

[2017-12-20 13:21] niesteszeck commented on #144
@chelaruc this works, it will be included in next release?

[2017-12-20 13:47] chelaruc commented on #144
@niesteszeck, These lines, but only focus and active:
<img width="672" alt="screen shot 2017-12-20 at 15 46 59" src="https://user-images.githubusercontent.com/22840626/34210015-0a5950a8-e59d-11e7-9f23-d8c0b08da560.png">

[2017-12-20 13:50] bommen commented on #158
Hello @chelaruc ,

It happened when I updated the project to Angular 5 + Angular CLI 1.6.0. I think the CLI-version was the culprit. When I downgraded the version to 1.5.0 it worked again. Thanks anyway for your answer!

Bart

[2017-12-20 13:53] niesteszeck commented on #144
@chelaruc  it wass on other line number, now it works!

![screenshot_20171220_105230](https://user-images.githubusercontent.com/3708962/34210209-d151068a-e573-11e7-819e-67de51619f6a.png)

this will be included in next release?

[2017-12-20 14:01] chelaruc commented on #144
@niesteszeck, For now, this will not be in the next update. Usually, we are doing changes when the minimum number of clients who ask for it is more than 5.

All the best,
Ciprian

[2017-12-20 14:01] #144 closed

[2017-12-20 14:05] niesteszeck commented on #144
@chelaruc thanks, so I'll put it on my git as a commit.

Have a great day

[2017-12-21 09:39] AkashShivanand commented on #107
I am using it inside mat-tab but, it's not working.

[2017-12-21 10:22] chelaruc commented on #151
Hi, @niesteszeck! I've made some changes to your code. Try this:
[code]
Tell me if is better!

Best,
Ciprian

[2017-12-21 12:15] niesteszeck commented on #151
Hi, @chelaruc. In wich file I have to put this, `_mixins.scss` or `_wizard-card.scss`

[2017-12-21 12:17] chelaruc commented on #151
@niesteszeck I forgot to say the file :)), in `_mixins.scss`

[2017-12-21 12:43] niesteszeck commented on #151
@chelaruc looks great, errors all always erros

[2017-12-21 12:48] niesteszeck commented on #151
@chelaruc Looks great. This way errors all always errors.
![screenshot_20171221_094728](https://user-images.githubusercontent.com/3708962/34256401-e549aeec-e633-11e7-9d2f-df00701c8e4d.png)

[2017-12-21 13:00] #151 closed

[2017-12-21 13:04] niesteszeck commented on #151
@chelaruc your code will be included?

[2017-12-21 13:06] chelaruc commented on #151
yes, it will be in v1.5.0

[2017-12-21 13:07] niesteszeck commented on #151
thks, have a great day!

[2017-12-25 10:42] GHakopian commented on #156
i fixed this in my project, add the following handler.

`
$( window ).resize( () => {
            this.deploy();
        });
public deploy = () => {
        const index = this.wizardElement.bootstrapWizard('currentIndex');
        let tabCount = this.wizardElement.find('.nav li').length;
        let  $li_width = 100/tabCount;

        let move_distance = this.wizardElement.width() / tabCount;

[2017-12-26 17:15] rohit-gandhe opened #160 "ReferenceError: $ is not defined"
Sorry for an open ended question but I am seeing this very annoying error in the console after a change I made and I do not know what change created this issue. I have made a lot of changes and can't undo all of them. What is the best way to troubleshoot this issue?

[2017-12-26 17:18] rohit-gandhe commented on #160
![image](https://user-images.githubusercontent.com/8609882/34361300-a9595f52-ea1d-11e7-9f4e-c45bf08270a0.png)

[2017-12-26 18:34] niesteszeck commented on #160
is declared?

![screenshot_20171226_153417](https://user-images.githubusercontent.com/3708962/34362427-34eccfac-ea52-11e7-9e7a-66bbfe87a212.png)

[2017-12-26 21:43] rohit-gandhe commented on #160
Yes, $ is declared.

[2017-12-27 02:39] eleventhaus commented on #137
Ok thanks for the update! Keep up the great work.

[2017-12-27 08:30] bommen commented on #160
What version of Bootstrap Material Design are you using? I got this error
when I upgraded to the latest version.
On Tue, 26 Dec 2017 at 22:43, rohit-gandhe <notifications@github.com> wrote:

[2017-12-27 15:17] rohit-gandhe commented on #160
I did not upgrade Bootstrap, but I did upgrade a bunch of Angular libs to 5.0 to comply with AngularFire and CloudFirestore.

[2017-12-27 18:20] bommen commented on #160
Not bootstrap itself, just the material design library for bootstrap. In
newer versions (4+) the calls to initialize the framework have been
changed. I haven't figured out what the new call should be.

On Wed, 27 Dec 2017 at 16:20, rohit-gandhe <notifications@github.com> wrote:

[2017-12-27 21:01] rohit-gandhe commented on #160
I think I screwed up when I commented the html in dashboard html but didn't comment the ts in dashboard component. When I comment the init and afterViewInit methods in component, the error is gone. Thanks for checking guys, I am going to close this issue.

[2017-12-27 21:01] #160 closed

[2017-12-28 08:16] drenda commented on #118
Hi @chelaruc, some news? Thanks

[2017-12-28 10:36] lippomano opened #161 "mat-select css override problem"
I have a problem similar to [issue 159](https://github.com/creativetimofficial/material-dashboard-pro-angular/issues/159) with mat-select.
The css for the active option is `.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #9c27b0 !important;
    color: #FFFFFF !important;`
And I can't override it.

Version 1.4.7 of material-dashboard-pro-angular

[2017-12-28 17:08] jeasomoza opened #162 "Starting a new project"
Good afternoon, I am new at angular and I want to implement a new project, I would like to know what are the most necessary files to start, that is, in the html format there is a folder called examples -> a file called dashboard.html in angular which modules are the necessary?

[2017-12-29 04:39] jvvosantos opened #163 "Integrate to existing angular 2 project"
I bought the PRO dashboard angular theme just earlier today and I'm having too much trouble integrating to my already existing angular2 project, how can I do it?

I can run the sample project just fine, but I want to apply the theme to my existing project

[2017-12-29 06:53] elvisgn commented on #163
I think we all have gone through the same. My way was to accept the sample project, and include my components into it, and remove what I didn't need.

[2017-12-31 04:15] rohit-gandhe commented on #160
Just for posterity in case, somebody is looking for this error. It happens whenever the compilation fails. I had a variable name wrong (schedules vs schedule$) and I got the dreaded $ is not defined. It  is a symptom of the compiled files (bundle.js) not loading properly.

[2017-12-31 05:59] douglas168 opened #164 "input.mergeMap is not a function"
Hi,

I purchased 'Material Dashboard Pro Angular' and my angular CLI is 1.6.3'.

When I run 'ng g module newModule' at the project folder, I get

input.mergeMap is not a function

What could be the problem and how do fix it?

Thanks,
Douglas

[2018-01-02 20:55] elvisgn opened #165 "Feature Request: Drag Drop"
Hi,
Trying to create a drag-and-drop between two arrays using [ng2-dragula](https://github.com/valor-software/ng2-dragula). The superset list has too many items and the parent card div expands to show them all. Is there a way to control the height of Cards and make the items scrollable.

In the css, I put a max-height and overflow-y: scroll on the div containing the items. But that isn't working.

[2018-01-03 00:20] MJules opened #166 "How to integrate the theme in my Application?"
Hello,
I developed an application with angular 5 and I would like to import the theme into it.
Can you give me the procedure?

ps: I don't want to go back from the project provided with the theme to migrate my application

Thank you

[2018-01-03 15:37] BobaFett58 commented on #156
Hello, Tim!
Another one bug with this wizard on the Account page. When you open from mobile(samsungA52016), you can't unselect checkboxes.

[2018-01-04 15:51] niesteszeck commented on #75
Hi, for everyone using my suggestion, I have to make some changes, because I was getting some stuck loader in some situations.

on `app.componenet.ts` moved the subscription to routes to ngAfterViewInit:
[code]

And on `loader.component.ts`:
[code]

[2018-01-04 19:05] tusharadha commented on #164
Hi,

I have the same problem.  I have tried many solutions but none worked so far.

Any update on this Creative tim?

Thanks

[2018-01-04 20:38] tusharadha commented on #164
Finally I was able to solve this issue.
Install devkit schematics.  I have installed 0.0.34 as it is compatible with angular cli 1.4.2.

`npm i @angular-devkit/schematics@0.0.34 --save`

if your global version of angular cli is higher I recommend you to downgrade it to the version specified into your local "`package.json`" file.

`npm remove -g @angular/cli`
and install the 1.4.2 version
`npm i -g

[2018-01-05 00:05] douglas168 commented on #164
Hi Tusharadha,

Thank you.   Yes, it is a problem with global CLI vs local CLI version.  Thank you for your answer!

[2018-01-05 00:05] #164 closed

[2018-01-05 02:01] douglas168 opened #167 "change sidebar background color"
Hi,

In the Material Dashboard Pro Angular, there is a setting on the right to change the sidebar background color and background imsage, how do I configure the downloaded package to have this feature?

Thanks!

[2018-01-05 09:18] chelaruc commented on #162
Hi, @jeasomoza! Thank you for your interest in our product! You can download the free version of [Material Dashboard Angular](https://www.creative-tim.com/product/material-dashboard-angular2) and take a look how to implement your application. All the best, Ciprian

[2018-01-05 09:18] #162 closed

[2018-01-05 09:23] chelaruc commented on #163
Hi, @jvvosantos!

Sorry for the late response. I think @elvisgn is right. You can import our scss files in your project, but I don't know if it is the best solution because you don't have our classes.

All the best,
Ciprian

[2018-01-05 09:36] chelaruc commented on #167
Hi, @douglas168!

Can you give me your email address to send you the files with fixed plugin?

All the best,
Ciprian

[2018-01-05 10:04] jeasomoza opened #168 "How do I make the selection in the view show me the option indicated in the json of Department and Municipality"
I have a select which works and shows all the options of the departments and municipalities of a country, but when I extract the previously saved information from the database and show it in the form all the text input works except for the select and the date

please help me to select the value previously saved so that if the user modifies other fields that data will go to the api as it is saved i

[2018-01-05 14:21] chelaruc opened #169 "RTL Support"
Hi guys! If you want to add RTL support you need to do this steps:
- install [bootstrap-rtl](https://www.npmjs.com/package/bootstrap-rtl) `npm install bootstrap-rtl --save`
- add `"../node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.css"` in `styles` in `angular-cli.json` after ` "../node_modules/bootstrap/dist/css/bootstrap.css"`
- unzip [_rtl.scss.zip](https://github.com/creativetimofficial/mat

[2018-01-05 23:30] AndreasHohnholt opened #170 "Missing Autocomplete example"
Hi,

is there an example? If not is there any plan to add an example?

I tried it for myself, based on this angular material example
https://stackblitz.com/angular/gopkmmxqxek?file=app%2Fautocomplete-simple-example.html

but the result was not very beautiful

[2018-01-06 00:19] douglas168 commented on #167
HI Chelaru,
Yes, my email address is douglas168@yahoo.com Thank you!
Sincerely,Douglas Kuo
Email : douglas168@yahoo.com

      From: Chelaru Ciprian <notifications@github.com>
 To: creativetimofficial/material-dashboard-pro-angular <material-dashboard-pro-angular@noreply.github.com>
Cc: douglas168 <douglas168@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Friday, January 5, 2018 5:36 PM

[2018-01-06 03:14] douglas168 commented on #167
Hi Ciprian,
Two other questions about Material dashboard Pro Angular:
1- Say I need to set the sidebar background,  how do I do it?2- Once I have the plugin, how to do configure the given colors to be more inline with brand color and customer desired background images on the sidebar? Appreciate your help!
Sincerely,Douglas Kuo
Email : douglas168@yahoo.com

      From: Chelaru Ciprian <notification

[2018-01-06 04:31] douglas168 commented on #167
Hi Ciprian,
Because of customer request, I moved the Navbar's "search form"  to inside of main content (see picture below).
In the main content, this "search form" is noticeably lower than other components on the left.   How do get the "search form" line up with other components?

 Appreciate the help!
Sincerely,Douglas Kuo
Email : douglas168@yahoo.com

[2018-01-06 10:44] johnhigginsavila commented on #153
Hi Chelaru,

I followed your instructions and still had errors. I can't even run ng
build --prod.
Do you have updates for this one? thanks

On Mon, Dec 18, 2017 at 5:45 PM, Chelaru Ciprian <notifications@github.com>
wrote: